@use 'assets/styles/helper';
@use 'assets/styles/colours' as *;

.container {
  padding-bottom: 2%;
  max-width: 100%;

  .transaction-buttons {
    padding-bottom: 1rem;
    padding-top: 1rem;

    .accruals {
      padding-top: 1%;
    }
  }

  table {
    width: 100%;

    .account-action-button {
      min-width: 26px;
      padding: 0 0 3px;
      margin: 0 2%;
      line-height: 25px;
    }

    .strike {
      text-decoration: line-through;
      color: $status-active-overdue;
    }

    .linked {
      color: $status-approved;
    }

    .accrual {
      color: $msg-default;
    }

    .down-payment {
      color: $status-downpayment;
    }

    .chargeoff {
      color: $status-chargeoff;
    }

    .reage {
      color: $status-reage;
    }

    .reamortize {
      color: $status-reamortize;
    }
  }
}

.select-row:hover {
  cursor: pointer;
  font-weight: 800;
}

.td-min-space {
  min-width: 60px;
}

.filter-box {
  min-width: 280px;
}

.transaction-button {
  min-width: 180px;
}

.action-button {
  width: 100%;
  height: 100%;
}
