@import "assets/styles/helper";

.container {
  padding-bottom: 2%;

  .transaction-buttons {
    padding-bottom: 1rem;
    padding-top: 1rem;
    .accruals {
      padding-top: 1%;
    }
  }

  table {
    width: 100%;
    .account-action-button{
      min-width: 26px;
      padding: 0 0 3px 0;
      margin: 0 2%;
      line-height: 25px;
    }
    .select-row:hover {
      cursor: pointer;
    }
    .strike {
      text-decoration: line-through;
      color: $status-active-overdue;
    }
    .linked {
      color: $status-approved;
    }
    .accrual {
      color: $msg-default;
    }
    .down-payment {
      color: $status-downpayment;
    }
    .chargeoff {
      color: $status-chargeoff;
    }
  }
}

.td-min-space {
  min-width: 60px;
}

.filter-box {
  min-width: 280px;
}

.transaction-button {
  min-width: 180px;
}
