span.required {
  color: #d9534f;
}

input{
    border-radius: 0;
}

.is-valid{
  border-color: green;
}

.is-invalid{
  border-color: red;
}

.invalid-feedback{
  color:red;
}

select{
    border-radius: 0;
}

.btn .btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc; 
  border-radius: 0;
}

.btn-default:focus, .btn-default.focus {
  color: #333;
  background-color: #fff;
  border-color: #8c8c8c; 
  border-radius: 0;
}

.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad; 
  border-radius: 0;
}

.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  color: #333;
  background-color: #fff;
  border-color: #adadad; 
  border-radius: 0;
}
.btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus {
  color: #333;
  background-color: #fff;
  border-color: #8c8c8c; 
  border-radius: 0;
}
.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  background-image: none;
 }
.btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default.focus {
  background-color: #fff;
  border-color: #ccc; 
  border-radius: 0;
}
.btn-default{
  color: #333;
  background-color: #fff;
  border-color: #8c8c8c;
  border-radius: 0;
}

#cancel{
  text-decoration: none;
}

.mat-stroked-button{
  border-radius: 0;
  color: #333;
}

.card .well{
  background-color: white;
}
