<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div fxFlexFill>
        <span fxFlex="40%">Transaction Type:</span>
        <span fxFlex="60%">{{ transactionTypeValue(paymentAllocation.transactionType) }}</span>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div fxFlexFill>

    <div fxFlexFill>
      <span fxFlex="40%">Future Installment Allocation:</span>
      <span fxFlex="60%">{{ futureInstallmentRuleValue(paymentAllocation.futureInstallmentAllocationRule) }}</span>
    </div>

    <div fxFlexFill>
      <span fxFlex="40%">Payment Allocation Order</span>
      <span fxFlex="60%">
        <table>
          <thead>
            <tr>
              <th>Order</th>
              <th>Payment Allocation Rule</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let paymentAllocation of paymentAllocation.paymentAllocationOrder; let idx = index;">
              <td>{{ (idx + 1) }}</td>
              <td>{{ allocationRuleValue(paymentAllocation.paymentAllocationRule) }}</td>
            </tr>
          </tbody>
        </table>
      </span>
    </div>
  </div>
</mat-expansion-panel>
