#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: cornflowerblue;
}

.text {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%,-50%);
	max-width: 90%;
	padding: 2em 3em;
  color: white;
	font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  font-size: 120pt;
}

#subtitle {
  font-size: 12pt;
}
