<mat-card class="container">

  <form [formGroup]="journalEntryForm" (ngSubmit)="submit()">

    <mat-card-content>

      <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

        <mat-form-field fxFlex="48%">
          <mat-select placeholder="Office" required formControlName="officeId">
            <mat-option *ngFor="let office of officeData" [value]="office.id">
              {{ office.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="48%">
          <mat-select placeholder="Currency" required formControlName="currencyCode">
            <mat-option *ngFor="let currency of currencyData" [value]="currency.code">
              {{ currency.displayLabel }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column" formArrayName="debits"
          *ngFor="let debit of getFormArrayData('debits').controls; let i = index;">

          <div fxFlexFill fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column" [formGroupName]="i">

            <mat-form-field fxFlex="48%">
              <mat-select placeholder="Affected GL Entry (Debit)" required formControlName="glAccountId">
                <mat-option *ngFor="let affectedGLEntryDebit of glAccountData" [value]="affectedGLEntryDebit.id">
                  {{ affectedGLEntryDebit.name + ' (' + affectedGLEntryDebit.glCode + ')' }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="43%">
              <input type="number" matInput placeholder="Debit Amount" required formControlName="amount">
            </mat-form-field>

            <span fxFlex>
              <button *ngIf="i !== 0" type="button" mat-icon-button (click)="removeAffectedGLEntry(journalEntryForm.get('debits'), i)"><mat-icon>remove_circle</mat-icon></button>
              <button *ngIf="i === 0" type="button" mat-icon-button color="primary" (click)="addAffectedGLEntry(journalEntryForm.get('debits'))"><mat-icon>add_circle</mat-icon></button>
            </span>

          </div>

        </div>

        <div fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column" formArrayName="credits"
          *ngFor="let credit of getFormArrayData('credits').controls; let i = index;">

          <div fxFlexFill fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column" [formGroupName]="i">

            <mat-form-field fxFlex="48%">
              <mat-select placeholder="Affected GL Entry (Credit)" required formControlName="glAccountId">
                <mat-option *ngFor="let affectedGLEntryCredit of glAccountData" [value]="affectedGLEntryCredit.id">
                  {{ affectedGLEntryCredit.name + ' (' + affectedGLEntryCredit.glCode + ')' }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="43%">
              <input type="number" matInput placeholder="Credit Amount" required formControlName="amount">
            </mat-form-field>

            <span fxFlex>
              <button *ngIf="i !== 0" type="button" mat-icon-button (click)="removeAffectedGLEntry(journalEntryForm.get('credits'), i)"><mat-icon>remove_circle</mat-icon></button>
              <button *ngIf="i === 0 glAccountData" type="button" mat-icon-button color="primary" (click)="addAffectedGLEntry(journalEntryForm.get('credits'))"><mat-icon>add_circle</mat-icon></button>
            </span>

          </div>

        </div>

        <mat-form-field fxFlex="48%">
          <input matInput placeholder="Reference Number" formControlName="referenceNumber">
        </mat-form-field>

        <mat-form-field fxFlex="48%">
          <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="transactionDatePicker" placeholder="Transaction Date" required formControlName="transactionDate">
          <mat-datepicker-toggle matSuffix [for]="transactionDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #transactionDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex="48%">
          <mat-select placeholder="Payment Type" formControlName="paymentTypeId">
            <mat-option *ngFor="let paymentType of paymentTypeData" [value]="paymentType.id">
              {{ paymentType.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="48%">
          <input matInput placeholder="Account Number" formControlName="accountNumber">
        </mat-form-field>

        <mat-form-field fxFlex="48%">
          <input matInput placeholder="Cheque Number" formControlName="checkNumber">
        </mat-form-field>

        <mat-form-field fxFlex="48%">
          <input matInput placeholder="Routing Code" formControlName="routingCode">
        </mat-form-field>

        <mat-form-field fxFlex="48%">
          <input matInput placeholder="Receipt Number" formControlName="receiptNumber">
        </mat-form-field>

        <mat-form-field fxFlex="48%">
          <input matInput placeholder="Bank Number" formControlName="bankNumber">
        </mat-form-field>

        <mat-form-field fxFlex="98%">
          <textarea matInput placeholder="Comments" formControlName="comments"></textarea>
        </mat-form-field>

      </div>

    </mat-card-content>

    <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
      <button type="button" mat-raised-button [routerLink]="['/accounting']">Cancel</button>
      <button mat-raised-button color="primary">Submit</button>
    </mat-card-actions>

  </form>

</mat-card>

