.lh-30{
    line-height: 30px;
}
.col-4{
    width: 20%;
    display: block;
    position: absolute;
    right: 10px;
    top: 30px;
}
.col-8{
    width:80%;
    display: block;;
}
.mat-input-element .mat-form-field-autofill-control .cdk-text-field-autofill-monitored{
border-bottom: 1px solid;
}
