.description-wrap {
  white-space: normal;
}

.radio-group-spacing {
  display: flex;
  gap: 2rem;
  flex-direction: row;
}

@media (width <= 768px) {
  .radio-group-spacing {
    flex-direction: column;
  }
}
