<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container">
  <mat-card>
    <form [formGroup]="passwordPreferencesForm" (ngSubmit)="submit()">
      <mat-card-content>
        <div class="password-policy-cards" role="radiogroup">
          <div
            *ngFor="let policy of passwordPolicies"
            class="policy-card"
            [class.selected]="isSelected(policy.id)"
            (click)="selectPolicy(policy.id)"
            (keydown.enter)="selectPolicy(policy.id); $event.preventDefault()"
            (keydown.space)="selectPolicy(policy.id); $event.preventDefault()"
            tabindex="0"
            role="radio"
            [attr.aria-checked]="isSelected(policy.id)"
            [attr.aria-label]="
              (policy.titleKey | translate) +
              (policy.recommended ? ' (' + ('labels.heading.Recommended' | translate) + ')' : '')
            "
          >
            <div class="card-header">
              <mat-icon class="check-icon" *ngIf="isSelected(policy.id)">check_circle</mat-icon>
              <mat-icon class="check-icon unchecked" *ngIf="!isSelected(policy.id)">radio_button_unchecked</mat-icon>
              <div class="card-title-section">
                <h3 class="card-title">
                  {{ policy.titleKey | translate }}
                  <span class="recommended-badge" *ngIf="policy.recommended">{{
                    'labels.heading.Recommended' | translate
                  }}</span>
                </h3>
              </div>
            </div>
            <p class="card-description">{{ policy.descriptionKey | translate }}</p>
          </div>
        </div>
        <mat-radio-group class="layout-column gap-10px radio-group-spacing" formControlName="validationPolicyId">
          @for (passwordPreference of passwordPreferencesData; track passwordPreference) {
            <mat-radio-button [value]="passwordPreference.id">
              <span class="description-wrap">{{
                passwordPreference.description | translateKey: 'passwordPreferences'
              }}</span>
            </mat-radio-button>
          }
        </mat-radio-group>
      </mat-card-content>

      <mat-card-actions class="layout-row align-center gap-5px responsive-column">
        <button type="button" mat-raised-button [routerLink]="['../']">
          {{ 'labels.buttons.Cancel' | translate }}
        </button>
        <button
          mat-raised-button
          color="primary"
          [disabled]="passwordPreferencesForm.pristine"
          *mifosxHasPermission="'UPDATE_PASSWORD_VALIDATION_POLICY'"
        >
          {{ 'labels.buttons.Submit' | translate }}
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
