/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.loans-overview {
  font-size: 14px;
}

.account-overview {
  min-width: 80%;
  font-weight: 400;
}

.datatable-scroll-x {
  width: 100%;
  overflow-x: auto;
}

.loan-information-table {
  margin-bottom: 10px;

  table {
    width: 100%;

    td {
      padding: 4px 0;
      vertical-align: middle;

      &:first-child {
        font-weight: 500;
        width: 180px;
      }

      i.fa-stop {
        font-size: 14px;
      }
    }
  }
}
