@import "~@angular/material/theming";

@mixin loans-view-component-theme($theme) {
  $primary: map-get($theme, primary);

  mifosx-loans-view {
    .loan-card {
      .header {
        background-color: mat-color($primary, 500);
      }
      .table-headers {
        background-color: mat-color($primary, 500);
        color: mat-contrast($primary, 500);
      }
    }
  }
}
