<div class="container mat-elevation-z8">
  <mat-card>
    <form [formGroup]="savingsUnassignStaffForm" (ngSubmit)="submit()">
      <mat-card-content>
        <mat-form-field class="flex-fill" (click)="unassignedDatePicker.open()">
          <mat-label>{{ 'labels.inputs.Unassignment Date' | translate }}</mat-label>
          <input
            matInput
            [min]="minDate"
            [max]="maxDate"
            [matDatepicker]="unassignedDatePicker"
            required
            formControlName="unassignedDate"
          />
          <mat-datepicker-toggle matSuffix [for]="unassignedDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #unassignedDatePicker></mat-datepicker>
          <mat-error *ngIf="savingsUnassignStaffForm.controls.unassignedDate.hasError('required')">
            {{ 'labels.inputs.Unassignment Date' | translate }} {{ 'labels.commons.is' | translate }}
            <strong>{{ 'labels.commons.required' | translate }}</strong>
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions class="layout-row align-center gap-5px responsive-column">
        <button type="button" mat-raised-button [routerLink]="['../../']">
          {{ 'labels.buttons.Cancel' | translate }}
        </button>
        <button mat-raised-button color="primary" [disabled]="!savingsUnassignStaffForm.valid">
          {{ 'labels.buttons.Confirm' | translate }}
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
