.tab-container {
  padding: 1%;
  margin: 1%;
  h3 {
    margin:1% auto;
  }
  .action-button {
      margin-left: auto;
  }
  table {
    width: 100%;
    .account-action-button{
      min-width: 26px;
      padding: 0 0 3px 0;
      margin: 0 10%;
      line-height: 25px;
    }
    .select-row:hover {
      cursor: pointer;
    }
  }
}
