<div class="container mat-elevation-z8">
  <mat-card>
    <mat-card-content>
      <div class="layout-column">
        <mat-form-field class="flex-fill">
          <mat-label>{{ 'labels.inputs.Note' | translate }}</mat-label>
          <textarea matInput required [formControl]="note" cdkTextareaAutosize cdkAutosizeMinRows="2"></textarea>
        </mat-form-field>
      </div>

      <mat-card-actions class="layout-row align-center gap-5px responsive-column">
        <button type="button" mat-raised-button [routerLink]="['../../general']">
          {{ 'labels.buttons.Cancel' | translate }}
        </button>
        <button mat-raised-button color="primary" (click)="submit()" *mifosxHasPermission="'DISBURSALUNDO_LOAN'">
          {{ 'labels.buttons.Submit' | translate }}
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
