<div class="container mat-elevation-z8">

  <mat-card>

    <mat-card-content>

      <div fxLayout="column">

        <mat-form-field fxFlex>
          <mat-label>{{"labels.inputs.Note"  |translate}}</mat-label>
          <textarea matInput required [formControl]="note" cdkTextareaAutosize cdkAutosizeMinRows="2"></textarea>
        </mat-form-field>

      </div>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../../general']">{{"labels.buttons.Cancel"  |translate}}</button>
        <button mat-raised-button color="primary" (click)="submit()"
          *mifosxHasPermission="'DISBURSALUNDO_LOAN'">{{"labels.buttons.Submit"  |translate}}</button>
      </mat-card-actions>

    </mat-card-content>

  </mat-card>

</div>
