table {
    width: 100%;

    .select-row:hover {
        cursor: pointer;
    }
}
  
  // TODO: CONFIGURE THESE CLASSES GLOBALLY
.is-base-lending-rate-or-active {
    color: #32cd32;
}
  
.not-is-base-lending-rate-or-active {
    color: #f44366;
}
