.container{
    max-width: 37rem;
}
.custom-radio{
    width: 20px;
    height: 20px;
}
.full-width{
    align-items: center;
    display: inline-flex;
}
.mat-option.hide {
    display: none;
  }
  .mat-label-for{
    padding: 2px 5px;
  }