.modifierKey {
    border: 1px solid #0000004d;
    padding: 0.3rem;
    background: #f8f8f8;
    font-weight: bold;
    border-radius: 0.3rem;
}

.mat-divider.mat-divider-inset {
    margin-left: 0px;
}
