/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.modifier-key {
  border: 1px solid #0000004d;
  padding: 0.3rem;
  background: #f8f8f8;
  color: #00000086;
  font-weight: bold;
  border-radius: 0.3rem;
}

.mat-divider.mat-divider-inset {
  margin-left: 0;
}
