<div *ngIf="activeClientMembers" class="layout-row-wrap gap-2percent layout-xs-column">
  <table class="flex-98" mat-table [dataSource]="dataSource">
    <!-- Check Column -->
    <ng-container matColumnDef="check">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="toggleSelects()" [(ngModel)]="selectAllItems"></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox (change)="toggleSelect()" [(ngModel)]="element.selected"></mat-checkbox>
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>{{ 'labels.inputs.Client ID' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{ 'labels.inputs.Client Name' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.displayName }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="purpose">
      <th mat-header-cell *matHeaderCellDef>{{ 'labels.inputs.Loan Purpose' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <mat-label>{{ 'labels.inputs.Select Purpose' | translate }}</mat-label>
          <mat-select [(ngModel)]="element.loanPurposeId">
            <mat-option *ngFor="let purpose of loanPurposeOptions" [value]="purpose.id">
              {{ purpose.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>{{ 'labels.inputs.Original Loan' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input type="number" matInput [(ngModel)]="element.principal" />
        </mat-form-field>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumn"></tr>
  </table>
</div>

<div class="layout-row responsive-column align-center gap-2px margin-t">
  <button mat-raised-button matStepperPrevious>
    <fa-icon icon="arrow-left" class="m-r-10"></fa-icon>
    {{ 'labels.buttons.Previous' | translate }}
  </button>
  <button mat-raised-button matStepperNext [disabled]="!loansAccountFormValid">
    {{ 'labels.buttons.Next' | translate }}
    <fa-icon icon="arrow-right" class="m-l-10"></fa-icon>
  </button>
  <button mat-raised-button *ngIf="loanId" [routerLink]="['../', 'general']">
    {{ 'labels.buttons.Cancel' | translate }}
  </button>
</div>
