.tab-container {
  padding: 1%;
  margin: 1%;
  h3 {
    margin:1% auto;
  }
  table {
    width: 100%;
    margin-top: 3%;
    .account-action-button{
      min-width: 26px;
      padding: 0 6px;
      margin: 4px;
      line-height: 25px;
    }
    .select-row:hover {
      cursor: pointer;
    }
  }
}
