<div class="container">

    <div fxLayout="row wrap" fxLayout.lt-md="column">

        <div fxFlexFill>
            <span fxFlex="50%">{{"labels.inputs.Repayment Strategy"  |translate}}:</span>
            <span fxFlex="50%">{{ loanDetails.transactionProcessingStrategyName }}</span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%">{{"labels.inputs.Repayments"  |translate}}:</span>
            <span fxFlex="50%">{{loanDetails.numberOfRepayments}} every {{loanDetails.repaymentEvery}}&nbsp;{{loanDetails.repaymentFrequencyType.value}}
            <span *ngIf="loanDetails.repaymentFrequencyType?.id == 2 && loanDetails.repaymentFrequencyNthDayType?.id != 0 && loanDetails.repaymentFrequencyDayOfWeekType?.id != 0">
              &nbsp;on&nbsp;{{loanDetails.repaymentFrequencyNthDayType?.value}}&nbsp;{{loanDetails.repaymentFrequencyDayOfWeekType?.value}}
            </span>
            </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{"labels.inputs.Amortization"  |translate}} </span>
            <span fxFlex="50%"> {{loanDetails.amortizationType.value}} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{"labels.inputs.Equal Amortization"  |translate}} </span>
            <span fxFlex="50%"> {{loanDetails.isEqualAmortization}} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{"labels.inputs.Interest"  |translate}} </span>
            <span fxFlex="50%"> {{loanDetails.annualInterestRate}} per annum ({{loanDetails.interestRatePerPeriod}}%&nbsp; {{loanDetails.interestRateFrequencyType.value}}) - {{loanDetails.interestType.value}} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{"labels.inputs.Grace: On Principal Payment"  |translate}}</span>
            <span fxFlex="50%"> {{loanDetails.graceOnPrincipalPayment}} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{"labels.inputs.Grace: On Interest Payment"  |translate}}</span>
            <span fxFlex="50%"> {{loanDetails.graceOnInterestPayment}} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{"labels.inputs.Grace on Arrears Ageing"  |translate}}</span>
            <span fxFlex="50%"> {{loanDetails.graceOnArrearsAgeing}} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{"labels.inputs.Fund Source"  |translate}}</span>
            <span fxFlex="50%"> {{loanDetails.fundName}} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{"labels.inputs.Interest Free Period"  |translate}}</span>
            <span fxFlex="50%"> {{loanDetails.graceOnInterestCharged}} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{"labels.inputs.Interest Calculation Period"  |translate}}</span>
            <span fxFlex="50%"> {{loanDetails.interestCalculationPeriodType.value}} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{"labels.inputs.Allow Partial Interest Calculation with same as repayment"  |translate}}</span>
            <span fxFlex="50%"> {{loanDetails.allowPartialPeriodInterestCalcualtion}} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{"labels.inputs.Interest Type"  |translate}}</span>
            <span fxFlex="50%"> {{loanDetails.interestType.value}} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{"labels.inputs.Submitted on"  |translate}}</span>
            <span fxFlex="50%"> {{loanDetails.timeline.submittedOnDate  | dateFormat }} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{"labels.inputs.Approved on"  |translate}}</span>
            <span fxFlex="50%"> {{loanDetails.timeline.approvedOnDate  | dateFormat }} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{"labels.inputs.Disbursed on"  |translate}}</span>
            <span fxFlex="50%"> {{loanDetails.timeline.actualDisbursementDate  | dateFormat }} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{"labels.inputs.Matures on"  |translate}}</span>
            <span fxFlex="50%"> {{loanDetails.timeline.expectedMaturityDate  | dateFormat }} </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.canDefineInstallmentAmount">
            <span fxFlex="50%"> {{"labels.inputs.Fixed EMI amount"  |translate}}</span>
            <span fxFlex="50%"> {{loanDetails.fixedEmiAmount | formatNumber}} </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.isTopup">
            <span fxFlex="50%"> {{"labels.inputs.Is Topup Loan"  |translate}}?</span>
            <span fxFlex="50%"> {{loanDetails.isTopup}} </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.isTopup">
            <span fxFlex="50%"> {{"labels.inputs.Loan closed with Topup"  |translate}} </span>
            <span fxFlex="50%"> <a href="#">{{loanDetails.closureLoanAccountNo}}</a> </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.isTopup">
            <span fxFlex="50%"> {{"labels.inputs.Topup closure amount"  |translate}}</span>
            <span fxFlex="50%"> {{loanDetails.topupAmount| formatNumber}} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{"labels.inputs.Recalculate Interest based on new terms"  |translate}}</span>
            <span fxFlex="50%">  {{loanDetails.isInterestRecalculationEnabled ? 'Yes' : 'No'  }} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{"labels.inputs.Days in year"  |translate}}</span>
            <span fxFlex="50%"> {{loanDetails.daysInYearType.value}} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{"labels.inputs.Days in month"  |translate}}</span>
            <span fxFlex="50%"> {{loanDetails.daysInMonthType.value }} </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.isInterestRecalculationEnabled">
            <span fxFlex="50%"> {{"labels.inputs.Interest recalculation compounding on"  |translate}}</span>
            <span fxFlex="50%"> {{loanDetails.interestRecalculationData.interestRecalculationCompoundingType.value}} </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.isInterestRecalculationEnabled">
            <span fxFlex="50%"> {{"labels.inputs.Advance payments adjustment type"  |translate}}</span>
            <span fxFlex="50%"> {{loanDetails.interestRecalculationData.rescheduleStrategyType.value}} </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.isInterestRecalculationEnabled">
            <span fxFlex="50%"> {{"labels.inputs.Frequency for recalculate Outstanding Principal"  |translate}}</span>
            <span fxFlex="50%"> {{loanDetails.interestRecalculationData.calendarData.humanReadable}} </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.isInterestRecalculationEnabled && loanDetails.interestRecalculationData.interestRecalculationCompoundingType.id !=0">
            <span fxFlex="50%"> {{"labels.inputs.Frequency for compounding"  |translate}}</span>
            <span fxFlex="50%"> {{loanDetails.interestRecalculationData.compoundingCalendarData.humanReadable}} </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.isVariableInstallmentsAllowed">
            <span fxFlex="50%"> {{"labels.inputs.Variable Installments Allowed"  |translate}}</span>
            <span fxFlex="50%"> {{loanDetails.isVariableInstallmentsAllowed}} </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.isVariableInstallmentsAllowed">
            <span fxFlex="50%"> {{"labels.inputs.Gap between Installments"  |translate}}</span>
            <span fxFlex="50%"> {{loanDetails.minimumGap}}&nbsp;Days&nbsp;, Max:{{loanDetails.maximumGap}}&nbsp;Days) </span>
        </div>

    </div>

</div>
