
# Fineract URLs list delimited by colon
FINERACT_API_URLS=https://dev.mifos.io,https://demo.mifos.io,https://qa.mifos.io,https://staging.mifos.io,https://mobile.mifos.io,https://demo.fineract.dev,https://localhost:8443

FINERACT_API_URL=https://localhost:8443

FINERACT_API_PROVIDER=/fineract-provider/api

FINERACT_API_VERSION=/v1

FINERACT_PLATFORM_TENANT_IDENTIFIER=default

# Tenant Identifiers list delimited by comma
FINERACT_PLATFORM_TENANTS_IDENTIFIER=default

MIFOS_DEFAULT_LANGUAGE=en-US

MIFOS_SUPPORTED_LANGUAGES=en-US,fr-FR

MIFOS_PRELOAD_CLIENTS=true

MIFOS_DEFAULT_CHAR_DELIMITER=,
