<div class="container">
  <mat-card>
    <mat-card-header class="mat-header">
      <strong style="float: left;">{{chargeData.name}}</strong>
      <button mat-raised-button color="primary" [routerLink]="['edit']" *mifosxHasPermission="'UPDATE_CHARGE'">
        <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp; Edit
      </button>
      <button mat-raised-button color="warn" (click)="deleteCharge()" *mifosxHasPermission="'DELETE_CHARGE'">
        <fa-icon icon="trash"></fa-icon>&nbsp;&nbsp; Delete
      </button>
    </mat-card-header>
    <mat-card-content>
      <table>
        <caption class="display-none">
          Rural Outlet
        </caption>
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="mat-body-strong">Charge Type</td>
            <td class="mat-body-strong">{{ chargeData.penalty === true ? 'Penalty' : 'Charge' }}</td>
          </tr>
          <tr>
            <td class="mat-body-strong">Country</td>
            <td class="mat-body-strong">{{ chargeData.countryName}}</td>
          </tr>
          <tr>
            <td class="mat-body-strong">Currency</td>
            <td class="mat-body-strong">{{ chargeData.currency.name }}</td>
          </tr>
          <tr>
            <td class="mat-body-strong">Amount</td>
            <td class="mat-body-strong">{{ chargeData.amount }}</td>
          </tr>
          <tr>
            <td class="mat-body-strong">Charge Time Type</td>
            <td class="mat-body-strong">{{ chargeData.chargeTimeType.value }}</td>
          </tr>
          <tr>
            <td class="mat-body-strong">Charge Applies To</td>
            <td class="mat-body-strong">{{ chargeData.chargeAppliesTo.value }}</td>
          </tr>
          <tr>
            <td class="mat-body-strong">Charge Calculation Type</td>
            <td class="mat-body-strong">{{ chargeData.chargeCalculationType.value }}</td>
          </tr>
          <tr>
            <td class="mat-body-strong">Charge Payment Mode</td>
            <td class="mat-body-strong">{{ chargeData.chargePaymentMode.value }}</td>
          </tr>
          <tr>
            <td class="mat-body-strong">Active</td>
            <td class="mat-body-strong">{{ chargeData.active === true ? 'Yes' : 'No' }}</td>
          </tr>
          <tr *ngIf="chargeData.feeFrequency">
            <td class="mat-body-strong">Fee Frequency</td>
            <td class="mat-body-strong">{{ chargeData.feeFrequency.value}}</td>
          </tr>
          <tr *ngIf="chargeData.feeInterval">
            <td class="mat-body-strong">Frequency Interval</td>
            <td class="mat-body-strong">{{ chargeData.feeInterval}}</td>
          </tr>
          <tr *ngIf="chargeData.extensionFrequency">
            <td class="mat-body-strong">Extension Frequency</td>
            <td class="mat-body-strong">{{ chargeData.extensionFrequency}}</td>
          </tr>
          <tr *ngIf="chargeData.incomeOrLiabilityAccount">
            <td class="mat-body-strong">Income from Charges</td>
            <td class="mat-body-strong">
              {{ chargeData.incomeOrLiabilityAccount.name + ' (' + chargeData.incomeOrLiabilityAccount.glCode + ')' }}
            </td>
          </tr>
          <tr *ngIf="chargeData.taxGroup">
            <td class="mat-body-strong">Tax Group</td>
            <td class="mat-body-strong">{{ chargeData.taxGroup.name }}</td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
</div>
