h4 {
  font-weight: 500;
  margin: 1em 0;
}

h3 {
  font-weight: 500;
}

mat-divider {
  margin: 1em 0 2em 0;
}

.margin-v {
  margin: 1em 0;
}

.margin-b {
  margin: 0 0 1em 0;
}

.margin-t {
  margin-top: 1em;
}

.margin-p {
  margin-top: 1.7em;
}
