@use 'assets/styles/helper';
@use 'assets/styles/colours' as *;

.tab-container {
  padding: 1%;
  margin: 1%;
}

.mat-h3 {
  margin-top: 10px !important;
  font-weight: 300;
  color: $status-approved;
}
