table {
  width: 100%;
}

.mat-elevation-z1 {
  margin: 1em 0 1.5em;
}

h4 {
  font-weight: 500;
  margin: 1em 0;
}

.margin-t {
  margin-top: 1em;
}

.add-option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
