.mifosx-notifications-menu {
  max-height: 20rem !important;
  width: 12.5rem !important;

  .no-notifications {
    padding: 16px;
  }

  .notification-icon {
    font-size: 24px;
    opacity: 0.8;
  }

  .mat-menu-content {
    padding: 0 !important;
  }

  [mat-menu-item] {
    height: 5rem;
    line-height: 2.2rem;

    .time {
      font-size: small;
    }

    &.unread {
      background-color: #e0f7ff !important;
    }
  }
}
