<div class="container">

  <mat-card>

    <form [formGroup]="postInterestSavingsAccountForm" (ngSubmit)="submit()">

      <mat-card-content>

        <mat-form-field fxFlex>
          <mat-label>{{ 'Transaction Date' | translate }}</mat-label>
          <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="transactionDatePicker" required
            formControlName="transactionDate">
          <mat-datepicker-toggle matSuffix [for]="transactionDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #transactionDatePicker></mat-datepicker>
          <mat-error *ngIf="postInterestSavingsAccountForm.controls.transactionDate.hasError('required')">
            {{ 'Transaction Date' | translate }} <strong>{{ 'is required' | translate }}</strong>
          </mat-error>
        </mat-form-field>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../../']">{{ 'Cancel' | translate }}</button>
        <button mat-raised-button color="primary" [disabled]="!postInterestSavingsAccountForm.valid">
          {{ 'Confirm' | translate }}
        </button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>