@media (min-width: 992px) {

  .is-active-wrapper {
    position: relative;

    .is-active {
      padding: 0 0 17.5px 0;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

table {
  width: 100%;
}
