@use '@angular/material' as mat;

@mixin savings-account-view-component-theme($theme) {
  $primary: map-get($theme, primary);
  mifosx-savings-account-view {
    .savings-account-card {
      .header {
        background-color: mat.get-color-from-palette($primary, 500);
      }
      .table-headers {
        background-color: mat.get-color-from-palette($primary, 500);
        color: mat.get-contrast-color-from-palette($primary, 500);
      }
    }
  }
}
