.table-title{
    height: 1rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    border: 0.1rem solid #E0E0E0;
  
  }
  
  mat-header-cell{
    font-weight: 900;
  }
  
  .due-savings-table{
    margin-top: 4rem;
  } 
  
  .btn-row{
    margin-top: 3rem;
  }