@import "assets/styles/helper";

.tab-container {
  padding: 1%;
  margin: 1%;
  .action-button{
      margin-left: auto;
  }
  table {
      width: 100%;
  }
}

.tobe-deleted {
  text-decoration: line-through;
  color: $orange;
}
