.container {
  .action-button {
    margin-left: 1rem;
    button {
      margin: 0.5rem;
      min-width: 30px;
      @media screen and (max-width: 500px) {
        .button-text {
          display: none;
        }
      }
    }
  }
  .search-box {
    min-width: 30px;
    margin: 4px;
  }
}

table {
  tr.select-row:hover {
    cursor: pointer;
  }
  tr:nth-child(odd).td{
    color : black;
  }
}
