<div class="container">
  <mat-stepper
    orientation="vertical"
    [linear]="false"
    class="mat-elevation-z8"
    labelPosition="bottom"
    #savingProductStepper
  >
    <ng-template matStepperIcon="number">
      <fa-icon icon="pencil-alt" size="sm"></fa-icon>
    </ng-template>

    <ng-template matStepperIcon="edit">
      <fa-icon icon="pencil-alt" size="sm"></fa-icon>
    </ng-template>

    <ng-template matStepperIcon="done">
      <fa-icon icon="check" size="sm"></fa-icon>
    </ng-template>

    <ng-template matStepperIcon="error">
      <fa-icon icon="exclamation-triangle" size="lg"></fa-icon>
    </ng-template>

    <ng-template matStepperIcon="preview">
      <fa-icon icon="eye" size="sm"></fa-icon>
    </ng-template>

    <mat-step [stepControl]="savingsAccountDetailsForm">
      <ng-template matStepLabel>{{ 'labels.inputs.DETAILS' | translate }}</ng-template>

      <mifosx-savings-account-details-step
        [savingsAccountTemplate]="savingsAccountTemplate"
        (savingsAccountProductTemplate)="setTemplate($event)"
      >
      </mifosx-savings-account-details-step>
    </mat-step>

    <mat-step [stepControl]="savingsAccountTermsForm">
      <ng-template matStepLabel>{{ 'labels.inputs.TERMS' | translate }}</ng-template>

      <mifosx-savings-account-terms-step
        [savingsAccountProductTemplate]="savingsAccountProductTemplate"
      ></mifosx-savings-account-terms-step>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>{{ 'labels.inputs.CHARGES' | translate }}</ng-template>

      <mifosx-savings-account-charges-step
        [savingsAccountProductTemplate]="savingsAccountProductTemplate"
        [savingsAccountTemplate]="savingsAccountTemplate"
        [currencyCode]="savingsAccountTermsForm.get('currencyCode')"
        [activeClientMembers]="activeClientMembers"
      >
      </mifosx-savings-account-charges-step>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>{{ 'labels.heading.Active Client Members' | translate }}</ng-template>

      <mifosx-savings-active-client-members [activeClientMembers]="activeClientMembers">
      </mifosx-savings-active-client-members>
    </mat-step>

    <mat-step *ngIf="savingsAccountFormValid" completed>
      <ng-template matStepLabel>{{ 'labels.inputs.PREVIEW' | translate }}</ng-template>

      <mifosx-savings-account-preview-step
        [savingsAccountProductTemplate]="savingsAccountProductTemplate"
        [savingsAccountTemplate]="savingsAccountTemplate"
        [savingsAccountTermsForm]="savingsAccountTermsForm"
        [savingsAccount]="savingsAccount"
        [activeClientMembers]="activeClientMembers"
        (submitEvent)="submit()"
      >
      </mifosx-savings-account-preview-step>
    </mat-step>
  </mat-stepper>
</div>
