<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<h1 mat-dialog-title>{{ data.title }}</h1>

<div
  mat-dialog-content
  [formGroup]="form"
  [ngClass]="[
    layout.columns > 1 ? 'flex flex-wrap gap-' + layout.gap + 'percent' : 'layout-column',
    'responsive-column'
  ]"
>
  @for (formfield of formfields; track formfield) {
    <div [ngClass]="'flex-' + layout.flex + ' responsive-flex-full'">
      <mifosx-formfield [formfield]="formfield" [form]="form" class="flex-fill"></mifosx-formfield>
    </div>
  }
</div>

<mat-dialog-actions class="layout-row layout-xs-column layout-align-center gap-2percent" align="end">
  <button mat-raised-button mat-dialog-close>{{ 'labels.buttons.' + layout.cancelButtonText | translate }}</button>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="{ data: form }"
    [disabled]="!form.valid || form.pristine"
  >
    {{ 'labels.buttons.' + layout.addButtonText | translate }}
  </button>
</mat-dialog-actions>
