<div class="container">

  <mat-card>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="50%">

        <mat-nav-list>

          <mat-list-item [routerLink]="['Offices']">
            <mat-icon matListIcon>
              <fa-icon icon="building" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Offices</h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Users']">
            <mat-icon matListIcon>
              <fa-icon icon="user" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Users</h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Groups']">
            <mat-icon matListIcon>
              <fa-icon icon="users" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Groups</h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Loan Accounts']">
            <mat-icon matListIcon>
              <fa-icon icon="money-bill-alt" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Loan Accounts</h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Savings Accounts']">
            <mat-icon matListIcon>
              <fa-icon icon="money-bill-alt" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Savings Accounts</h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Fixed Deposit Accounts']">
            <mat-icon matListIcon>
              <fa-icon icon="money-bill-alt" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Fixed Deposit Accounts</h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Chart of Accounts']">
            <mat-icon matListIcon>
              <fa-icon icon="money-bill-alt" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Chart of Accounts</h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Share Accounts']">
            <mat-icon matListIcon>
              <fa-icon icon="money-bill-alt" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Share Accounts</h4>
          </mat-list-item>

        </mat-nav-list>

      </div>

      <div fxFlex="50%">

        <mat-nav-list>

          <mat-list-item [routerLink]="['Employees']">
            <mat-icon matListIcon>
              <fa-icon icon="user" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Employees</h4>
          </mat-list-item>


          <mat-list-item [routerLink]="['Clients']">
            <mat-icon matListIcon>
              <fa-icon icon="user" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Clients</h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Centers']">
            <mat-icon matListIcon>
              <fa-icon icon="users" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Centers</h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Loan Repayments']">
            <mat-icon matListIcon>
              <fa-icon icon="chevron-right" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Loan Repayments</h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Savings Transactions']">
            <mat-icon matListIcon>
              <fa-icon icon="chevron-right" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Savings Transactions</h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Fixed Deposit Transactions']">
            <mat-icon matListIcon>
              <fa-icon icon="chevron-right" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Fixed Deposit Transactions</h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Recurring Deposit Transactions']">
            <mat-icon matListIcon>
              <fa-icon icon="chevron-right" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Recurring Deposit Transactions</h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Journal Entries']">
            <mat-icon matListIcon>
              <fa-icon icon="chevron-right" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Journal Entries</h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Guarantors']">
            <mat-icon matListIcon>
              <fa-icon icon="chevron-right" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Guarantors</h4>
          </mat-list-item>

        </mat-nav-list>

      </div>

    </div>

  </mat-card>

</div>
