.container {
  max-width: 37rem;

  .title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-left: -15px;
  }
}

.mat-list-base {
  padding-top: 0px;
}

a{
  text-decoration: none;
  color: black
}
