.content {
  div {
    line-height: 3rem;

    &.header {
      font-weight: 500;
    }
  }
}

.container {
  max-width: 75rem;
}

table {
  width: 98%;

  .select-row:hover {
    cursor: pointer;
  }
}

.action-bar {
  width: 98%;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
