<div class="container m-t-40 m-b-40">

 <aw-wizard class="m-t-10" #wizard [navBarLayout]="'large-empty-symbols'">
  <aw-wizard-step stepTitle="Title of step 1" [navigationSymbol]="{ symbol: '1' }">


      <div  fxLayoutAlign="center">
          <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                  <form class="example-form">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Company (disabled)" disabled value="Google">
                      </mat-form-field>
                    
                      <table class="example-full-width" cellspacing="0"><tr>
                        <td><mat-form-field class="example-full-width">
                          <input matInput placeholder="First name">
                        </mat-form-field></td>
                        <td><mat-form-field class="example-full-width">
                          <input matInput placeholder="Long Last Name That Will Be Truncated">
                        </mat-form-field></td>
                      </tr></table>
                    
                      <p>
                        <mat-form-field class="example-full-width">
                          <textarea matInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <textarea matInput placeholder="Address 2"></textarea>
                        </mat-form-field>
                      </p>
                    
                      <table class="example-full-width" cellspacing="0"><tr>
                        <td><mat-form-field class="example-full-width">
                          <input matInput placeholder="City">
                        </mat-form-field></td>
                        <td><mat-form-field class="example-full-width">
                          <input matInput placeholder="State">
                        </mat-form-field></td>
                        <td><mat-form-field class="example-full-width">
                          <input matInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
                          <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                        </mat-form-field></td>
                      </tr></table>
                    </form>
                    
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>
            
         
        </div>


  </aw-wizard-step>
  <!-- <aw-wizard-step stepTitle="Title of step 2" [navigationSymbol]="{ symbol: '2' }" >
      <div class="col-sm-6 mx-auto">
          <div class="card mt-5">
        <div class="card-body">
              <form>
                <fieldset>

                  <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input readonly="" class="form-control-plaintext" id="staticEmail" value="email@example.com" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" type="email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input class="form-control" id="exampleInputPassword1" placeholder="Password" type="password">
                  </div>
                  <div class="form-group">
                    <label for="exampleSelect1">Example select</label>
                    <select class="form-control" id="exampleSelect1">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleSelect2">Example multiple select</label>
                    <select multiple="" class="form-control" id="exampleSelect2">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleTextarea">Example textarea</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" type="file">
                    <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
                  </div>
                  <fieldset class="form-group">
                    <legend>Radio buttons</legend>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="" type="radio">
                        Option one is this and that—be sure to include why it's great
                      </label>
                    </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2" type="radio">
                        Option two can be something else and selecting it will deselect option one
                      </label>
                    </div>
                    <div class="form-check disabled">
                    <label class="form-check-label">
                        <input class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled="" type="radio">
                        Option three is disabled
                      </label>
                    </div>
                  </fieldset>
                  <fieldset class="form-group">
                    <legend>Checkboxes</legend>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" value="" checked="" type="checkbox">
                        Option one is this and that—be sure to include why it's great
                      </label>
                    </div>
                    <div class="form-check disabled">
                      <label class="form-check-label">
                        <input class="form-check-input" value="" disabled="" type="checkbox">
                        Option two is disabled
                      </label>
                    </div>
                  </fieldset>
                </fieldset>
              </form>

              <button type="button" class="btn btn-primary float-left" awPreviousStep>Go to previous step</button>
              <button type="button" class="btn btn-primary float-right" awNextStep>Go to next step</button>
              </div>
            </div>
          </div>

  </aw-wizard-step>
  <aw-wizard-step stepTitle="Title of step 3" [navigationSymbol]="{ symbol: '3' }">
    Content of Step 3
    <button type="button" class="btn btn-primary"  awPreviousStep>Previous Step</button>
    <button type="button" class="btn btn-primary" >Finish</button>
  </aw-wizard-step>
</aw-wizard>
</div> 
<div class="container">

 <aw-wizard class="mt-5" #wizard [navBarLayout]="'large-empty-symbols'">
  <aw-wizard-step stepTitle="Title of step 1" [navigationSymbol]="{ symbol: '1' }">

          <div class="col-sm-6 mx-auto">
              <div class="card mt-5">
    <div class="card-body">
      <div class="form-group">
          <fieldset disabled="">
            <label class="control-label" for="disabledInput">Disabled input</label>
            <input class="form-control" id="disabledInput" placeholder="Disabled input here..." disabled="" type="text">
          </fieldset>
        </div>

        <div class="form-group">
          <fieldset>
            <label class="control-label" for="readOnlyInput">Readonly input</label>
            <input class="form-control" id="readOnlyInput" placeholder="Readonly input here…" readonly="" type="text">
          </fieldset>
        </div>

        <div class="form-group has-success">
          <label class="form-control-label" for="inputSuccess1">Valid input</label>
          <input value="correct value" class="form-control is-valid" id="inputValid" type="text">
          <div class="valid-feedback">Success! You've done it.</div>
        </div>

        <div class="form-group has-danger">
          <label class="form-control-label" for="inputDanger1">Invalid input</label>
          <input value="wrong value" class="form-control is-invalid" id="inputInvalid" type="text">
          <div class="invalid-feedback">Sorry, that username's taken. Try another?</div>
        </div>

        <div class="form-group">
          <label class="col-form-label col-form-label-lg" for="inputLarge">Large input</label>
          <input class="form-control form-control-lg" placeholder=".form-control-lg" id="inputLarge" type="text">
        </div>

        <div class="form-group">
          <label class="col-form-label" for="inputDefault">Default input</label>
          <input class="form-control" placeholder="Default input" id="inputDefault" type="text">
        </div>

        <div class="form-group">
          <label class="col-form-label col-form-label-sm" for="inputSmall">Small input</label>
          <input class="form-control form-control-sm" placeholder=".form-control-sm" id="inputSmall" type="text">
        </div>

        <div class="form-group">
          <label class="control-label">Input addons</label>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input class="form-control" aria-label="Amount (to the nearest dollar)" type="text">
              <div class="input-group-append">
                <span class="input-group-text">.00</span>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-primary float-right" awNextStep>Next Step</button>
        </div>
      </div>
    </div>


  </aw-wizard-step>
  <aw-wizard-step stepTitle="Title of step 2" [navigationSymbol]="{ symbol: '2' }" >
     

  </aw-wizard-step>
  <aw-wizard-step stepTitle="Title of step 3" [navigationSymbol]="{ symbol: '3' }">
    Content of Step 3
    <button type="button" class="btn btn-primary"  awPreviousStep>Previous Step</button>
    <button type="button" class="btn btn-primary" >Finish</button>
  </aw-wizard-step> -->
</aw-wizard>
</div> 
