<div class="container">

  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px" class="action-buttons">
    <button mat-raised-button color="primary" [routerLink]="['../actions/Add Collateral']">
      Add Collateral
    </button>
  </div>

  <div fxLayout="row" fxLayoutGap="32px" *ngIf="loanCollaterals?.length > 0" class="performance-history-container">
    <table>
      <tbody>
        <tr>
          <td fxFlex="25%">
            <b>Number of Collaterals :</b>
          </td>
          <td fxFlex="25%" class="left">
            {{loanCollaterals?.length | formatNumber}}
          </td>
          <td fxFlex="25%">
            <b>Total Amount :</b>
          </td>
          <td fxFlex="25%" class="left">
            {{totalAmount | formatNumber}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <table mat-table *ngIf="loanCollaterals?.length > 0" [dataSource]="loanCollaterals">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let ele"> {{ ele.id }} </td>
    </ng-container>

    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef> Currency </th>
      <td mat-cell *matCellDef="let ele"> {{ ele.currency.code }} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let ele"> {{ ele.description }} </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> Total Value </th>
      <td mat-cell *matCellDef="let ele"> {{ ele.value | currency:currencyCode:'symbol-narrow':'1.2-2' }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
