<div class="container">
  <div *ngIf="isLoading" class="loader-wrapper">
    <div class="bottom triangle"></div>
    <div class="top triangle"></div>
    <div class="left triangle"></div>
    <div class="right triangle"></div>
  </div>
  <mat-card *ngIf="!isLoading">
    <mat-card-content>
      <div class="layout-row-wrap responsive-column">
        <h3 class="mat-h3 flex-fill">{{ 'labels.heading.Transferring From Details' | translate }}</h3>

        <mat-divider [inset]="true"></mat-divider>

        <div class="flex-fill">
          <span class="flex-40">{{ 'labels.inputs.Applicant' | translate }}</span>
          <span class="flex-60">{{ accountTransferTemplateData.fromClient.displayName }}</span>
        </div>

        <div class="flex-fill">
          <span class="flex-40">{{ 'labels.inputs.Office' | translate }}</span>
          <span class="flex-60">{{ accountTransferTemplateData.fromOffice.name }}</span>
        </div>

        <div class="flex-fill">
          <span class="flex-40">{{ 'labels.inputs.From Account' | translate }}</span>
          <span class="flex-60"
            >{{ accountTransferTemplateData.fromAccount.productName }}&nbsp;-&nbsp;#{{
              accountTransferTemplateData.fromAccount.accountNo
            }}</span
          >
        </div>

        <div class="flex-fill">
          <span class="flex-40">{{ 'labels.inputs.From Account Type' | translate }}</span>
          <span class="flex-60">{{ accountTransferTemplateData.fromAccountType.value }}</span>
        </div>

        <div class="flex-fill">
          <span class="flex-40">{{ 'labels.inputs.Currency' | translate }}</span>
          <span class="flex-60">{{ accountTransferTemplateData.currency.name }}</span>
        </div>
      </div>

      <div *ngIf="interbank">
        <div class="flex-fill">
          <h3 class="mat-h3 flex-40 align-start-center">
            {{ 'labels.heading.Transferred To' | translate }}
          </h3>
          <mat-form-field class="flex-40">
            <mat-label>{{ 'labels.inputs.Phone Number' | translate }}</mat-label>
            <input
              matInput
              [disabled]="interbankTransferForm"
              type="tel"
              #input
              [(ngModel)]="phoneAccount"
              maxlength="10"
              required
            /><!-- formControlName="phoneNumber" -->
            <mat-hint align="end">{{ phoneAccount.length || 0 }}/10</mat-hint>
          </mat-form-field>
        </div>

        <mat-card-actions *ngIf="!interbankTransferForm" class="layout-row align-center gap-5px responsive-column">
          <button type="button" mat-raised-button [routerLink]="['../..']">
            {{ 'labels.buttons.Cancel' | translate }}
          </button>
          <button
            mat-raised-button
            color="primary"
            [disabled]="phoneAccount.length !== 10"
            (click)="searchAccountByNumber()"
            *mifosxHasPermission="'CREATE_ACCOUNTTRANSFER'"
            id="search-button"
          >
            {{ 'labels.buttons.Search' | translate }}
          </button>
        </mat-card-actions>
      </div>

      <mat-divider [inset]="true"></mat-divider>

      <form *ngIf="!interbank" [formGroup]="makeAccountTransferForm">
        <div class="layout-row-wrap gap-2px responsive-column">
          <mat-form-field class="flex-98" (click)="transferDatePicker.open()">
            <mat-label>{{ 'labels.inputs.Transaction Date' | translate }}</mat-label>
            <input
              matInput
              [min]="minDate"
              [max]="maxDate"
              [matDatepicker]="transferDatePicker"
              required
              formControlName="transferDate"
            />
            <mat-datepicker-toggle matSuffix [for]="transferDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #transferDatePicker></mat-datepicker>
            <mat-error *ngIf="makeAccountTransferForm.controls.transferDate.hasError('required')">
              {{ 'labels.inputs.Transaction Date' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="flex-98">
            <mat-label>{{ 'labels.inputs.Office' | translate }}</mat-label>
            <mat-select required formControlName="toOfficeId" (selectionChange)="changeEvent()">
              <mat-option *ngFor="let toOfficeType of toOfficeTypeData" [value]="toOfficeType.id">
                {{ toOfficeType.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="makeAccountTransferForm.controls.toOfficeId.hasError('required')">
              {{ 'labels.inputs.Office' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="flex-98">
            <mat-label>{{ 'labels.inputs.Client' | translate }}</mat-label>
            <input matInput formControlName="toClientId" [matAutocomplete]="clientsAutocomplete" />
            <mat-error *ngIf="makeAccountTransferForm.controls.toClientId.hasError('required')">
              {{ 'labels.inputs.Client' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-autocomplete autoActiveFirstOption #clientsAutocomplete="matAutocomplete" [displayWith]="displayClient">
            <mat-option *ngFor="let client of clientsData" [value]="client">
              {{ client.id }} - {{ client.displayName }}
            </mat-option>
          </mat-autocomplete>

          <mat-form-field class="flex-98">
            <mat-label>{{ 'labels.inputs.Account Type' | translate }}</mat-label>
            <mat-select required formControlName="toAccountType" (selectionChange)="changeEvent()">
              <mat-option *ngFor="let toAccountType of toAccountTypeData" [value]="toAccountType.id">
                {{ toAccountType.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="makeAccountTransferForm.controls.toAccountType.hasError('required')">
              {{ 'labels.inputs.Account Type' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="flex-98">
            <mat-label>{{ 'labels.inputs.Account' | translate }}</mat-label>
            <mat-select required formControlName="toAccountId" (selectionChange)="changeEvent()">
              <mat-option *ngFor="let toAccount of toAccountData" [value]="toAccount.id">
                {{ toAccount.productName }} - {{ toAccount.accountNo }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="makeAccountTransferForm.controls.toAccountId.hasError('required')">
              {{ 'labels.inputs.Account' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="flex-98">
            <mat-label>{{ 'labels.inputs.Amount' | translate }}</mat-label>
            <input type="number" matInput required formControlName="transferAmount" />
            <mat-error *ngIf="makeAccountTransferForm.controls.transferAmount.hasError('required')">
              {{ 'labels.inputs.Amount' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
            <mat-error *ngIf="makeAccountTransferForm.get('transferAmount')?.hasError('amountExceedsBalance')">
              <fa-icon icon="exclamation-triangle" size="md"></fa-icon>
              {{ 'errors.validation.msg.savingsproduct.insufficient.balance' | translate: { balance } }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="flex-98">
            <mat-label>{{ 'labels.inputs.Description' | translate }}</mat-label>
            <textarea
              matInput
              formControlName="transferDescription"
              cdkTextareaAutosize
              cdkAutosizeMinRows="2"
            ></textarea>
            <mat-error *ngIf="makeAccountTransferForm.controls.transferDescription.hasError('required')">
              {{ 'labels.inputs.Transfer Description' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </form>
      <mifosx-make-account-interbank-transfers
        *ngIf="interbank && interbankTransferForm"
        [makeAccountTransferForm]="makeAccountTransferForm"
        [balance]="balance"
      ></mifosx-make-account-interbank-transfers>
    </mat-card-content>

    <mat-card-actions *ngIf="!interbankTransferForm" class="layout-row align-center gap-5px responsive-column">
      <button type="button" mat-raised-button [routerLink]="['../..']">
        {{ 'labels.buttons.Cancel' | translate }}
      </button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!makeAccountTransferForm.valid"
        *mifosxHasPermission="'CREATE_ACCOUNTTRANSFER'"
        (click)="submit()"
      >
        {{ 'labels.buttons.Submit' | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
