@import "assets/styles/helper";

.tab-container {
  padding: 1%;
  margin: 1%;
}

.mat-h3 {
  margin-top: 10px !important;
  font-weight: 300;
  color: $status-approved;
}

.mat-h4 {
  margin-top: 10px !important;
  font-weight: 200;
  color: $status-approved;
}
