.tab-container {
  padding: 1%;
  margin: 1%;

  h3{
    margin:1% auto;
  }
  .summary-details-container {
    border: 1px solid;
    padding: 1%;
  }

  table {
    width: 100%;
    .account-action-button{
      min-width: 26px;
      padding: 0 6px;
      margin: 4px;
      line-height: 25px;
    }
  }
}

.closedCenter {
  text-align: center;
  color: red;
  font-size: 2rem;
}
