.card {
  box-sizing: border-box;
  padding: 2%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  .search {
    width: 100%;
    padding: 12px;

    mat-card-content {
      width: 100%;
    }

    mat-form-field {
      width: 100%;
    }
  }

  .top-card {
    flex: 1 0 100%;

    .trends-bar {
      width: 100%;
      flex: 1 0 100%;
    }
  }

  .bottom-card {
    display: flex;
    flex-flow: row wrap;
    gap: 2px;

    .amount-collected,
    .amount-disbursed {
      flex: 1 0 calc(40% - 10px);
      padding: 0;
      margin: 10px;
    }
  }
}

@media screen and (width <= 768px) {
  .top-card,
  .bottom-card {
    flex-direction: column;

    .trends-bar,
    .amount-collected,
    .amount-disbursed {
      flex: 1 0 100%;
      width: 100%;
      margin: 10px 0;
    }
  }
}
