table {
  width: 100%;
}

.mat-elevation-z1 {
  margin: 1em 0 1.5em 0;
}

.margin-t {
  margin-top: 1em;
}

h4 {
  font-weight: 500;
  margin: 1em 0;
}

h3 {
  font-weight: 500;
}

mat-divider {
  margin: 1em 0 1em 0;
}

.margin-v {
  margin: 1em 0;
}

.margin-b {
  margin: 0 0 1em 0;
}

.tableName {
    padding-left: 2%;
}
