<h1 mat-dialog-title>Edit Fund</h1>
<div>
  <form #formRef="ngForm" [formGroup]="editForm">
    <mat-form-field>
      <textarea formControlName="name" matInput placeholder="fund ...."></textarea>
    </mat-form-field>
    <mat-dialog-actions align="end">
      <button mat-raised-button mat-dialog-close>Cancel</button>
      <button mat-raised-button color="primary" [disabled]="!editForm.valid"
        [mat-dialog-close]="{ editForm: editForm }">Confirm</button>
    </mat-dialog-actions>
  </form>
</div>