table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.btn-group {
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 5px;
}

.table-bordered {
  border: 1px solid #ddd;
}

.heading {
  margin-left: 10px;
  font-size:24px;
}
