<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

@if (!emptyValue) {
  <span (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
    @if (displayL && iconVisible && !hideCopy) {
      <span (click)="copyValue()"><fa-icon icon="copy" size="sm" title="Copy External Id"></fa-icon></span>
    }
    @if (displayL && !completed && iconVisible && isLongValue()) {
      <span class="m-l-3" (click)="showValue()"><fa-icon icon="eye" size="sm" [title]="externalId"></fa-icon></span>
    }
    @if (!completed) {
      <span class="m-l-5" (click)="showValue()">{{ externalId }}</span>
    }
    @if (completed) {
      <span (click)="showValue()">{{ externalId }}</span>
    }
    @if (displayR && !completed && iconVisible && isLongValue()) {
      <span class="m-l-5" (click)="showValue()"><fa-icon icon="eye" size="sm" [title]="externalId"></fa-icon></span>
    }
    @if (displayR && iconVisible && !hideCopy) {
      <span class="m-l-3" (click)="copyValue()"
        ><fa-icon icon="copy" size="sm" title="Copy External Id"></fa-icon
      ></span>
    }
  </span>
}
