<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->
<mat-form-field class="flex-fill align-center" id="tenant-selector" appearance="fill">
  <mat-label>{{ 'labels.inputs.Tenant' | translate }}</mat-label>
  <mat-select [formControl]="tenantSelector" (selectionChange)="setTenantIdentifier()" class="tenantselector">
    @for (tenant of tenants; track tenant) {
      <mat-option [value]="tenant">
        {{ tenant | titlecase }}
      </mat-option>
    }
  </mat-select>
  <mifosx-m3-icon matIconPrefix name="domain"></mifosx-m3-icon>
</mat-form-field>
