<form [formGroup]="savingProductAccountingForm">

  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

    <mat-radio-group fxFlex="98%" fxLayout="row" fxLayoutGap="5%" fxLayout.lt-md="column" formControlName="accountingRule">
      <mat-radio-button *ngFor="let accountingRule of accountingRuleData; let i =  index" [value]="i+1">
        {{ accountingRule }}
      </mat-radio-button>
    </mat-radio-group>

    <mat-divider fxFlex="98%"></mat-divider>

    <div *ngIf="savingProductAccountingForm.value.accountingRule === 2" fxFlexFill fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

      <h4 fxFlex="98%" class="mat-h4">Assets</h4>

      <mat-form-field fxFlex="48%">
        <mat-label>Saving reference</mat-label>
        <input type="text"
           matInput
           required
           [formControl]="savingProductAccountingForm.get('savingsReferenceAccountId')"
           [matAutocomplete]="savingReferenceAuto">
        <mat-autocomplete 
          #savingReferenceAuto="matAutocomplete" 
          [displayWith]="dispAutoSelectedOptn.bind(this, 'savingReference')"
          (optionSelected)="updateField($event, 'savingsReferenceAccountId')">
          <mat-option 
            *ngFor="let assetAccount of savingReferenceFiltered | async" 
            [value]="assetAccount.id"
          >
            {{ assetAccount.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="savingProductAccountingForm.get('savingsReferenceAccountId').errors?.required">
          Saving reference is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="savingProductAccountingForm.get('savingsReferenceAccountId').hasError('autoSelect')">
          Please Select a valid option from the list
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="48%">
        <mat-label>Overdraft portfolio</mat-label>
        <input type="text"
          matInput
          required
          [formControl]="savingProductAccountingForm.get('overdraftPortfolioControlId')"
          [matAutocomplete]="overdraftPortfolioAuto">
        <mat-autocomplete
          #overdraftPortfolioAuto="matAutocomplete"
          [displayWith]="dispAutoSelectedOptn.bind(this, 'overdraftPortfolio')"
          (optionSelected)="updateField($event, 'overdraftPortfolioControlId')">
          <mat-option 
            *ngFor="let assetAccount of overdraftPortfolioFiltered | async" 
            [value]="assetAccount.id"
          >
            {{ assetAccount.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="savingProductAccountingForm.get('overdraftPortfolioControlId').errors?.required">
          Overdraft portfolio is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="savingProductAccountingForm.get('overdraftPortfolioControlId').hasError('autoSelect')">
          Please Select a valid option from the list
        </mat-error>
      </mat-form-field>

      <mat-divider fxFlex="98%"></mat-divider>

      <h4 fxFlex="98%" class="mat-h4">Liabilities</h4>

      <mat-form-field fxFlex="48%">
        <mat-label>Saving control</mat-label>
        <input type="text"
          matInput
          required
          [formControl]="savingProductAccountingForm.get('savingsControlAccountId')"
          [matAutocomplete]="savingControlAuto">
        <mat-autocomplete
          #savingControlAuto="matAutocomplete"
          [displayWith]="dispAutoSelectedOptn.bind(this, 'savingControl')"
          (optionSelected)="updateField($event, 'savingsControlAccountId')">
          <mat-option 
            *ngFor="let liabilityAccount of savingControlFiltered | async" 
            [value]="liabilityAccount.id"
          >
            {{ liabilityAccount.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="savingProductAccountingForm.get('savingsControlAccountId').errors?.required">
          Saving control is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="savingProductAccountingForm.get('savingsControlAccountId').hasError('autoSelect')">
          Please Select a valid option from the list
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="48%">
        <mat-label>Savings transfers in suspense</mat-label>
        <input type="text"
          matInput
          required
          [formControl]="savingProductAccountingForm.get('transfersInSuspenseAccountId')"
          [matAutocomplete]="savingTransfersSuspenseAuto">
        <mat-autocomplete
          #savingTransfersSuspenseAuto="matAutocomplete"
          [displayWith]="dispAutoSelectedOptn.bind(this, 'savingTransfersSuspense')"
          (optionSelected)="updateField($event, 'transfersInSuspenseAccountId')">
          <mat-option 
            *ngFor="let liabilityAccount of savingTransfersSuspenseFiltered | async" 
            [value]="liabilityAccount.id"
          >
            {{ liabilityAccount.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="savingProductAccountingForm.get('transfersInSuspenseAccountId').errors?.required">
          Savings transfers in suspense is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="savingProductAccountingForm.get('transfersInSuspenseAccountId').hasError('autoSelect')">
          Please Select a valid option from the list
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="48%" *ngIf="isDormancyTrackingActive.value">
        <mat-label>Escheat liability</mat-label>
        <input type="text"
          matInput
          required
          [formControl]="savingProductAccountingForm.get('escheatLiabilityId')"
          [matAutocomplete]="escheatLiabilityAuto">
        <mat-autocomplete
          #escheatLiabilityAuto="matAutocomplete"
          [displayWith]="dispAutoSelectedOptn.bind(this, 'escheatLiability')"
          (optionSelected)="updateField($event, 'escheatLiabilityId')">
          <mat-option 
            *ngFor="let liabilityAccount of escheatLiabilityFiltered | async" 
            [value]="liabilityAccount.id"
          >
            {{ liabilityAccount.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="savingProductAccountingForm.get('escheatLiabilityId').errors?.required">
          Escheat liability is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="savingProductAccountingForm.get('escheatLiabilityId').hasError('autoSelect')">
          Please Select a valid option from the list
        </mat-error>
      </mat-form-field>

      <mat-divider fxFlex="98%"></mat-divider>

      <h4 fxFlex="98%" class="mat-h4">Expenses</h4>

      <mat-form-field fxFlex="48%">
        <mat-label>Interest on savings</mat-label>
        <input type="text"
          matInput
          required
          [formControl]="savingProductAccountingForm.get('interestOnSavingsAccountId')"
          [matAutocomplete]="interestOnSavingsAuto">
        <mat-autocomplete
          #interestOnSavingsAuto="matAutocomplete"
          [displayWith]="dispAutoSelectedOptn.bind(this, 'interestOnSavings')"
          (optionSelected)="updateField($event, 'interestOnSavingsAccountId')">
          <mat-option 
            *ngFor="let expenseAccount of interestOnSavingsFiltered | async" 
            [value]="expenseAccount.id"
          >
            {{ expenseAccount.name }}
          </mat-option>
        </mat-autocomplete>

        <mat-error *ngIf="savingProductAccountingForm.get('interestOnSavingsAccountId').errors?.required">
          Interest on savings is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="savingProductAccountingForm.get('interestOnSavingsAccountId').hasError('autoSelect')">
          Please Select a valid option from the list
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="48%">
        <mat-label>Write-off</mat-label>
        <input type="text"
          matInput
          required
          [formControl]="savingProductAccountingForm.get('writeOffAccountId')"
          [matAutocomplete]="writeOffAuto">
        <mat-autocomplete
          #writeOffAuto="matAutocomplete"
          [displayWith]="dispAutoSelectedOptn.bind(this, 'writeOff')"
          (optionSelected)="updateField($event, 'writeOffAccountId')">
          <mat-option 
            *ngFor="let expenseAccount of writeOffFiltered | async" 
            [value]="expenseAccount.id"
          >
            {{ expenseAccount.name }}
          </mat-option>
        </mat-autocomplete>

        <mat-error *ngIf="savingProductAccountingForm.get('writeOffAccountId').errors?.required">
          Write-off is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="savingProductAccountingForm.get('writeOffAccountId').hasError('autoSelect')">
          Please Select a valid option from the list
        </mat-error>
      </mat-form-field>

      <mat-divider fxFlex="98%"></mat-divider>

      <h4 fxFlex="98%" class="mat-h4">Income</h4>

      <mat-form-field fxFlex="48%">
        <mat-label>Income from fees</mat-label>
        <input type="text"
          matInput
          required
          [formControl]="savingProductAccountingForm.get('incomeFromFeeAccountId')"
          [matAutocomplete]="incomeFromFeeAuto">
        <mat-autocomplete
          #incomeFromFeeAuto="matAutocomplete"
          [displayWith]="dispAutoSelectedOptn.bind(this, 'incomeFromFee')"
          (optionSelected)="updateField($event, 'incomeFromFeeAccountId')">
          <mat-option 
            *ngFor="let incomeAccount of incomeFromFeeFiltered | async" 
            [value]="incomeAccount.id"
          >
            {{ incomeAccount.name }}
          </mat-option>
        </mat-autocomplete>

        <mat-error *ngIf="savingProductAccountingForm.get('incomeFromFeeAccountId').errors?.required">
          Income from fees Repayments is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="savingProductAccountingForm.get('incomeFromFeeAccountId').hasError('autoSelect')">
          Please Select a valid option from the list
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="48%">
        <mat-label>Income from penalties</mat-label>
        <input type="text"
          matInput
          required
          [formControl]="savingProductAccountingForm.get('incomeFromPenaltyAccountId')"
          [matAutocomplete]="incomeFromPenaltyAuto">
        <mat-autocomplete
          #incomeFromPenaltyAuto="matAutocomplete"
          [displayWith]="dispAutoSelectedOptn.bind(this, 'incomeFromPenalty')"
          (optionSelected)="updateField($event, 'incomeFromPenaltyAccountId')">
          <mat-option 
            *ngFor="let incomeAccount of incomeFromPenaltyFiltered | async" 
            [value]="incomeAccount.id"
          >
            {{ incomeAccount.name }}
          </mat-option>
        </mat-autocomplete>

        <mat-error *ngIf="savingProductAccountingForm.get('incomeFromPenaltyAccountId').errors?.required">
          Income from penalties is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="savingProductAccountingForm.get('incomeFromPenaltyAccountId').hasError('autoSelect')">
          Please Select a valid option from the list
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="48%">
        <mat-label>Overdraft Interest Income</mat-label>
        <input type="text"
          matInput
          required
          [formControl]="savingProductAccountingForm.get('incomeFromInterestId')"
          [matAutocomplete]="incomeFromInterestAuto">
        <mat-autocomplete
          #incomeFromInterestAuto="matAutocomplete"
          [displayWith]="dispAutoSelectedOptn.bind(this, 'incomeFromInterest')"
          (optionSelected)="updateField($event, 'incomeFromInterestId')">
          <mat-option 
            *ngFor="let incomeAccount of incomeFromInterestFiltered | async" 
            [value]="incomeAccount.id"
          >
            {{ incomeAccount.name }}
          </mat-option>
        </mat-autocomplete>

        <mat-error *ngIf="savingProductAccountingForm.get('incomeFromInterestId').errors?.required">
          Overdraft Interest Income is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="savingProductAccountingForm.get('incomeFromInterestId').hasError('autoSelect')">
          Please Select a valid option from the list
        </mat-error>
      </mat-form-field>

      <mat-divider fxFlex="98%"></mat-divider>

      <h3 fxFlex="23%" class="mat-h3">Advanced Accounting Rules</h3>

      <mat-checkbox fxFlex="73%" formControlName="advancedAccountingRules"></mat-checkbox>

      <div *ngIf="savingProductAccountingForm.value.advancedAccountingRules" fxFlexFill fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

        <h4 fxFlex="33%" class="mat-h4">Configure Fund Sources for Payment Channels</h4>

        <div fxFlex="63%">
          <button type="button" mat-raised-button color="primary" (click)="add('PaymentFundSource', paymentChannelToFundSourceMappings)">
            <fa-icon icon="plus"></fa-icon>&nbsp;&nbsp;
            Add
          </button>
        </div>

        <table fxFlex="98%" class="mat-elevation-z1" mat-table [dataSource]="paymentChannelToFundSourceMappings.value" *ngIf="paymentChannelToFundSourceMappings.value.length !== 0">

          <ng-container matColumnDef="paymentTypeId">
            <th mat-header-cell *matHeaderCellDef> Payment Type </th>
            <td mat-cell *matCellDef="let paymentFundSource">
              {{ paymentFundSource.paymentTypeId | find:paymentTypeData:'id':'name' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="fundSourceAccountId">
            <th mat-header-cell *matHeaderCellDef> Fund Source </th>
            <td mat-cell *matCellDef="let paymentFundSource">
              {{ paymentFundSource.fundSourceAccountId | find:assetAccountData:'id':'name' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let paymentFundSource; let i = index">
              <button mat-icon-button color="primary" (click)="edit('PaymentFundSource', paymentChannelToFundSourceMappings, i)">
                <fa-icon icon="edit"></fa-icon>
              </button>
              <button mat-icon-button color="warn" (click)="delete(paymentChannelToFundSourceMappings, i)">
                <fa-icon icon="trash"></fa-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="paymentFundSourceDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: paymentFundSourceDisplayedColumns;"></tr>

        </table>

        <h4 fxFlex="33%" class="mat-h4">Map Fees to Specific Income Accounts</h4>

        <div fxFlex="63%">
          <button type="button" mat-raised-button color="primary" (click)="add('FeesIncome', feeToIncomeAccountMappings)">
            <fa-icon icon="plus"></fa-icon>&nbsp;&nbsp;
            Add
          </button>
        </div>

        <table fxFlex="98%" class="mat-elevation-z1" mat-table [dataSource]="feeToIncomeAccountMappings.value" *ngIf="feeToIncomeAccountMappings.value.length !== 0">

          <ng-container matColumnDef="chargeId">
            <th mat-header-cell *matHeaderCellDef> Fees </th>
            <td mat-cell *matCellDef="let feesIncome">
              {{ feesIncome.chargeId | find:chargeData:'id':'name' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="incomeAccountId">
            <th mat-header-cell *matHeaderCellDef> Income Account </th>
            <td mat-cell *matCellDef="let feesIncome">
              {{ feesIncome.incomeAccountId | find:incomeAccountData:'id':'name' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let feesIncome; let i = index">
              <button mat-icon-button color="primary" (click)="edit('FeesIncome', feeToIncomeAccountMappings, i)">
                <fa-icon icon="edit"></fa-icon>
              </button>
              <button mat-icon-button color="warn" (click)="delete(feeToIncomeAccountMappings, i)">
                <fa-icon icon="trash"></fa-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="feesPenaltyIncomeDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: feesPenaltyIncomeDisplayedColumns;"></tr>

        </table>

        <h4 fxFlex="33%" class="mat-h4">Map Penalties to Specific Income Accounts</h4>

        <div fxFlex="63%">
          <button type="button" mat-raised-button color="primary" (click)="add('PenaltyIncome', penaltyToIncomeAccountMappings)">
            <fa-icon icon="plus"></fa-icon>&nbsp;&nbsp;
            Add
          </button>
        </div>


        <table fxFlex="98%" class="mat-elevation-z1" mat-table [dataSource]="penaltyToIncomeAccountMappings.value" *ngIf="penaltyToIncomeAccountMappings.value.length !== 0">

          <ng-container matColumnDef="chargeId">
            <th mat-header-cell *matHeaderCellDef> Penalty </th>
            <td mat-cell *matCellDef="let penaltyIncome">
              {{ penaltyIncome.chargeId | find:penaltyData:'id':'name' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="incomeAccountId">
            <th mat-header-cell *matHeaderCellDef> Income Account </th>
            <td mat-cell *matCellDef="let penaltyIncome">
              {{ penaltyIncome.incomeAccountId | find:incomeAccountData:'id':'name' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let penaltyIncome; let i = index">
              <button mat-icon-button color="primary" (click)="edit('PenaltyIncome', penaltyToIncomeAccountMappings, i)">
                <fa-icon icon="edit"></fa-icon>
              </button>
              <button mat-icon-button color="warn" (click)="delete(penaltyToIncomeAccountMappings, i)">
                <fa-icon icon="trash"></fa-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="feesPenaltyIncomeDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: feesPenaltyIncomeDisplayedColumns;"></tr>

        </table>

      </div>

    </div>

  </div>

  <div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
    <button mat-raised-button matStepperPrevious>
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
      Previous
    </button>
    <button mat-raised-button matStepperNext [disabled]="!savingProductFormValid">
      Next&nbsp;&nbsp;
      <fa-icon icon="arrow-right"></fa-icon>
    </button>
  </div>

</form>
