table {
  width: 100%;
}

// TODO: CONFIGURE THESE CLASSES GLOBALLY
.enabled {
  color: #32cd32;
}

.disabled {
  color: #f44366;
}
.fa-plus-square-o{
  font-size: 20px !important;
  font-weight: 600 !important;
}
.text-center{
  text-align: center;
}
