<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container">
  <mat-card>
    <div class="about-us-section">
      <h2>{{ 'labels.heading.About Us' | translate }}</h2>

      <p [innerHTML]="'labels.aboutUs.Introduction' | translate"></p>
      <p [innerHTML]="'labels.aboutUs.Platform Description' | translate"></p>

      <h3>{{ 'labels.heading.Our Mission' | translate }}</h3>
      <p>{{ 'labels.aboutUs.Mission' | translate }}</p>

      <h3>{{ 'labels.heading.Our Vision' | translate }}</h3>
      <p>{{ 'labels.aboutUs.Vision' | translate }}</p>

      <h3>{{ 'labels.heading.Why Open Source' | translate }}</h3>
      <p>{{ 'labels.aboutUs.Why Open Source' | translate }}</p>

      <ul class="values-list">
        <li>
          <strong>{{ 'labels.aboutUs.Transparent' | translate }}:</strong>
          {{ 'labels.aboutUs.Transparent Description' | translate }}
        </li>
        <li>
          <strong>{{ 'labels.aboutUs.Affordable' | translate }}:</strong>
          {{ 'labels.aboutUs.Affordable Description' | translate }}
        </li>
        <li>
          <strong>{{ 'labels.aboutUs.Innovative' | translate }}:</strong>
          {{ 'labels.aboutUs.Innovative Description' | translate }}
        </li>
        <li>
          <strong>{{ 'labels.aboutUs.Secure' | translate }}:</strong>
          {{ 'labels.aboutUs.Secure Description' | translate }}
        </li>
      </ul>

      <h3>{{ 'labels.heading.The Ecosystem' | translate }}</h3>
      <p>{{ 'labels.aboutUs.Ecosystem Introduction' | translate }}</p>

      <ul class="ecosystem-list">
        <li>
          <strong>{{ 'labels.aboutUs.The Mifos X Platform' | translate }}:</strong>
          {{ 'labels.aboutUs.Platform Role' | translate }}
        </li>
        <li>
          <strong>{{ 'labels.aboutUs.The Community' | translate }}:</strong>
          {{ 'labels.aboutUs.Community Role' | translate }}
        </li>
        <li>
          <strong>{{ 'labels.aboutUs.Certified Partners' | translate }}:</strong>
          {{ 'labels.aboutUs.Partners Role' | translate }}
        </li>
        <li>
          <strong>{{ 'labels.aboutUs.The Foundation' | translate }}:</strong>
          {{ 'labels.aboutUs.Foundation Role' | translate }}
        </li>
      </ul>
    </div>
  </mat-card>
</div>
