<div class="container">

  <mat-card>

    <form [formGroup]="closeOnMaturityAccountForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field (click)="closedOnDatePicker.open()">
            <mat-label>{{"labels.inputs.Closed On Date" | translate }}</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="closedOnDatePicker" required formControlName="closedOnDate">
            <mat-datepicker-toggle matSuffix [for]="closedOnDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #closedOnDatePicker></mat-datepicker>
            <mat-error *ngIf="closeOnMaturityAccountForm.controls.closedOnDate.hasError('required')">
              {{"labels.inputs.Closed On Date" | translate }} {{ "labels.commons.is"  |translate}} <strong>{{ "labels.commons.required"  |translate}}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{"labels.inputs.Maturity Amount" | translate }}</mat-label>
            <input type="number" matInput formControlName="maturityAmount"/>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{"labels.inputs.Action" | translate }}</mat-label>
            <mat-select required formControlName="onAccountClosureId">
              <mat-option *ngFor="let closureOption of onAccountClosureOptions" [value]="closureOption.id">
                {{ closureOption.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="closeOnMaturityAccountForm.controls.onAccountClosureId.hasError('required')">
              {{"labels.inputs.Account action" | translate }} {{ "labels.commons.is"  |translate}} <strong>{{ "labels.commons.required"  |translate}}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="closeOnMaturityAccountForm.contains('toSavingsAccountId')">
            <mat-label>{{"labels.inputs.Transfer to Savings" | translate }}</mat-label>
            <mat-select required formControlName="toSavingsAccountId">
              <mat-option *ngFor="let account of savingsAccountsData" [value]="account.id">
                {{ account.accountNo }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="closeOnMaturityAccountForm.controls.toSavingsAccountId.hasError('required')">
              {{"labels.inputs.Transfer to savings account" | translate }} {{ "labels.commons.is"  |translate}} <strong>{{ "labels.commons.required"  |translate}}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="closeOnMaturityAccountForm.contains('transferDescription')">
            <mat-label>{{"labels.inputs.Transfer Description" | translate }}</mat-label>
            <input matInput formControlName="transferDescription"/>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{"labels.inputs.Note" | translate }}</mat-label>
            <textarea matInput formControlName="note" cdkTextareaAutosize cdkAutosizeMinRows="2"></textarea>
          </mat-form-field>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../../']">{{"labels.buttons.Cancel" | translate }}</button>
        <button mat-raised-button color="warn" [disabled]="!closeOnMaturityAccountForm.valid">{{"labels.buttons.Confirm" | translate }}</button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
