mifosx-server-selector {
  padding-left: 5px;
  width: 300px;
}

.cover {
  background: url('../../assets/images/cover_image_resized.webp') no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: 0;
  max-width: 70vw;

  &::after {
    content: '';
    opacity: 0.5;
    background: linear-gradient(#000, #000);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    z-index: 1;
    position: absolute;
  }

  .cover-content {
    display: block;
    max-width: 80%;
    margin: 100px;
    color: #fff;
    text-align: justify;
    z-index: 2;
    font-size: 1.2rem;

    .cover-title {
      border-bottom: 2px solid #fff;
      margin: 0 0 20px;
      padding-bottom: 10px;
    }

    .cover-description {
      .cover-link {
        text-decoration: underline;
        color: #fff;

        &:hover {
          color: #d3d3d3;
        }
      }
    }
  }
}

.login-container {
  box-shadow: 1px 1px 50px #000;
  height: 100vh;
  width: 100%;
  min-width: 21.5rem;

  .img-container {
    max-width: 18rem;
  }
}

.layout-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-horizontal-list {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
  gap: 1.5rem; // space between items

  mat-list-item {
    width: auto !important;
    min-width: 0 !important;
    padding: 0 !important;

    [mat-button] {
      white-space: nowrap;
    }
  }
}

.mat-mdc-form-field-infix {
  width: 144px !important;
}

.p-t-10 {
  padding-top: 0;
}

::ng-deep .login-container mifosx-footer .divider {
  margin: 0 !important;
  width: 14rem !important;
  margin-top: 2px !important;
}

::ng-deep .login-container #footer {
  align-items: unset !important;
}
