.rule-wrapper {
  margin: 17.5px 0 0;
}

.entries-wrapper {
  position: relative;

  .entries {
    padding: 0 0 17.5px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.radio-group-spacing {
  display: flex;
  gap: 2rem;
  flex-direction: row;
}

@media (width <= 768px) {
  .radio-group-spacing {
    flex-direction: column;
  }
}
