.container {
  .filter-button{
    height: 2.5rem;
    margin-top: 1rem;
  }
}

table {
  width: 100%;
    .account-action-button{
      min-width: 26px;
      padding: 0 6px;
      margin: 4px;
      line-height: 25px;
    }
}

.mat-divider {
  border-top-color: #ffffff;
}
