<div class="tab-container mat-typography">

  <h3>Documents</h3>

  <button mat-raised-button class="f-right" color="primary" (click)="uploadDocument()"
    *mifosxHasPermission="'CREATE_DOCUMENT'">
    <fa-icon icon="plus" class="m-r-10"></fa-icon>Add
  </button>

  <table mat-table #documentsTable [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let document"> {{ document.name }} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let document"> {{ document.description }} </td>
    </ng-container>

    <ng-container matColumnDef="filename">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> File Name </th>
      <td mat-cell *matCellDef="let document"> {{ document.fileName }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
      <td mat-cell *matCellDef="let document; let index">
        <button class="document-action-button" mat-raised-button color="primary">
          <fa-icon icon="cloud-download-alt"></fa-icon>
        </button>

        <button class="document-action-button" mat-raised-button color="primary" *ngIf="document.fileIsImage">
          <i class="fa fa-eye"></i>
        </button>

        <button class="document-action-button" mat-raised-button color="warn"
          (click)="deleteDocument(document.id, index)">
          <fa-icon icon="times"></fa-icon>
        </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>

</div>
