.textfield {
  width: 14rem;
  margin-top: 0.6rem;
}

.btn {
  width: 14rem;
  margin-top: 1rem;
}

.error {
  color: #f44336;
  font-size: 80%;
  margin: 0;
}

mat-spinner {
  z-index: 4;
  float: right;
  margin: 0.5rem 0;
}
