#reset-password-form {
  .reset-password-input {
    width: 14rem;
    margin-top: 0.6rem;
  }

  .reset-password-button {
    width: 14rem;
    margin-top: 1rem;
  }

  .reset-password-error {
    color: #f44336;
    font-size: 80%;
    margin: 0;
  }

  mat-spinner {
    float: right;
    margin: 0.5rem 0;
  }
}
