.container {
  padding-bottom: 15px;
}

table {
  width: 96%;

  .select-row:hover {
    cursor: pointer;
  }
}

.success {
  color: #32cd32;
}

.fail {
  color: #f44366;
}

.currently-running {
  color: #32cd32;
}

.not-currently-running {
  color: #f44366;
}

.errorlog {
  color: #ffa726;
}

.suspend {
  background: #ffa726;
  color: #fff;
}
