.country-search {
    padding: 10px;
    width: 30%;
}

.display-none {
    display: none;
}

.hidesearch {
    display: none;
}

.partial {
    width: 100%;
    padding: 0px 8px;
}

.column-search {
    padding: 0px;
    width: 30%;
    margin-left: 30px;
}

.button-add {
    border: 1px solid #cccc;
    top: 20px;
    left: 20px;
}

.header-div {
    padding: 10px;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px !important;
    display: inline-block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ccc;
}

.text-center {
    text-align: center !important;
}
.bottom-button {
    text-align: right;
    padding-top: 10px;
}