.container {
    max-width: 37rem;
}
.custom-radio{
    width: 20px;
    height: 20px;
}
.full-width{
    display: inline-flex;
    padding: 10px 0;
}
.ou-label{
    margin-right: 20px;
}
.mat-option.hide {
    display: none;
  }