<app-header> </app-header>
<div class="fluid-container">
 <div class="container">
   <div class="card-body">
   <div class="row">
     <div class="col-sm-6">
       <div class="card mt-5">
<!--     <div class="card-header"><legend> Loan</legend></div>
 -->    <div class="card-body">
          <div class="list-group">
            <a href="#" class="list-group-item  list-group-item-action active">
              <h4 class="list-group-item-heading mb-1">First List Group Item Heading</h4>
              <p class="list-group-item-text">List Group Item Text</p>
            </a>
            <a href="#" class="list-group-item  list-group-item-action">
              <h4 class="list-group-item-heading mb-1">Second List Group Item Heading</h4>
              <p class="list-group-item-text">List Group Item Text</p>
            </a>
            <a href="#" class="list-group-item  list-group-item-action">
              <h4 class="list-group-item-heading">Third List Group Item Heading</h4>
              <p class="list-group-item-text">List Group Item Text</p>
            </a>
          </div>
      </div>
    </div>
  </div>
    <div class="col-sm-6">
        <div class="card mt-5">
            <!-- <div class="card-header"></div> -->
            <div class="card-body">
              <div class="list-group">
                <a href="#" class="list-group-item  list-group-item-action active">
                  <h4 class="list-group-item-heading mb-1">First List Group Item Heading</h4>
                  <p class="list-group-item-text">List Group Item Text</p>
                </a>
                <a href="#" class="list-group-item  list-group-item-action">
                  <h4 class="list-group-item-heading mb-1">Second List Group Item Heading</h4>
                  <p class="list-group-item-text">List Group Item Text</p>
                </a>
                <a href="#" class="list-group-item  list-group-item-action">
                  <h4 class="list-group-item-heading">Third List Group Item Heading</h4>
                  <p class="list-group-item-text">List Group Item Text</p>
                </a>
              </div>
           </div>
        </div>
    </div>
   </div>
  </div>
</div> 