  .snapshot {
    img {
      max-width: 600px;
      max-height: 600px;
      border: 2px solid #333;
    }
  }

  ul.links {
    padding-bottom: 20px;
  }

  .webcam{
    border: 2px solid red;
  }

  .place-it-center{
   margin-right: 40%;
   margin-left: 40%;
  }