@import '~@angular/material/theming';

/** Created style for secondaryFont*/
$typo2: mat-typography-config(
  $font-family: 'Anton',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

.anton {
    @include mat-core($typo2);
}