@import '~@angular/material/theming';

/** Created style for the primaryFont*/
$typo1: mat-typography-config(
  $font-family: 'monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

.monospace {
    @include mat-core($typo1);
}