table {
  width: 100%;
}

.mat-elevation-z1 {
  margin: 1em 0 1.5em 0;
}

h3, h4 {
  font-weight: 500;
}

h4 {
  margin: 1em 0;
}

mat-divider {
  margin: 1em 0 2em 0;
}

.margin-t {
  margin-top: 1em;
}
