/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.flex-32 {
  flex: 1 1 32%;
  max-width: 32%;
}

.flex-15 {
  flex: 1 1 15%;
  max-width: 15%;
}

.flex-48 {
  flex: 1 1 48%;
  max-width: 48%;
}

.margin-t {
  margin-top: 1em;
}
