.mat-elevation-z1 {
    margin: 1em 0 1.5em 0;
}

h2, h3, h4 {
    margin: 0;
    font-weight: 500;
}

span {
    margin: 0.5em 0;
}

.margin-t {
    margin-top: 1em;
}

mat-divider {
	margin: 0 0 1em 0;
}
