<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->
<div [class]="containerClasses">
  @if (variant === 'filled') {
    <md-filled-button [type]="type" [disabled]="disabled" (click)="onClick($event)">
      {{ label }}<ng-content></ng-content>
    </md-filled-button>
  }

  @if (variant === 'outlined') {
    <md-outlined-button [type]="type" [disabled]="disabled" (click)="onClick($event)">
      {{ label }}<ng-content></ng-content>
    </md-outlined-button>
  }

  @if (variant === 'elevated') {
    <md-elevated-button [type]="type" [disabled]="disabled" (click)="onClick($event)">
      {{ label }}<ng-content></ng-content>
    </md-elevated-button>
  }

  @if (variant === 'text') {
    <md-text-button [type]="type" [disabled]="disabled" (click)="onClick($event)">
      {{ label }}<ng-content></ng-content>
    </md-text-button>
  }

  @if (variant === 'tonal') {
    <md-filled-tonal-button [type]="type" [disabled]="disabled" (click)="onClick($event)">
      {{ label }}<ng-content></ng-content>
    </md-filled-tonal-button>
  }
</div>
