.card {
  width: 850px;
  max-width: 100rem;
  min-width: 41.25rem;
  padding: 0;
  .header {
    #office{
      margin-bottom: -1.20em;
    }
  }
  #health-table {
      border-spacing: 0.5rem;
      font-size: large;
      td {
          padding: 0.5rem;
          text-align: center;
          vertical-align: middle;
          background: hsl(150, 50%, 50%);
          color: whitesmoke;
          font-weight: bolder;
      }
  }
  #timescale {
    margin: 2% 35%;
  }
}

#demo-charts {
  .demo-tile {
    height: 10vh;
  }
  .demo-canvas {
    height: auto;
    width: 30vw;
    padding: 1.5rem;
  }
}

