<mat-card class="container">

  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

    <mat-form-field fxFlex="18%">
      <mat-label>Search by Text</mat-label>
      <input matInput [formControl]="searchText">
    </mat-form-field>

    <mat-form-field fxFlex="18%" (click)="effectiveFromDatePicker.open()">
      <mat-label>Effective Date From</mat-label>
      <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="effectiveFromDatePicker"
        [formControl]="effectiveFromDate">
      <mat-datepicker-toggle matSuffix [for]="effectiveFromDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #effectiveFromDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field fxFlex="18%" (click)="effectiveToDatePicker.open()">
      <mat-label>Effective Date To</mat-label>
      <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="effectiveToDatePicker"
        [formControl]="effectiveToDate">
      <mat-datepicker-toggle matSuffix [for]="effectiveToDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #effectiveToDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field fxFlex="18%" (click)="settlementFromDatePicker.open()">
      <mat-label>Settlement Date From</mat-label>
      <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="settlementFromDatePicker"
        [formControl]="settlementFromDate">
      <mat-datepicker-toggle matSuffix [for]="settlementFromDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #settlementFromDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field fxFlex="18%" (click)="settlementToDatePicker.open()">
      <mat-label>Settlement Date To</mat-label>
      <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="settlementToDatePicker"
        [formControl]="settlementToDate">
      <mat-datepicker-toggle matSuffix [for]="settlementToDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #settlementToDatePicker></mat-datepicker>
    </mat-form-field>

    <div fxFlex="98%" class="center m-t-15">
      <button mat-raised-button color="primary" (click)="searchEAO()">
        <fa-icon icon="search" class="m-r-10"></fa-icon> Search
      </button>
    </div>
  </div>

  <div class="mat-elevation-z8 container m-t-20">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

    <mat-accordion *ngIf="existsDataToFilter">
      <mat-expansion-panel *ngFor="let record of searchResults;index as i" class="record">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <table>
              <tr>
                <td>
                  <div [ngClass]="itemStatus(record.status)" class="m-r-20">
                    <fa-icon icon="stop"></fa-icon>
                    <span class="m-l-10 status">{{record.status}}</span>
                  </div>
                </td>
                <td> Owner ExternalId </td>
                <td>
                  <mifosx-external-identifier externalId="{{record.owner.externalId}}"></mifosx-external-identifier>
                </td>
                <td> Effective From </td>
                <td> {{ record.effectiveFrom | dateFormat }} </td>
              </tr>
              </table>
            </mat-panel-title>
          <mat-panel-description>
            <mifosx-external-identifier externalId="{{record.transferExternalId}}"></mifosx-external-identifier>
          </mat-panel-description>

        </mat-expansion-panel-header>

        <div class="external-asset-transfer">
          <table>
            <tbody>
              <tr>
                <td fxFlex="25%" class="m-l-5">
                  <b>Status :</b>
                </td>
                <td fxFlex="25%" class="m-l-5 left">
                  <div [ngClass]="itemStatus(record.status)">
                    <fa-icon icon="stop"></fa-icon>
                    <span class="m-l-5 status">{{record.status}}</span>
                  </div>
                </td>
                <td fxFlex="25%" class="m-l-5">
                  <b>Owner External Id :</b>
                </td>
                <td fxFlex="25%" class="m-l-5 left">
                  <mifosx-external-identifier externalId="{{record.owner.externalId}}" completed="true"></mifosx-external-identifier>
                </td>
              </tr>
              <tr>
                <td fxFlex="25%" class="m-l-5">
                  <b>Settlement Date :</b>
                </td>
                <td fxFlex="25%" class="m-l-5">
                  {{record.settlementDate | dateFormat}}
                </td>
                <td fxFlex="25%" class="m-l-5">
                  <b>Effective Date :</b>
                </td>
                <td fxFlex="25%" class="m-l-5">
                  {{record.effectiveFrom | dateFormat}}
                </td>
              </tr>
              <tr>
                <td fxFlex="25%" class="m-l-5">
                  <b>Details :</b>
                </td>
                <td fxFlex="75%" class="left">
                  <table>
                    <tbody>
                      <tr>
                        <td fxFlex="50%" class="m-l-5"><b>Principal Outstanding :</b></td>
                        <td fxFlex="50%" class="r-amount">{{record.details.totalPrincipalOutstanding | formatNumber}}</td>
                      </tr>
                      <tr>
                        <td fxFlex="50%" class="m-l-5"><b>Interest Outstanding :</b></td>
                        <td fxFlex="50%" class="r-amount">{{record.details.totalInterestOutstanding | formatNumber}}</td>
                      </tr>
                      <tr>
                        <td fxFlex="50%" class="m-l-5"><b>Fees Outstanding :</b></td>
                        <td fxFlex="50%" class="r-amount">{{record.details.totalFeeChargesOutstanding | formatNumber}}</td>
                      </tr>
                      <tr>
                        <td fxFlex="50%" class="m-l-5"><b>Penalties Outstanding :</b></td>
                        <td fxFlex="50%" class="r-amount">{{record.details.totalPenaltyChargesOutstanding | formatNumber}}</td>
                      </tr>
                      <tr>
                        <td fxFlex="50%" class="m-l-5"><b>Outstanding :</b></td>
                        <td fxFlex="50%" class="r-amount">{{record.details.totalOutstanding | formatNumber}}</td>
                      </tr>
                      <tr>
                        <td fxFlex="50%" class="m-l-5"><b>Overpaid :</b></td>
                        <td fxFlex="50%" class="r-amount">{{record.details.totalOverpaid | formatNumber}}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[50, 100, 200]" [length]="totalRows" (page)="pageChanged($event)"
      showFirstLastButtons *ngIf="existsDataToFilter"></mat-paginator>
  </div>

  <div class="alert" *ngIf="!existsDataToFilter">
    <div class="message">
      <i class="fa fa-exclamation-circle alert-check"></i>
      No data was found
    </div>
  </div>

</mat-card>
