.status {
  color: black;
}

.field-name {
  font-weight: 800;
}

.record-actions {
  margin-top: 1%;

  button {
    margin-right: 1%;
  }
}

.external-asset-transfer {
  margin-top: 10px;
  min-height: 160px;
}

.record {
  .record-actions {
    margin-top: 1%;

    button {
      margin-right: 1%;
    }
  }

  h3 {
    margin: 1% auto;
  }

  p {
    line-height: 30px;
    margin-left: 2%;
  }
}

$bar: 140px;
$foo: $bar * 8;
$color: #e2e4ec;

.loader {
  margin-bottom: 39px;
}

.loading {
  position: absolute;
  width: $bar;
  height: 8px;
  background: linear-gradient(125deg, rgb(255 255 255), #c4d2e9, rgb(255 255 255));
  animation:
    grow 4s linear infinite,
    move 4s linear infinite;
  top: 154px;
}

.sidenav {
  overflow-x: hidden;
}

@keyframes move {
  0% {
    left: 0;
  }

  16.7% {
    left: 0;
  }

  33.3% {
    left: calc($foo / 2);
  }

  50% {
    left: $foo - $bar;
  }

  66.7% {
    left: calc($foo / 2);
  }

  83.3% {
    left: 0;
  }

  100% {
    left: 0;
  }
}

@keyframes grow {
  0% {
    width: $bar;
  }

  16.7% {
    width: calc($foo / 2);
  }

  33.3% {
    width: calc($foo / 2);
  }

  50% {
    width: $bar;
  }

  66.7% {
    width: calc($foo / 2);
  }

  83.3% {
    width: calc($foo / 2);
  }

  100% {
    width: $bar;
  }
}
