<h1 mat-dialog-title>{{ 'labels.heading.Approve Share' | translate }}</h1>
<div mat-dialog-content>
  <p>{{ 'labels.text.Are you sure you want to approve share with id' | translate }}: {{ data.shareId }} ?</p>
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>{{ 'labels.buttons.Cancel' | translate }}</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="{ approve: true }">
    {{ 'labels.buttons.Submit' | translate }}
  </button>
</mat-dialog-actions>
