
/* ############ Light mode palettes ################*/

$primary-palette: (
  100: #ec0505,
  500: #d30342,
  700: #890019,
  contrast: (
    100: rgba(black, 0.87),
    500: white,
    700:white,
  )
);

$accent-palette: (
  100: #e7ffa5,
  500: #b4d575,
  700: #83a447,
  contrast: (
    100: rgba(black, 0.87),
    500: rgba(black, 0.87),
    700: rgba(black, 0.87)
  )
);

/* ############ Dark mode palettes ################*/

$dark-primary-palette: (
  100: #ec0505,
  500: #d30342,
  700: #890019,
  contrast: (
    100: white,
    500: rgba(white, 0.87),
    700: rgba(white, 0.87)
  )
);

$dark-accent-palette: (
  100: #e7ffa5,
  500: #b4d575,
  700: #83a447,
  contrast: (
    100: white,
    500: white,
    700: white
  )
);
