$primary-palette: (
  100: #B4ECF9,
  500: #17BFE3,
  700: #079AB4,
  contrast: (
    100: rgba(black, 0.87),
    500: white,
    700: white
  )
);

$accent-palette: (
  100: #B3E7EA,
  500: #36B0BF,
  700: #2E8C94,
  contrast: (
    100: rgba(black, 0.87),
    500: rgba(black, 0.87),
    700: rgba(black, 0.87)
  )
);
