$primary-palette: (
  100: #5ba2ec,
  500: #1074b9,
  700: #004989,
  contrast: (
    100: rgba(black, 0.87),
    500: white,
    700: white
  )
);

$accent-palette: (
  100: #e7ffa5,
  500: #b4d575,
  700: #83a447,
  contrast: (
    100: rgba(black, 0.87),
    500: rgba(black, 0.87),
    700: rgba(black, 0.87)
  )
);
