@use '@angular/material' as mat;

$deeppurple-amber-primary: mat.define-palette(mat.$deep-purple-palette, 500, 300, 700);
$deeppurple-amber-accent: mat.define-palette(mat.$amber-palette, 400, 200, 600);
$deeppurple-amber-warn: mat.define-palette(mat.$red-palette);

$deeppurple-amber-theme: mat.define-light-theme(
  $deeppurple-amber-primary,
  $deeppurple-amber-accent,
  $deeppurple-amber-warn
);

.deeppurple-amber-theme {
  @include mat.all-component-themes($deeppurple-amber-theme);
}
