@use '@angular/material' as mat;

$indigo-pink-color-config: (
  primary: mat.define-palette(mat.$indigo-palette, 500, 300, 700),
  accent: mat.define-palette(mat.$pink-palette, 400, 200, 600),
  warn: mat.define-palette(mat.$red-palette)
);

$indigo-pink-theme: mat.define-light-theme(
  (
    color: $indigo-pink-color-config
  )
);

.indigo-pink-theme {
  @include mat.all-component-colors($indigo-pink-theme);
}
