@use '@angular/material' as mat;

$pictonblue-yellowgreen-color-config: (
  primary: mat.define-palette(mat.$blue-palette, 400, 200, 600),
  accent: mat.define-palette(mat.$light-green-palette, 400, 200, 600),
  warn: mat.define-palette(mat.$red-palette)
);

$pictonblue-yellowgreen-theme: mat.define-light-theme(
  (
    color: $pictonblue-yellowgreen-color-config
  )
);

.pictonblue-yellowgreen-theme {
  @include mat.all-component-colors($pictonblue-yellowgreen-theme);
}
