@use '@angular/material' as mat;

$purple-green-color-config: (
  primary: mat.define-palette(mat.$purple-palette, 500, 300, 700),
  accent: mat.define-palette(mat.$green-palette, 400, 200, 600),
  warn: mat.define-palette(mat.$red-palette)
);

$purple-green-theme: mat.define-light-theme(
  (
    color: $purple-green-color-config
  )
);

.purple-green-theme {
  @include mat.all-component-colors($purple-green-theme);
}
