.address {
  .address-actions{
    margin-top: 1%;
    button{
      margin-right: 1%;
    }
  }
  h3 {
    margin: 1% auto;
  }
  p {
    line-height: 30px;
    margin-left: 2%;
  }
}

.margin-t {
  margin-top: 2em;
}
