.container {
  max-width: 37rem;
  .content {
    div {
      margin: 1rem 0;
      word-wrap: break-word;
    }

    mifosx-transaction-payment-detail {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
