/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@media (width >= 992px) {
  .checkbox-wrapper {
    position: relative;

    .checkbox {
      padding: 0 0 17.5px;
      position: absolute;
      bottom: 0;
    }
  }
}

// TODO: CONFIGURE THESE CLASSES GLOBALLY
.is-differential {
  color: #32cd32;
}

.not-is-differential {
  color: #f44366;
}

table {
  width: 100%;
}
