.content {
  div {
    margin: 1rem 0;
    overflow-wrap: break-word;
  }
}

table {
  width: 100%;
}

.column-value-wrapper {
  word-break: break-all;
}

.command {
  background-color: #eee;
}

.command-table {
  background-color: inherit;
}
