<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container mat-elevation-z8">
  <mat-card>
    <form [formGroup]="approveLoanForm" (ngSubmit)="submit()">
      <mat-card-content>
        <div class="layout-column">
          <mat-form-field (click)="approvedDatePicker.open()">
            <mat-label>{{ 'labels.inputs.Approved On' | translate }}</mat-label>
            <input
              matInput
              [min]="minDate"
              [matDatepicker]="approvedDatePicker"
              required
              formControlName="approvedOnDate"
            />
            <mat-datepicker-toggle matSuffix [for]="approvedDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #approvedDatePicker></mat-datepicker>
            @if (approveLoanForm.controls.approvedOnDate.hasError('required')) {
              <mat-error>
                {{ 'labels.inputs.Approved Date' | translate }} {{ 'labels.commons.is' | translate }}
                <strong>{{ 'labels.commons.required' | translate }}</strong>
              </mat-error>
            }
          </mat-form-field>

          <mat-form-field (click)="disbursementDatePicker.open()">
            <mat-label>{{ 'labels.inputs.Expected disbursement on' | translate }}</mat-label>
            <input
              matInput
              [min]="minDate"
              [matDatepicker]="disbursementDatePicker"
              formControlName="expectedDisbursementDate"
            />
            <mat-datepicker-toggle matSuffix [for]="disbursementDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #disbursementDatePicker></mat-datepicker>
          </mat-form-field>

          <mifosx-input-amount
            [currency]="currency"
            [isRequired]="true"
            [inputFormControl]="approveLoanForm.controls.approvedLoanAmount"
            [inputLabel]="'Approved Amount'"
          >
          </mifosx-input-amount>

          <!-- Display Available Disbursement Amount with Over Applied if available -->
          <mat-form-field>
            <mat-label>{{ 'labels.inputs.Available Disbursement Amount (with Over Applied)' | translate }}</mat-label>
            <input matInput [value]="loanData.availableDisbursementAmountWithOverApplied | formatNumber" readonly />
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'labels.inputs.Note' | translate }}</mat-label>
            <textarea matInput formControlName="note" cdkTextareaAutosize cdkAutosizeMinRows="2"></textarea>
          </mat-form-field>
        </div>

        <mat-card-actions class="layout-row align-center gap-5px responsive-column">
          <button type="button" mat-raised-button [routerLink]="['../../general']">
            {{ 'labels.buttons.Cancel' | translate }}
          </button>
          <button
            mat-raised-button
            color="primary"
            [disabled]="!approveLoanForm.valid"
            *mifosxHasPermission="'APPROVE_LOAN'"
          >
            {{ 'labels.buttons.Submit' | translate }}
          </button>
        </mat-card-actions>
      </mat-card-content>
    </form>
  </mat-card>
</div>
