<div class="container mat-elevation-z8">

  <mat-card>

    <form [formGroup]="approveLoanForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field (click)="approvedDatePicker.open()">
            <mat-label>{{"labels.inputs.Approved On"  |translate}}</mat-label>
            <input matInput [min]="minDate" [matDatepicker]="approvedDatePicker" required
              formControlName="approvedOnDate">
            <mat-datepicker-toggle matSuffix [for]="approvedDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #approvedDatePicker></mat-datepicker>
            <mat-error *ngIf="approveLoanForm.controls.approvedOnDate.hasError('required')">
              {{"labels.inputs.Approved Date"  |translate}} {{ "labels.commons.is"  |translate}} <strong>{{ "labels.commons.required"  |translate}}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field (click)="disbursementDatePicker.open()">
            <mat-label>{{"labels.inputs.Expected disbursement on"  |translate}}</mat-label>
            <input matInput [min]="minDate" [matDatepicker]="disbursementDatePicker"
              formControlName="expectedDisbursementDate">
            <mat-datepicker-toggle matSuffix [for]="disbursementDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #disbursementDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{"labels.inputs.Approved Amount"  |translate}}</mat-label>
            <input matInput type="number" formControlName="approvedLoanAmount">
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{"labels.inputs.Transaction Amount"  |translate}}</mat-label>
            <input matInput type="number" required formControlName="approvedLoanAmount">
            <mat-error *ngIf="approveLoanForm.controls.approvedLoanAmount.hasError('required')">
              {{"labels.inputs.Transaction Amount"  |translate}} {{ "labels.commons.is"  |translate}} <strong>{{ "labels.commons.required"  |translate}}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{"labels.inputs.Note"  |translate}}</mat-label>
            <textarea matInput formControlName="note" cdkTextareaAutosize cdkAutosizeMinRows="2"></textarea>
          </mat-form-field>

        </div>

        <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
          <button type="button" mat-raised-button [routerLink]="['../../general']">{{"labels.buttons.Cancel"  |translate}}</button>
          <button mat-raised-button color="primary" [disabled]="!approveLoanForm.valid"
            *mifosxHasPermission="'APPROVE_LOAN'">{{"labels.buttons.Submit"  |translate}}</button>
        </mat-card-actions>

      </mat-card-content>

    </form>

  </mat-card>

</div>
