<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div [ngClass]="sidenavCollapsed ? 'sidebar-compact' : 'sidebar-full'">
  <div class="navigation-panel layout-column">
    <!-- TODO: Allow customization by organization -->
    <div class="app-brand" [routerLink]="['/home']">
      <span class="brand-mark">
        <img src="assets/images/MifosX_logo.png" alt="app-logo" class="app-logo" />
      </span>
      <span #logo class="app-logo-text text-muted">{{ 'APP_NAME' | translate }}</span>
    </div>

    <div class="app-sidenav">
      <div #frequentlyAccessed class="frequent-accessed">
        <div class="mt-1 mb-1 nav-item-sep">
          <mat-divider></mat-divider>
          <span class="text-muted icon-menu-title">{{ 'labels.menus.Frequently Accessed' | translate }}</span>
        </div>
      </div>
      <div class="icon-menu">
        <div class="icon-menu-item" *ngFor="let activity of mappedActivities">
          <button
            mat-raised-button
            [matTooltipPosition]="tooltipPosition"
            [matTooltip]="activity.toolTip"
            [routerLink]="[activity.path]"
          >
            <mifosx-thr-icon [name]="activity.icon" size="16"></mifosx-thr-icon>
          </button>
        </div>
      </div>

      <mat-nav-list>
        <a
          mat-list-item
          class="nav-dashboard"
          [routerLink]="['/home']"
          [matTooltipPosition]="tooltipPosition"
          matTooltip="{{ 'tooltips.Dashboard' | translate }}"
          [class.active-menu]="isDashboardLinkActive()"
        >
          <mat-icon matListIcon>
            <mifosx-thr-icon name="tachometer-alt" size="16"></mifosx-thr-icon>
          </mat-icon>
          <span matLine #dashboard>{{ 'labels.menus.Dashboard' | translate }}</span>
        </a>
        <a
          mat-list-item
          [routerLink]="['/home']"
          [queryParams]="{ view: 'onboarding' }"
          [matTooltipPosition]="tooltipPosition"
          matTooltip="{{ 'labels.heading.Onboarding Board' | translate }}"
          [class.active-menu]="isOnboardingLinkActive()"
        >
          <mat-icon matListIcon>
            <mifosx-thr-icon name="list-checks" size="16"></mifosx-thr-icon>
          </mat-icon>
          <span matLine>{{ 'labels.heading.Onboarding Board' | translate }}</span>
        </a>

        <div class="nav-group" [class.open]="isGroupOpen('institution')">
          <button
            type="button"
            class="nav-group-toggle"
            (click)="toggleGroup('institution')"
            [attr.aria-expanded]="isGroupOpen('institution')"
          >
            <mat-icon>
              <mifosx-thr-icon name="university" size="16"></mifosx-thr-icon>
            </mat-icon>
            <span>{{ 'labels.menus.Institution' | translate }}</span>
            <mifosx-thr-icon class="nav-chevron" name="chevron-down" size="16"></mifosx-thr-icon>
          </button>
          <div class="nav-group-items">
            <a
              mat-list-item
              [routerLink]="['/clients']"
              [matTooltipPosition]="tooltipPosition"
              matTooltip="{{ 'labels.menus.Clients' | translate }}"
              routerLinkActive="active-menu"
              [routerLinkActiveOptions]="nestedLink"
              *mifosxHasPermission="'READ_CLIENT'"
            >
              <mat-icon matListIcon>
                <mifosx-thr-icon name="user" size="16"></mifosx-thr-icon>
              </mat-icon>
              <span matLine>{{ 'labels.menus.Clients' | translate }}</span>
            </a>
            <a
              mat-list-item
              [routerLink]="['/loans']"
              [matTooltipPosition]="tooltipPosition"
              matTooltip="{{ 'labels.menus.Loans' | translate }}"
              routerLinkActive="active-menu"
              [routerLinkActiveOptions]="nestedLink"
              *mifosxHasPermission="'READ_LOAN'"
            >
              <mat-icon matListIcon>
                <mifosx-thr-icon name="money-bill" size="16"></mifosx-thr-icon>
              </mat-icon>
              <span matLine>{{ 'labels.menus.Loans' | translate }}</span>
            </a>
            <a
              mat-list-item
              [routerLink]="['/groups']"
              [matTooltipPosition]="tooltipPosition"
              matTooltip="{{ 'labels.menus.Groups' | translate }}"
              routerLinkActive="active-menu"
              [routerLinkActiveOptions]="nestedLink"
              *mifosxHasPermission="'READ_GROUP'"
            >
              <mat-icon matListIcon>
                <mifosx-thr-icon name="users" size="16"></mifosx-thr-icon>
              </mat-icon>
              <span matLine>{{ 'labels.menus.Groups' | translate }}</span>
            </a>
            <a
              mat-list-item
              [routerLink]="['/centers']"
              [matTooltipPosition]="tooltipPosition"
              matTooltip="{{ 'labels.menus.Centers' | translate }}"
              routerLinkActive="active-menu"
              [routerLinkActiveOptions]="nestedLink"
              *mifosxHasPermission="'READ_CENTER'"
            >
              <mat-icon matListIcon>
                <mifosx-thr-icon name="building" size="16"></mifosx-thr-icon>
              </mat-icon>
              <span matLine>{{ 'labels.menus.Centers' | translate }}</span>
            </a>
          </div>
        </div>

        <div class="nav-group" [class.open]="isGroupOpen('operations')">
          <button
            type="button"
            class="nav-group-toggle"
            (click)="toggleGroup('operations')"
            [attr.aria-expanded]="isGroupOpen('operations')"
          >
            <mat-icon>
              <mifosx-thr-icon name="briefcase" size="16"></mifosx-thr-icon>
            </mat-icon>
            <span>{{ 'labels.menus.Operations' | translate }}</span>
            <mifosx-thr-icon class="nav-chevron" name="chevron-down" size="16"></mifosx-thr-icon>
          </button>
          <div class="nav-group-items">
            <a
              mat-list-item
              [routerLink]="['/products']"
              [matTooltipPosition]="tooltipPosition"
              matTooltip="{{ 'labels.menus.Products' | translate }}"
              routerLinkActive="active-menu"
              [routerLinkActiveOptions]="nestedLink"
              *mifosxHasPermission="['READ_PRODUCT', 'READ_LOANPRODUCT', 'CREATE_LOANPRODUCT', 'DELETE_LOANPRODUCT']"
            >
              <mat-icon matListIcon>
                <mifosx-thr-icon name="book" size="16"></mifosx-thr-icon>
              </mat-icon>
              <span matLine>{{ 'labels.menus.Products' | translate }}</span>
            </a>
            <a
              mat-list-item
              [routerLink]="['/accounting']"
              [matTooltipPosition]="tooltipPosition"
              matTooltip="{{ 'labels.menus.Accounting' | translate }}"
              routerLinkActive="active-menu"
              [routerLinkActiveOptions]="nestedLink"
              *mifosxHasPermission="[
                'READ_JOURNALENTRY',
                'READ_GLACCOUNT',
                'READ_GLCLOSURE',
                'READ_ACCOUNTINGRULE',
                'READ_PROVISIONINGCRITERIA'
              ]"
            >
              <mat-icon matListIcon>
                <mifosx-thr-icon name="money-bill-alt" size="16"></mifosx-thr-icon>
              </mat-icon>
              <span matLine>{{ 'labels.menus.Accounting' | translate }}</span>
            </a>
            <a
              mat-list-item
              [routerLink]="['/reports']"
              [matTooltipPosition]="tooltipPosition"
              matTooltip="{{ 'labels.menus.Reports' | translate }}"
              routerLinkActive="active-menu"
              [routerLinkActiveOptions]="nestedLink"
              *mifosxHasPermission="'READ_REPORT'"
            >
              <mat-icon matListIcon>
                <mifosx-thr-icon name="chart-bar" size="16"></mifosx-thr-icon>
              </mat-icon>
              <span matLine>{{ 'labels.menus.Reports' | translate }}</span>
            </a>
            <a
              mat-list-item
              [routerLink]="['/notifications']"
              [matTooltipPosition]="tooltipPosition"
              matTooltip="{{ 'tooltips.Notifications' | translate }}"
              routerLinkActive="active-menu"
              [routerLinkActiveOptions]="nestedLink"
              *mifosxHasPermission="'READ_NOTIFICATION'"
            >
              <mat-icon matListIcon>
                <mifosx-thr-icon name="bell" size="16"></mifosx-thr-icon>
              </mat-icon>
              <span matLine>{{ 'labels.menus.Notifications' | translate }}</span>
            </a>
            <a
              mat-list-item
              *ngIf="cbIldEnabled"
              [routerLink]="['/reporting-dashboard']"
              [matTooltipPosition]="tooltipPosition"
              matTooltip="{{ 'tooltips.Reporting Dashboard' | translate }}"
              routerLinkActive="active-menu"
              [routerLinkActiveOptions]="nestedLink"
            >
              <mat-icon matListIcon>
                <mifosx-thr-icon name="file-alt" size="16"></mifosx-thr-icon>
              </mat-icon>
              <span matLine #reportingDashboard>{{ 'labels.menus.Reporting Dashboard' | translate }}</span>
            </a>
            <a
              mat-list-item
              [routerLink]="['/navigation']"
              [matTooltipPosition]="tooltipPosition"
              matTooltip="{{ 'tooltips.Navigation' | translate }}"
              routerLinkActive="active-menu"
              [routerLinkActiveOptions]="nestedLink"
              *mifosxHasPermission="'READ_CLIENT'"
            >
              <mat-icon matListIcon>
                <mifosx-thr-icon name="location-arrow" size="16"></mifosx-thr-icon>
              </mat-icon>
              <span matLine #navigation>{{ 'labels.menus.Navigation' | translate }}</span>
            </a>
            <a
              mat-list-item
              [routerLink]="['/checker-inbox-and-tasks/checker-inbox']"
              [matTooltipPosition]="tooltipPosition"
              matTooltip="{{ 'tooltips.Checker Inbox and Tasks' | translate }}"
              routerLinkActive="active-menu"
              [routerLinkActiveOptions]="nestedLink"
              *mifosxHasPermission="['ALL_FUNCTIONS_READ', 'READ_MAKERCHECKER', 'APPROVE_LOAN', 'APPROVE_LOAN_CHECKER']"
            >
              <mat-icon matListIcon>
                <mifosx-thr-icon name="check" size="16"></mifosx-thr-icon>
              </mat-icon>
              <span matLine>{{ 'labels.menus.Checker Inbox and Tasks' | translate }}</span>
            </a>
            <a
              mat-list-item
              [routerLink]="['/collections/collection-sheet']"
              [matTooltipPosition]="tooltipPosition"
              matTooltip="{{ 'labels.menus.Collection Sheet' | translate }}"
              routerLinkActive="active-menu"
              [routerLinkActiveOptions]="nestedLink"
              *mifosxHasPermission="'READ_COLLECTIONSHEET'"
            >
              <mat-icon matListIcon>
                <mifosx-thr-icon name="list-checks" size="16"></mifosx-thr-icon>
              </mat-icon>
              <span matLine>{{ 'labels.menus.Collection Sheet' | translate }}</span>
            </a>
            <a
              mat-list-item
              [routerLink]="['/collections/individual-collection-sheet']"
              [matTooltipPosition]="tooltipPosition"
              matTooltip="{{ 'tooltips.Individual Collection Sheet' | translate }}"
              routerLinkActive="active-menu"
              [routerLinkActiveOptions]="nestedLink"
              *mifosxHasPermission="'READ_COLLECTIONSHEET'"
            >
              <mat-icon matListIcon>
                <mifosx-thr-icon name="list-checks" size="16"></mifosx-thr-icon>
              </mat-icon>
              <span matLine>{{ 'labels.menus.Individual Collection Sheet' | translate }}</span>
            </a>
            <a
              mat-list-item
              *ngIf="mifosRemittanceEnabled"
              [routerLink]="['/remittances/process']"
              [matTooltipPosition]="tooltipPosition"
              matTooltip="{{ 'tooltips.Process Remittance' | translate }}"
              routerLinkActive="active-menu"
              [routerLinkActiveOptions]="nestedLink"
            >
              <mat-icon matListIcon>
                <mifosx-thr-icon name="money-bill-wave" size="16"></mifosx-thr-icon>
              </mat-icon>
              <span matLine>{{ 'labels.menus.Remittances' | translate }}</span>
            </a>
            <a
              mat-list-item
              [routerLink]="['/accounting/journal-entries/frequent-postings']"
              [matTooltipPosition]="tooltipPosition"
              matTooltip="{{ 'tooltips.Frequent Postings' | translate }}"
              routerLinkActive="active-menu"
              [routerLinkActiveOptions]="nestedLink"
              *mifosxHasPermission="'CREATE_JOURNALENTRY'"
            >
              <mat-icon matListIcon>
                <mifosx-thr-icon name="sync" size="16"></mifosx-thr-icon>
              </mat-icon>
              <span matLine #frequentPostings>{{ 'labels.menus.Frequent Postings' | translate }}</span>
            </a>
            <a
              mat-list-item
              [routerLink]="['/accounting/journal-entries/create']"
              [matTooltipPosition]="tooltipPosition"
              matTooltip="{{ 'tooltips.Create Journal Entry' | translate }}"
              routerLinkActive="active-menu"
              [routerLinkActiveOptions]="nestedLink"
              *mifosxHasPermission="'CREATE_JOURNALENTRY'"
            >
              <mat-icon matListIcon>
                <mifosx-thr-icon name="plus" size="16"></mifosx-thr-icon>
              </mat-icon>
              <span matLine #createJournalEntry>{{ 'labels.menus.Create Journal Entry' | translate }}</span>
            </a>
            <a
              mat-list-item
              [routerLink]="['/accounting/chart-of-accounts']"
              [matTooltipPosition]="tooltipPosition"
              matTooltip="{{ 'tooltips.Chart Of Accounts' | translate }}"
              routerLinkActive="active-menu"
              [routerLinkActiveOptions]="nestedLink"
              *mifosxHasPermission="'READ_GLACCOUNT'"
            >
              <mat-icon matListIcon>
                <mifosx-thr-icon name="sitemap" size="16"></mifosx-thr-icon>
              </mat-icon>
              <span matLine #chartOfAccounts>{{ 'labels.menus.Chart of Accounts' | translate }}</span>
            </a>
          </div>
        </div>

        <div class="nav-group" [class.open]="isGroupOpen('admin')">
          <button
            type="button"
            class="nav-group-toggle"
            (click)="toggleGroup('admin')"
            [attr.aria-expanded]="isGroupOpen('admin')"
          >
            <mat-icon>
              <mifosx-thr-icon name="shield-alt" size="16"></mifosx-thr-icon>
            </mat-icon>
            <span>{{ 'labels.menus.Admin' | translate }}</span>
            <mifosx-thr-icon class="nav-chevron" name="chevron-down" size="16"></mifosx-thr-icon>
          </button>
          <div class="nav-group-items">
            <a
              mat-list-item
              [routerLink]="['/appusers']"
              [matTooltipPosition]="tooltipPosition"
              matTooltip="{{ 'labels.menus.Users' | translate }}"
              routerLinkActive="active-menu"
              [routerLinkActiveOptions]="nestedLink"
              *mifosxHasPermission="'READ_USER'"
            >
              <mat-icon matListIcon>
                <mifosx-thr-icon name="user-shield" size="16"></mifosx-thr-icon>
              </mat-icon>
              <span matLine>{{ 'labels.menus.Users' | translate }}</span>
            </a>
            <a
              mat-list-item
              [routerLink]="['/organization']"
              [matTooltipPosition]="tooltipPosition"
              matTooltip="{{ 'labels.menus.Organization' | translate }}"
              routerLinkActive="active-menu"
              [routerLinkActiveOptions]="nestedLink"
              *mifosxHasPermission="'READ_OFFICE'"
            >
              <mat-icon matListIcon>
                <mifosx-thr-icon name="id-badge" size="16"></mifosx-thr-icon>
              </mat-icon>
              <span matLine>{{ 'labels.menus.Organization' | translate }}</span>
            </a>
            <a
              mat-list-item
              [routerLink]="['/system']"
              [matTooltipPosition]="tooltipPosition"
              matTooltip="{{ 'labels.menus.System' | translate }}"
              routerLinkActive="active-menu"
              [routerLinkActiveOptions]="nestedLink"
              *mifosxHasPermission="'READ_CONFIGURATION'"
            >
              <mat-icon matListIcon>
                <mifosx-thr-icon name="cogs" size="16"></mifosx-thr-icon>
              </mat-icon>
              <span matLine>{{ 'labels.menus.System' | translate }}</span>
            </a>
            <a
              mat-list-item
              [routerLink]="['/templates']"
              [matTooltipPosition]="tooltipPosition"
              matTooltip="{{ 'labels.menus.Templates' | translate }}"
              routerLinkActive="active-menu"
              [routerLinkActiveOptions]="nestedLink"
              *mifosxHasPermission="'READ_TEMPLATE'"
            >
              <mat-icon matListIcon>
                <mifosx-thr-icon name="address-card" size="16"></mifosx-thr-icon>
              </mat-icon>
              <span matLine>{{ 'labels.menus.Templates' | translate }}</span>
            </a>
          </div>
        </div>
      </mat-nav-list>
    </div>

    <div class="sidenav-footer">
      <mat-nav-list class="footer-nav">
        <a
          mat-list-item
          (click)="help()"
          [matTooltipPosition]="tooltipPosition"
          matTooltip="{{ 'tooltips.Help' | translate }}"
        >
          <mat-icon matListIcon>
            <mifosx-thr-icon name="headphones" size="16"></mifosx-thr-icon>
          </mat-icon>
          <span matLine>{{ 'labels.menus.Support' | translate }}</span>
        </a>
      </mat-nav-list>
      <div #userPanel class="app-user" [class.active]="isProfileLinkActive()">
        <a
          class="app-user-identity"
          [routerLink]="['/settings']"
          routerLinkActive="active"
          [attr.aria-label]="'labels.menus.Settings' | translate"
        >
          <span class="app-user-avatar" aria-hidden="true">{{ userInitials }}</span>
          <span class="app-user-copy">
            <span class="app-user-name">{{ displayName }}</span>
            <span class="app-user-meta">{{ userSubtitle }}</span>
          </span>
        </a>
        <button
          type="button"
          class="app-user-logout"
          mat-icon-button
          [attr.aria-label]="'tooltips.Sign Out' | translate"
          matTooltip="{{ 'tooltips.Sign Out' | translate }}"
          (click)="logout()"
        >
          <mifosx-thr-icon name="log-out" size="16"></mifosx-thr-icon>
        </button>
      </div>
      <p class="app-rights">
        Mifos LMS · {{ 'labels.text.Powered by' | translate }}
        <a href="https://almosthr.com" target="_blank" rel="noopener noreferrer">Almost.thr</a>
      </p>
    </div>
  </div>
</div>

<ng-template #templateLogo let-popover="popover">
  <h2>{{ 'labels.text.Home' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.Welcome page logo from anywhere' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); previousStep()">
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(templateUserPanel, userPanel, 'bottom', true)"
    >
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateUserPanel let-popover="popover">
  <h2>{{ 'labels.menus.User Panel' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.Section Buttons' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(templateLogo, logo, 'bottom', true)"
    >
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(templateFrequentlyAccessed, frequentlyAccessed, 'bottom', true)"
    >
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateFrequentlyAccessed let-popover="popover">
  <h2>{{ 'labels.menus.Frequently Accessed' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.Shortcut to the frequently accessed components' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(templateUserPanel, userPanel, 'bottom', true)"
    >
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(templateDashboard, dashboard, 'bottom', true)"
    >
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateDashboard let-popover="popover">
  <h2>{{ 'labels.menus.Dashboard' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.User Dashboard Component' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(templateFrequentlyAccessed, frequentlyAccessed, 'bottom', true)"
    >
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(templateNavigation, navigation, 'bottom', true)"
    >
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateNavigation let-popover="popover">
  <h2>{{ 'labels.menus.Navigation' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.User Entity navigation screen' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(templateDashboard, dashboard, 'bottom', true)"
    >
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(templateFrequentPostings, frequentPostings, 'top', true)"
    >
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateFrequentPostings let-popover="popover">
  <h2>{{ 'labels.menus.Frequent Postings' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.Shortcut accounting rules' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(templateNavigation, navigation, 'bottom', true)"
    >
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(templateCreateJournalEntry, createJournalEntry, 'top', true)"
    >
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateCreateJournalEntry let-popover="popover">
  <h2>{{ 'labels.menus.Create Journal Entry' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.Shortcut entry screen' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(templateFrequentPostings, frequentPostings, 'top', true)"
    >
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(templateChartOfAccounts, chartOfAccounts, 'top', true)"
    >
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateChartOfAccounts let-popover="popover">
  <h2>{{ 'labels.menus.Chart of Accounts' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.Shortcut accounts screen' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(templateCreateJournalEntry, createJournalEntry, 'top', true)"
    >
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); nextStep()">
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>
