@import "~@angular/material/theming";

@mixin shares-account-view-component-theme($theme) {
  $primary: map-get($theme, primary);
  mifosx-shares-account-view {
    .shares-account-card {
      .header {
        background-color: mat-color($primary, 500);
      }
      .table-headers {
        background-color: mat-color($primary, 500);
        color: mat-contrast($primary, 500);
      }
    }
  } 
}
