<div class="container mat-elevation-z8">

  <mat-card>

    <form [formGroup]="foreclosureForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field (click)="transactionsDatePicker.open()">
            <mat-label>{{"labels.inputs.Transaction Date"  |translate}}</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="transactionsDatePicker" required
              formControlName="transactionDate">
            <mat-datepicker-toggle matSuffix [for]="transactionsDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #transactionsDatePicker></mat-datepicker>
            <mat-error *ngIf="foreclosureForm.controls.transactionDate.hasError('required')">
              {{"labels.inputs.Transaction Date"  |translate}} {{ "labels.commons.is"  |translate}} <strong>{{ "labels.commons.required"  |translate}}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{"labels.inputs.Principal"  |translate}}</mat-label>
            <input matInput formControlName="outstandingPrincipalPortion">
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{"labels.inputs.Interest"  |translate}}</mat-label>
            <input matInput formControlName="outstandingInterestPortion">
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{"labels.inputs.Fee Amount"  |translate}}</mat-label>
            <input matInput formControlName="outstandingFeeChargesPortion">
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{"labels.inputs.Penalty Amount"  |translate}}</mat-label>
            <input matInput required formControlName="outstandingPenaltyChargesPortion">
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{"labels.inputs.Transaction Amount"  |translate}}</mat-label>
            <input matInput required formControlName="transactionAmount">
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{"labels.inputs.Note"  |translate}}</mat-label>
            <textarea matInput formControlName="note" cdkTextareaAutosize cdkAutosizeMinRows="2"></textarea>
          </mat-form-field>

        </div>

        <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
          <button type="button" mat-raised-button [routerLink]="['../../general']">{{"labels.buttons.Cancel"  |translate}}</button>
          <button mat-raised-button color="primary" [disabled]="!foreclosureForm.valid"
            *mifosxHasPermission="'FORECLOSURE_LOAN'">{{"labels.buttons.Foreclosure"  |translate}}</button>
        </mat-card-actions>

      </mat-card-content>

    </form>

  </mat-card>

</div>
