<div class="container">

  <mat-card>

    <form [formGroup]="periodicAccrualsForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="row">

          <mat-form-field fxFlex>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="tillDatePicker" placeholder="Accrue Till Date" required formControlName="tillDate">
            <mat-datepicker-toggle matSuffix [for]="tillDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #tillDatePicker></mat-datepicker>
          </mat-form-field>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['/accounting']">Cancel</button>
        <button mat-raised-button color="primary"><mat-icon>play_arrow</mat-icon>&nbsp;&nbsp;Run Periodic Accruals</button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
