/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */
mat-dialog-content {
  padding: 20px 24px;
  min-height: 150px;

  p {
    margin-bottom: 20px;
    color: rgb(0 0 0 / 60%);
  }
}

mat-dialog-actions {
  padding: 8px 24px 16px;
  margin: 0;

  button {
    margin-left: 8px;
  }
}
