.card {
  min-width: 18.5rem;
  padding: 0;

  .header {
    #office {
      margin-bottom: -1.2em;
    }
  }

  #timescale {
    margin: 2% 50%;
    transform: translateX(-50%);
  }

  .fallback {
    overflow-x: auto;
    max-width: 100%;
    min-height: 16.5rem;
  }
}
