@import "assets/styles/helper";
@import "assets/styles/helper";

table {
  width: 100%;
  margin: 3% 0%;
}

.container {
  padding-bottom: 2%;
}

.check {
  padding-left: 15px;
}

.amount-changed {
  color: $status-approved;
}

.additional {
  color: $status-approved;
}
