@use 'assets/styles/helper';
@use 'assets/styles/colours' as *;

table {
  width: 100%;
  margin: 2% 0%;
}

.container {
  padding-bottom: 2%;
}

.check {
  padding-left: 15px;
}

.amount-changed {
  color: $status-approved;
}

.additional {
  color: $status-approved;
}

.downpayment {
  color: $status-downpayment;
}

.paid {
  color: $status-paid;
}

.current {
  color: $status-active;
}

.overdued {
  color: $status-matured;
}

#repaymentSchedule,
#repaymentScheduleEdit {
  width: 100%;
}

.mat-header-cell {
  color: rgba($color: #000, $alpha: 54%);
  font-size: 12px;
  font-weight: 500;
}

div.container {
  overflow: auto;
  max-width: 100%;
}
