.display-permissions {
  padding-top: 15px;
}

span {
  font-size: 1rem;
}

mat-list-item {
  cursor: pointer;
}

.mat-list-base .mat-list-item .mat-list-item-content {
  cursor: pointer;
}

.active {
  background-color: #f2f2f2;
}

.grouping-name {
  padding: 0 10px;
}

.list-permission {
  padding-left: 20px;
}

.permission-selected {
  margin-top: 10px;
  height: 40px;
}

.inactive {
  transition: all 0.2s ease-in-out;
}

.inactive:hover {
  transform: scale(1.1);
}

.content {
  div {
    line-height: 3rem;

    &.header {
      font-weight: 500;
    }
  }
}
