.delete-wrapper {
  padding: 17.5px 0 0 0;
}

h2 {
  font-weight: 500;
  margin: 0;
}

h4 {
  font-weight: 500;
  margin: 0;
}

.mat-card .mat-divider-horizontal.mat-divider-inset {
  margin: 1em 0 2em 0;
}

.cdk-drag-placeholder {
  opacity: 0;
}
