.container {
  max-width: 80rem;
}

.content {
  div {
    margin: 1rem 0;
    word-wrap: break-word;

    &.header {
      font-weight: 500;
    }
  }
}

.heading {
  margin-left: 10px;
  font-size:24px;
}
