table {
  width: 100%;
  margin: 3% 0%;
}

.container {
  padding-bottom: 2%;
}

.transaction-buttons {
  margin-right: 5%;
  padding-top: 5%;
}

.strike {
  text-decoration: line-through;
  color: red;
}

.accruals {
  padding-top: 1%;
}
