<div class="container">
  <form [formGroup]="investmentProjectForm" (ngSubmit)="submit()">
    <mat-card>
      <mat-card-content>
        <div fxLayout="column">
          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.Country' | translate }}</mat-label>
            <mat-select required formControlName="countryId">
              <mat-option *ngFor="let country of countryData" [value]="country.id">
                {{ country.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.Client' | translate }}</mat-label>
            <input matInput formControlName="ownerId" [matAutocomplete]="clientsAutocomplete" />
            <mat-error *ngIf="investmentProjectForm.controls.ownerId.hasError('required')">
              {{ 'labels.inputs.Client' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-autocomplete
            autoActiveFirstOption
            #clientsAutocomplete="matAutocomplete"
            [displayWith]="displayClient"
            (optionSelected)="clientSelected($event)"
          >
            <mat-option *ngFor="let client of clientsData" [value]="client">
              {{ client.id }} - {{ client.displayName }}
            </mat-option>
          </mat-autocomplete>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.Loan Account' | translate }}</mat-label>
            <mat-select required formControlName="loanId">
              <mat-option *ngFor="let loan of loansData" [value]="loan.id">
                {{ loan.accountNo }} - {{ loan.productName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.Name' | translate }}</mat-label>
            <input matInput autofocus formControlName="name" />
            <mat-error *ngIf="investmentProjectForm.controls.name.hasError('required')">
              {{ 'labels.inputs.Name' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.custom.Subtitle' | translate }}</mat-label>
            <input matInput autofocus formControlName="subtitle" />
            <mat-error *ngIf="investmentProjectForm.controls.subtitle.hasError('required')">
              {{ 'labels.inputs.custom.Subtitle' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.custom.Mnemonic' | translate }}</mat-label>
            <input matInput autofocus formControlName="mnemonic" />
            <mat-error *ngIf="investmentProjectForm.controls.mnemonic.hasError('required')">
              {{ 'labels.inputs.custom.Mnemonic' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.custom.Impact Description' | translate }}</mat-label>
            <input matInput autofocus formControlName="impactDescription" />
            <textarea
              matInput
              formControlName="impactDescription"
              cdkTextareaAutosize
              cdkAutosizeMinRows="2"
            ></textarea>
            <mat-error *ngIf="investmentProjectForm.controls.impactDescription.hasError('required')">
              {{ 'labels.inputs.custom.Description' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.custom.Institution Description' | translate }}</mat-label>
            <input matInput autofocus formControlName="institutionDescription" />
            <textarea
              matInput
              formControlName="institutionDescription"
              cdkTextareaAutosize
              cdkAutosizeMinRows="2"
            ></textarea>
            <mat-error *ngIf="investmentProjectForm.controls.institutionDescription.hasError('required')">
              {{ 'labels.inputs.custom.Description' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.custom.Team Description' | translate }}</mat-label>
            <textarea matInput formControlName="teamDescription" cdkTextareaAutosize cdkAutosizeMinRows="2"></textarea>
            <mat-error *ngIf="investmentProjectForm.controls.teamDescription.hasError('required')">
              {{ 'labels.inputs.custom.Team Description' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.custom.Financial Description' | translate }}</mat-label>
            <textarea
              matInput
              formControlName="financingDescription"
              cdkTextareaAutosize
              cdkAutosizeMinRows="2"
            ></textarea>
            <mat-error *ngIf="investmentProjectForm.controls.financingDescription.hasError('required')">
              {{ 'labels.inputs.custom.Financial Description' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.custom.Socio Environmental Description' | translate }}</mat-label>
            <textarea
              matInput
              formControlName="littleSocioEnvironmentalDescription"
              cdkTextareaAutosize
              cdkAutosizeMinRows="2"
            ></textarea>
            <mat-error *ngIf="investmentProjectForm.controls.littleSocioEnvironmentalDescription.hasError('required')">
              {{ 'labels.inputs.custom.Socio Environmental Description' | translate }}
              {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.custom.Detailed Socio Environmental Description' | translate }}</mat-label>
            <textarea
              matInput
              formControlName="detailedSocioEnvironmentalDescription"
              cdkTextareaAutosize
              cdkAutosizeMinRows="2"
            ></textarea>
            <mat-error
              *ngIf="investmentProjectForm.controls.detailedSocioEnvironmentalDescription.hasError('required')"
            >
              {{ 'labels.inputs.custom.Detailed Socio Environmental Description' | translate }}
              {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mifosx-input-amount
            [currency]="currency"
            [isRequired]="true"
            [inputFormControl]="investmentProjectForm.controls.amount"
            [inputLabel]="'Amount'"
          >
          </mifosx-input-amount>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.Max Amount' | translate }}</mat-label>
            <input type="number" matInput required formControlName="maxAmount" />
            <mat-error *ngIf="investmentProjectForm.controls.maxAmount.hasError('required')">
              {{ 'labels.inputs.Max Amount' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.Min Amount' | translate }}</mat-label>
            <input type="number" matInput required formControlName="minAmount" />
            <mat-error *ngIf="investmentProjectForm.controls.minAmount.hasError('required')">
              {{ 'labels.inputs.Min Amount' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.Interest Rate' | translate }}</mat-label>
            <input type="number" matInput required formControlName="projectRate" />
            <mat-error *ngIf="investmentProjectForm.controls.projectRate.hasError('required')">
              {{ 'labels.inputs.Interest Rate' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.Number of Installments' | translate }}</mat-label>
            <input type="number" matInput required formControlName="period" />
            <mat-error *ngIf="investmentProjectForm.controls.period.hasError('required')">
              {{ 'labels.inputs.Number of Installments' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.Status' | translate }}</mat-label>
            <mat-select required formControlName="statusId">
              <mat-option *ngFor="let status of statusData" [value]="status.id">
                {{ status.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.custom.Category' | translate }}</mat-label>
            <mat-select required formControlName="categoryId">
              <mat-option *ngFor="let category of categoryData" [value]="category.id">
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.custom.Subcategory' | translate }}</mat-label>
            <mat-select required formControlName="subCategories" multiple>
              <mat-option *ngFor="let subcategory of subcategoryData" [value]="subcategory.id">
                {{ subcategory.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.custom.Area' | translate }}</mat-label>
            <mat-select required formControlName="areaId">
              <mat-option *ngFor="let area of areaData" [value]="area.id">
                {{ area.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.custom.Objectives' | translate }}</mat-label>
            <mat-select required formControlName="objectives" multiple>
              <mat-option *ngFor="let objectives of objectivesData" [value]="objectives.id">
                {{ objectives.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div class="filter-box">
            <mat-checkbox labelPosition="after" class="m-r-10" formControlName="isActive"
              >{{ 'labels.inputs.Active' | translate }}
            </mat-checkbox>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">
          {{ 'labels.buttons.Cancel' | translate }}
        </button>
        <button mat-raised-button color="primary" [disabled]="!investmentProjectForm.valid">
          {{ 'labels.buttons.Submit' | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
