.tab-container {
  padding: 1%;
  margin: 1%;

  .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h3 {
    margin: 0;
  }

  table {
    width: 100%;

    .identity-action-button {
      min-width: 26px;
      padding: 0 6px;
      margin: 4px;
      line-height: 25px;
    }
  }
}
