<form [formGroup]="loansAccountTermsForm">

  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

    <mat-form-field fxFlex="48%">
      <mat-label>Principal {{currencyDisplaySymbol}}</mat-label>
      <input type="number" matInput formControlName="principalAmount">
      <mat-error *ngIf="loansAccountTermsForm.controls.principalAmount.hasError('required')">
        Principal is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <h4 fxFlex="98%" class="mat-h4">Term Options</h4>

    <mat-form-field fxFlex="48%">
      <mat-label>Loan Term</mat-label>
      <input type="number" matInput required formControlName="loanTermFrequency">
      <mat-error *ngIf="loansAccountTermsForm.controls.loanTermFrequency.hasError('required')">
        Loan Term is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>Frequency</mat-label>
      <mat-select required formControlName="loanTermFrequencyType">
        <mat-option *ngFor="let type of termFrequencyTypeData" [value]="type.id">
          {{ type.value }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="loansAccountTermsForm.controls.loanTermFrequencyType.hasError('required')">
        Frequency is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>Number of repayments</mat-label>
      <input type="number" matInput formControlName="numberOfRepayments">
      <mat-error *ngIf="loansAccountTermsForm.controls.numberOfRepayments.hasError('required')">
        Number of repayments is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%" (click)="repaymentsPicker.open()">
      <mat-label>First repayment on</mat-label>
      <input matInput [min]="minDate" [max]="maxDate" matTooltip="May be entered to override the date the system would schedule" [matDatepicker]="repaymentsPicker"
        formControlName="repaymentsStartingFromDate">
      <mat-datepicker-toggle matSuffix [for]="repaymentsPicker"></mat-datepicker-toggle>
      <mat-datepicker #repaymentsPicker></mat-datepicker>
    </mat-form-field>

    <h4 fxFlex="98%" class="mat-h4">Repaid Every <i class="fas fa-question" matTooltip="These fields are input to calculating the repayment schedule for a loan account and are used to determine when payments are due."></i></h4>

    <mat-form-field fxFlex="48%">
      <mat-label>Repaid every</mat-label>
      <input matInput required formControlName="repaymentEvery">
      <mat-error *ngIf="loansAccountTermsForm.controls.repaymentEvery.hasError('required')">
        Repaid every is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>Frequency</mat-label>
      <mat-select formControlName="repaymentFrequencyType" required>
        <mat-option *ngFor="let repaymentFrequencyType of termFrequencyTypeData" [value]="repaymentFrequencyType.id">
          {{ repaymentFrequencyType.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="48%" *ngIf="loansAccountTermsForm.controls.repaymentFrequencyType.value == 2">
      <mat-label>Select On</mat-label>
      <mat-select formControlName="repaymentFrequencyNthDayType">
        <mat-option *ngFor="let repaymentFrequencyNthDayType of repaymentFrequencyNthDayTypeData"
          [value]="repaymentFrequencyNthDayType.id">
          {{ repaymentFrequencyNthDayType.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="48%" *ngIf="loansAccountTermsForm.controls.repaymentFrequencyType.value == 2">
      <mat-label>Select Day</mat-label>
      <mat-select formControlName="repaymentFrequencyDayOfWeekType">
        <mat-option *ngFor="let repaymentFrequencyDayOfWeekType of repaymentFrequencyDaysOfWeekTypeData"
          [value]="repaymentFrequencyDayOfWeekType.id">
          {{ repaymentFrequencyDayOfWeekType.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="48%" (click)="interestPicker.open()">
      <mat-label>Interest charged from</mat-label>
      <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="interestPicker" matTooltip="May be entered to override the date the system would start charging interest"
        formControlName="interestChargedFromDate">
      <mat-datepicker-toggle matSuffix [for]="interestPicker"></mat-datepicker-toggle>
      <mat-datepicker #interestPicker></mat-datepicker>
    </mat-form-field>

    <ng-container *ngIf="!loansAccountTemplate?.isLoanProductLinkedToFloatingRate">

      <mat-form-field fxFlex="48%">
        <mat-label>Nominal interest rate</mat-label>
        <input type="number" matInput formControlName="interestRatePerPeriod">
      </mat-form-field>

      <mat-form-field fxFlex="48%">
        <mat-label>Interest method</mat-label>
        <mat-select formControlName="interestType" matTooltip="The Interest method value is input to calculating the payments amount for repayment of the loan.">
          <mat-option *ngFor="let interestType of interestTypeData" [value]="interestType.id">
            {{ interestType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-checkbox fxFlex="48%" formControlName="isEqualAmortization"
        [checked]="loansAccountTermsData?.isEqualAmortization">
        <p>Is Equal Amortization</p>
      </mat-checkbox>

    </ng-container>

    <ng-container *ngIf="loansAccountTermsData?.isLoanProductLinkedToFloatingRate">

      <div fxFlex="48%" fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

        <mat-form-field fxFlex="48%">
          <mat-label>Interest Method</mat-label>
          <mat-select formControlName="interestType">
            <mat-option *ngFor="let interestType of interestTypeData" [value]="interestType.id">
              {{ interestType.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-checkbox fxFlex="48%" formControlName="isFloatingInterestRate">
          <p>Is Floating Rate?</p>
        </mat-checkbox>

      </div>

    </ng-container>

    <mat-form-field fxFlex="48%">
      <mat-label>Amortization</mat-label>
      <mat-select required matTooltip="The Amortization value is input to calculating the repayment amounts for repayment of the loan." formControlName="amortizationType">
        <mat-option *ngFor="let amortizationType of amortizationTypeData" [value]="amortizationType.id">
          {{ amortizationType.value }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="loansAccountTermsForm.controls.amortizationType.hasError('required')">
        Amortization Type is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <h4 fxFlex="98%" class="mat-h4">Interest Calculations</h4>

    <mat-form-field fxFlex="48%">
      <mat-label>Interest calculation period</mat-label>
      <mat-select formControlName="interestCalculationPeriodType" matTooltip="Daily - Will Calculate the interest on DAILY basis ex: Month of February has 28days and it will calculate interest for 28days, SAME AS REPAYMENT PERIOD- it calculates for the month,that is, 30days.">
        <mat-option *ngFor="let interestCalculationPeriodType of interestCalculationPeriodTypeData"
          [value]="interestCalculationPeriodType.id">
          {{ interestCalculationPeriodType.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox fxFlex="48%" formControlName="allowPartialPeriodInterestCalcualtion" matTooltip="To be used with SAME AS REPAYMENT PERIOD- for  calculating exact interest with partial period  ex: Interest charged from is 5th of April , Principal is 10000 and interest is 1% per month then the interest will be (10000 * 1%)* (25/30) , it calculates for the month first then calculates exact periods between start date and end date(can be a decimal)">
      <p>Calculate interest for exact days in partial period</p>
    </mat-checkbox>

    <mat-form-field fxFlex="48%">
      <mat-label>Arrears tolerance {{currencyDisplaySymbol}}</mat-label>
      <input matInput type="number" formControlName="inArrearsTolerance" matTooltip="With 'Arrears tolerance' you can specify a tolerance amount and if the loan is behind (in arrears), but within the tolerance, it won't be classified as 'in arrears' and part of the portfolio at risk.">
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>Interest free period</mat-label>
      <input matInput formControlName="graceOnInterestCharged" matTooltip="If the Interest Free Period is '4' and the client's Repayment Frequency is every week, then for the first four weeks the client need not to pay interest, he has to pay principle due for that week only.">
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>Repayment strategy</mat-label>
      <mat-select formControlName="transactionProcessingStrategyCode" matTooltip="The repayment strategy determines the sequence in which each of the components is paid.">
        <mat-option *ngFor="let transactionProcessingStrategy of transactionProcessingStrategyOptions" [value]="transactionProcessingStrategy.code">
          {{ transactionProcessingStrategy.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="loansAccountTermsForm.controls.transactionProcessingStrategyCode.hasError('required')">
        Repayment Strategy is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <h4 fxFlex="98%" class="mat-h4">Moratorium <i class="fas fa-question" matTooltip="The moratorium information will default from the loan product settings, but can be changed for this loan account"></i></h4>

    <mat-form-field fxFlex="23%">
      <mat-label>Grace on principal payment</mat-label>
      <input type="number" matInput formControlName="graceOnPrincipalPayment">
    </mat-form-field>

    <mat-form-field fxFlex="23%">
      <mat-label>Grace on interest payment</mat-label>
      <input type="number" matInput formControlName="graceOnInterestPayment">
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>On arrears ageing</mat-label>
      <input type="number" matInput formControlName="graceOnArrearsAgeing">
    </mat-form-field>

    <mat-form-field fxFlex="48%" *ngIf="loansAccountTermsData?.canDefineInstallmentAmount">
      <mat-label>Installment Amount</mat-label>
      <input type="number" matInput formControlName="fixedEmiAmount">
    </mat-form-field>

    <ng-container *ngIf="loansAccountTermsData?.canUseForTopup">

      <mat-checkbox fxFlex="48%" formControlName="isTopup">
        <p>Is Topup Loan?</p>
      </mat-checkbox>

      <mat-form-field fxFlex="48%" *ngIf="loansAccountTermsForm.controls.isTopup.value">
        <mat-label>Loan closed with Topup</mat-label>
        <mat-select formControlName="loanIdToClose">
          <mat-option *ngFor="let clientActiveLoan of clientActiveLoanData" [value]="clientActiveLoan.id">
            {{ clientActiveLoan.accountNo }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </ng-container>

    <mat-divider fxFlex="98%"></mat-divider>

    <div fxFlexFill>
      <span fxFlex="40%">Recalculate Interest</span>
      <span fxFlex="60%">{{ loansAccountTermsData?.isInterestRecalculationEnabled? 'Yes' : 'No' }}</span>
    </div>

    <div fxFlexFill *ngIf="loansAccountTermsData?.isInterestRecalculationEnabled">
      <span fxFlex="40%">Days in year</span>
      <span fxFlex="60%">{{ loansAccountTermsData.daysInYearType.value}}</span>
    </div>

    <ng-container *ngIf="loansAccountTermsData?.isInterestRecalculationEnabled">

      <div fxFlexFill *ngIf="loansAccountTermsData?.isInterestRecalculationEnabled">
        <span fxFlex="40%">Advance payments adjustment type</span>
        <span fxFlex="60%">{{ loansAccountTermsData.interestRecalculationData.rescheduleStrategyType.value }}</span>
      </div>

      <div fxFlexFill *ngIf="loansAccountTermsData?.isInterestRecalculationEnabled">
        <span fxFlex="40%">Days in month</span>
        <span fxFlex="60%">{{ loansAccountTermsData.daysInMonthType.value }}</span>
      </div>

    </ng-container>

    <ng-container *ngIf="loansAccountTermsData?.isInterestRecalculationEnabled">

      <div fxFlexFill>
        <span fxFlex="40%">Interest recalculation compounding on</span>
        <span fxFlex="60%">{{ loansAccountTermsData.interestRecalculationData.interestRecalculationCompoundingType.value
          }}</span>
      </div>

      <div fxFlexFill>
        <span fxFlex="40%">Frequency Interval for recalculation</span>
        <span fxFlex="60%">
          <span>{{ loansAccountTermsData.interestRecalculationData.recalculationRestFrequencyType.value}}</span>
          <span *ngIf="loansAccountTermsData.interestRecalculationData.recalculationRestFrequencyType.id == 3 &&
                loansAccountTermsData.interestRecalculationData.recalculationRestFrequencyWeekday != null">
            on {{ loansAccountTermsData.interestRecalculationData.recalculationRestFrequencyWeekday.value}}</span>
          <span *ngIf="loansAccountTermsData.interestRecalculationData.recalculationRestFrequencyType.id == 4 &&
                loansAccountTermsData.interestRecalculationData.recalculationRestFrequencyOnDay != null">on day
            {{ loansAccountTermsData.interestRecalculationData.recalculationRestFrequencyOnDay}}</span>
          <span *ngIf="loansAccountTermsData.interestRecalculationData.recalculationRestFrequencyType.id == 4 &&
                loansAccountTermsData.interestRecalculationData.recalculationRestFrequencyOnDay == null &&
                loansAccountTermsData.interestRecalculationData.recalculationRestFrequencyNthDay != null">on
            {{ loansAccountTermsData.interestRecalculationData.recalculationRestFrequencyNthDay.value}}
            {{ loansAccountTermsData.interestRecalculationData.recalculationRestFrequencyWeekday.value}}</span>
        </span>
      </div>

    </ng-container>

    <div fxFlexFill
      *ngIf="loansAccountTermsData?.isInterestRecalculationEnabled && loansAccountTermsData.interestRecalculationData.recalculationRestFrequencyType.id != 1">
      <span fxFlex="40%">Frequency Interval for recalculation</span>
      <span fxFlex="60%">{{ loansAccountTermsData.interestRecalculationData.recalculationRestFrequencyInterval}}</span>
    </div>

    <ng-container *ngIf="multiDisburseLoan">
      <mat-divider fxFlex="98%"></mat-divider>
      <div fxFlexFill *ngIf="allowAddDisbursementDetails()">
        <h4 fxFlex="98%" class="mat-h4">Loan Tranche Details</h4>
        <mat-form-field fxFlex="48%">
          <mat-label>Maximum allowed outstanding balance</mat-label>
          <input matInput required formControlName="maxOutstandingLoanBalance">
        </mat-form-field>
        <span fxFlex>
          <button type="button" mat-icon-button color="primary" required (click)="addDisbursementDataEntry(disbursementData)"
            [disabled]="isMultiDisbursedCompleted">
            <fa-icon icon="plus-circle" size="lg"></fa-icon>
          </button>
        </span>
      </div>
      <div fxFlexFill *ngIf="!allowAddDisbursementDetails()">
        <h4 fxFlex="98%" class="mat-h4">Loan Tranche Details are not allowed for this Loan Product</h4>
      </div>

      <table mat-table [dataSource]="disbursementDataSource" [hidden]="disbursementDataSource.length === 0">

        <ng-container matColumnDef="expectedDisbursementDate">
          <th mat-header-cell *matHeaderCellDef> Eexpected Disbursement Date </th>
          <td mat-cell *matCellDef="let row">
            {{ row.expectedDisbursementDate | dateFormat }} </td>
        </ng-container>

        <ng-container matColumnDef="principal">
          <th mat-header-cell *matHeaderCellDef> Principal </th>
          <td mat-cell *matCellDef="let row">
            {{ row.principal }} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let row; let rowIndex = index">
            <button type="button" mat-icon-button color="warn" (click)="removeDisbursementDataEntry(rowIndex)"
              matTooltip="Delete" matTooltipPosition="left">
              <fa-icon icon="trash"></fa-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="disbursementDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: disbursementDisplayedColumns;"></tr>

      </table>
    </ng-container>

    <ng-container
      *ngIf="loansAccountTermsData?.isInterestRecalculationEnabled  && loansAccountTermsData.interestRecalculationData.interestRecalculationCompoundingType.id != 0">

      <div fxFlexFill>
        <span fxFlex="40%">Frequency for compounding</span>
        <span fxFlex="60%">{{
          loansAccountTermsData.interestRecalculationData.recalculationCompoundingFrequencyType.value}}
          <span *ngIf="loansAccountTermsData.interestRecalculationData.recalculationCompoundingFrequencyType.id == 3 &&
            loansAccountTermsData.interestRecalculationData.recalculationCompoundingFrequencyWeekday != null">
            on {{ loansAccountTermsData.interestRecalculationData.recalculationCompoundingFrequencyWeekday.value}}
          </span>
          <span *ngIf="loansAccountTermsData.interestRecalculationData.recalculationCompoundingFrequencyType.id == 4 &&
            loansAccountTermsData.interestRecalculationData.recalculationCompoundingFrequencyOnDay != null">on day
            {{ loansAccountTermsData.interestRecalculationData.recalculationCompoundingFrequencyOnDay}}
          </span>
          <span *ngIf="loansAccountTermsData.interestRecalculationData.recalculationCompoundingFrequencyType.id == 4 &&
            loansAccountTermsData.interestRecalculationData.recalculationCompoundingFrequencyOnDay == null &&
            loansAccountTermsData.interestRecalculationData.recalculationCompoundingFrequencyNthDay != null">on
            {{ loansAccountTermsData.interestRecalculationData.recalculationCompoundingFrequencyNthDay.value}}
            {{ loansAccountTermsData.interestRecalculationData.recalculationCompoundingFrequencyWeekday.value}}
          </span>
        </span>
      </div>
    </ng-container>

    <div fxFlexFill
      *ngIf="loansAccountTermsData?.isInterestRecalculationEnabled && loansAccountTermsData.interestRecalculationData.interestRecalculationCompoundingType.id != 0 && loansAccountTermsData.interestRecalculationData.recalculationCompoundingFrequencyType.id != 1">
      <span fxFlex="40%">Frequency Interval for compounding</span>
      <span fxFlex="60%">{{
        loansAccountTermsData.interestRecalculationData.recalculationCompoundingFrequencyInterval}}</span>
    </div>

    <mat-divider fxFlex="98%"></mat-divider>

    <div fxFlex="50%">
      <div fxLayout="column" fxFlex="50%" class="table_name">
        <h4 fxFlex="98%" class="mat-h4">Collaterals Data</h4>
      </div>

      <div fxLayout="column" fxFlex="50%">
        <div fxLayout="row" fxLayoutAlign="flex-end">
          <button mat-raised-button color="primary" (click)="addCollateral()">
            <fa-icon icon="plus" class="m-r-10"></fa-icon>Add
          </button>
        </div>
      </div>
    </div>
    <table mat-table class="mat-elevation-z1" [dataSource]="collateralDataSource">

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let ele"> {{ ele.type.name }} </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let ele"> {{ ele.value }} </td>
      </ng-container>

      <ng-container matColumnDef="totalValue">
        <th mat-header-cell *matHeaderCellDef> Total Value </th>
        <td mat-cell *matCellDef="let ele"> {{ ele.type.basePrice*ele.value }} </td>
      </ng-container>

      <ng-container matColumnDef="totalCollateralValue">
        <th mat-header-cell *matHeaderCellDef> Total Collateral Value </th>
        <td mat-cell *matCellDef="let ele"> {{ ele.type.pctToBase*ele.type.basePrice*ele.value/100 }} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let ele; let collateralIndex = index">
          <button mat-icon-button color="warn" (click)="deleteCollateral(collateralIndex)">
            <fa-icon icon="trash"></fa-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="loanCollateralDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: loanCollateralDisplayedColumns;"></tr>
    </table>
  </div>

  <div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
    <button mat-raised-button matStepperPrevious>
      <fa-icon icon="arrow-left" class="m-r-10"></fa-icon>
      Previous
    </button>
    <button mat-raised-button matStepperNext>
      Next
      <fa-icon icon="arrow-right" class="m-l-10"></fa-icon>
    </button>
    <button mat-raised-button *ngIf="loanId" [routerLink]="['../', 'general']">
      Cancel
    </button>
  </div>

</form>
