.tab-container {
  padding: 1%;
  margin: 1%;

  h3{
    margin:1% auto;
  }
  .performance-history-container {
    border: 1px solid;
    padding: 1%;
  }

  table {
    width: 100%;
    td:hover {
      cursor: pointer;
    }
    .account-action-button{
      min-width: 26px;
      padding: 0 6px;
      margin: 4px;
      line-height: 25px;
    }

    .select-row:hover {
      cursor: pointer;
    }
  }

}

.heading-content {
  margin-bottom: 1%;
  margin-top: 1%;
}

.heading-name {
  display: block;
}
