<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container hub-workspace">
  <section class="hub-section">
    <h2 class="hub-section__title">{{ 'labels.heading.Quick Access' | translate }}</h2>
    <div class="hub-feature-grid">
      <div #office>
        <a class="hub-feature hub-feature--primary" [routerLink]="['offices']" *mifosxHasPermission="'READ_OFFICE'">
          <span class="hub-feature__icon">
            <mifosx-thr-icon name="building" size="18"></mifosx-thr-icon>
          </span>
          <span class="hub-feature__copy">
            <span class="hub-feature__title">{{ 'labels.heading.Manage Offices' | translate }}</span>
            <span class="hub-feature__desc">{{
              'labels.text.Add new office or modify or deactivate office' | translate
            }}</span>
          </span>
          <mifosx-thr-icon class="hub-feature__go" name="chevron-right" size="16"></mifosx-thr-icon>
        </a>
      </div>

      <div #employee>
        <a class="hub-feature" [routerLink]="['employees']" *mifosxHasPermission="'READ_STAFF'">
          <span class="hub-feature__icon">
            <mifosx-thr-icon name="user" size="18"></mifosx-thr-icon>
          </span>
          <span class="hub-feature__copy">
            <span class="hub-feature__title">{{ 'labels.heading.Manage Employees' | translate }}</span>
            <span class="hub-feature__desc">{{ 'labels.text.Employee represents loan officers' | translate }}</span>
          </span>
          <mifosx-thr-icon class="hub-feature__go" name="chevron-right" size="16"></mifosx-thr-icon>
        </a>
      </div>

      <div #addEditCurrency>
        <a class="hub-feature" [routerLink]="['currencies']" *mifosxHasPermission="'READ_CURRENCY'">
          <span class="hub-feature__icon">
            <mifosx-thr-icon name="credit-card" size="18"></mifosx-thr-icon>
          </span>
          <span class="hub-feature__copy">
            <span class="hub-feature__title">{{ 'labels.heading.Currency Configuration' | translate }}</span>
            <span class="hub-feature__desc">{{
              'labels.text.Currencies available across organization' | translate
            }}</span>
          </span>
          <mifosx-thr-icon class="hub-feature__go" name="chevron-right" size="16"></mifosx-thr-icon>
        </a>
      </div>
    </div>
  </section>

  <div class="hub-panels">
    <section class="hub-panel">
      <h2 class="hub-panel__title">{{ 'labels.menus.Institution' | translate }}</h2>
      <div class="hub-panel__list">
        <div #holidays>
          <a class="hub-row" [routerLink]="['holidays']" *mifosxHasPermission="'READ_HOLIDAY'">
            <span class="hub-row__icon">
              <mifosx-thr-icon name="calendar" size="16"></mifosx-thr-icon>
            </span>
            <span class="hub-row__copy">
              <span class="hub-row__title">{{ 'labels.heading.Manage Holidays' | translate }}</span>
              <span class="hub-row__desc">{{ 'labels.text.Define holidays for office' | translate }}</span>
            </span>
            <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
          </a>
        </div>

        <div #workingDays>
          <a class="hub-row" [routerLink]="['working-days']" *mifosxHasPermission="'READ_WORKINGDAYS'">
            <span class="hub-row__icon">
              <mifosx-thr-icon name="clock" size="16"></mifosx-thr-icon>
            </span>
            <span class="hub-row__copy">
              <span class="hub-row__title">{{ 'labels.heading.Working Days' | translate }}</span>
              <span class="hub-row__desc">{{
                'labels.text.Working days and configure behaviour of payments' | translate
              }}</span>
            </span>
            <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
          </a>
        </div>

        <div #paymenttypes>
          <a class="hub-row" [routerLink]="['payment-types']" *mifosxHasPermission="'READ_PAYMENTTYPE'">
            <span class="hub-row__icon">
              <mifosx-thr-icon name="wallet" size="16"></mifosx-thr-icon>
            </span>
            <span class="hub-row__copy">
              <span class="hub-row__title">{{ 'labels.heading.Payment Type' | translate }}</span>
              <span class="hub-row__desc">{{ 'labels.text.Manage payment types' | translate }}</span>
            </span>
            <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
          </a>
        </div>

        <div #passwordpreferences>
          <a
            class="hub-row"
            [routerLink]="['password-preferences']"
            *mifosxHasPermission="'READ_PASSWORD_VALIDATION_POLICY'"
          >
            <span class="hub-row__icon">
              <mifosx-thr-icon name="lock" size="16"></mifosx-thr-icon>
            </span>
            <span class="hub-row__copy">
              <span class="hub-row__title">{{ 'labels.heading.Password Preferences' | translate }}</span>
              <span class="hub-row__desc">{{ 'labels.text.The usage of stronger passwords' | translate }}</span>
            </span>
            <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
          </a>
        </div>

        <div #smscampaigns>
          <a class="hub-row" [routerLink]="['sms-campaigns']" *mifosxHasPermission="'VIEW_SMSCAMPAIGNS'">
            <span class="hub-row__icon">
              <mifosx-thr-icon name="bell" size="16"></mifosx-thr-icon>
            </span>
            <span class="hub-row__copy">
              <span class="hub-row__title">{{ 'labels.heading.SMS Campaigns' | translate }}</span>
              <span class="hub-row__desc">{{ 'labels.text.Define SMS Campaigns for Organization' | translate }}</span>
            </span>
            <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
          </a>
        </div>

        <div #bulkimport>
          <a class="hub-row" [routerLink]="['bulk-import']" *mifosxHasPermission="'VIEW_BULKIMPORT'">
            <span class="hub-row__icon">
              <mifosx-thr-icon name="download" size="16"></mifosx-thr-icon>
            </span>
            <span class="hub-row__copy">
              <span class="hub-row__title">{{ 'labels.heading.Bulk Import' | translate }}</span>
              <span class="hub-row__desc">{{
                'labels.text.Bulk data import using excel spreadsheet templates' | translate
              }}</span>
            </span>
            <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
          </a>
        </div>
      </div>
    </section>

    <section class="hub-panel">
      <h2 class="hub-panel__title">{{ 'labels.inputs.Cash' | translate }}</h2>
      <div class="hub-panel__list">
        <div #tellers>
          <a class="hub-row" [routerLink]="['tellers']" *mifosxHasPermission="'READ_TELLER'">
            <span class="hub-row__icon">
              <mifosx-thr-icon name="landmark" size="16"></mifosx-thr-icon>
            </span>
            <span class="hub-row__copy">
              <span class="hub-row__title">{{ 'labels.heading.Teller / Cashier Management' | translate }}</span>
              <span class="hub-row__desc">{{ 'labels.text.Manage Tellers / Cashiers' | translate }}</span>
            </span>
            <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
          </a>
        </div>

        <div #baseTellerSavingsOpening>
          <a
            class="hub-row"
            [routerLink]="['base-teller', 'savings-account-openings']"
            *mifosxHasPermission="'READ_TELLER'"
          >
            <span class="hub-row__icon">
              <mifosx-thr-icon name="piggy-bank" size="16"></mifosx-thr-icon>
            </span>
            <span class="hub-row__copy">
              <span class="hub-row__title">{{ 'labels.heading.Savings Account Opening' | translate }}</span>
              <span class="hub-row__desc">{{
                'labels.text.Open and fund a savings account through Base Teller' | translate
              }}</span>
            </span>
            <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
          </a>
        </div>

        <div #baseTellerSavingsDeposit>
          <a
            class="hub-row"
            [routerLink]="['base-teller', 'savings-account-deposits']"
            *mifosxHasPermission="'DEPOSIT_SAVINGSACCOUNT'"
          >
            <span class="hub-row__icon">
              <mifosx-thr-icon name="wallet" size="16"></mifosx-thr-icon>
            </span>
            <span class="hub-row__copy">
              <span class="hub-row__title">{{ 'labels.heading.Savings Account Deposit' | translate }}</span>
              <span class="hub-row__desc">{{
                'labels.text.Deposit funds into an existing savings account through Base Teller' | translate
              }}</span>
            </span>
            <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
          </a>
        </div>

        <div #baseTellerReturnedCheckPayment>
          <a
            class="hub-row"
            [routerLink]="['base-teller', 'returned-check-payments']"
            *mifosxHasPermission="'READ_BASE_TELLER_RETURNED_CHECK_PAYMENT'"
          >
            <span class="hub-row__icon">
              <mifosx-thr-icon name="receipt" size="16"></mifosx-thr-icon>
            </span>
            <span class="hub-row__copy">
              <span class="hub-row__title">{{ 'labels.heading.Returned Check Payment' | translate }}</span>
              <span class="hub-row__desc">{{
                'labels.text.Settle a returned check with a cash payment' | translate
              }}</span>
            </span>
            <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
          </a>
        </div>
      </div>
    </section>

    <section class="hub-panel">
      <h2 class="hub-panel__title">{{ 'labels.menus.Funds' | translate }}</h2>
      <div class="hub-panel__list">
        <div #fundmapping>
          <a class="hub-row" [routerLink]="['fund-mapping']" *mifosxHasPermission="'READ_OFFICE'">
            <span class="hub-row__icon">
              <mifosx-thr-icon name="wallet" size="16"></mifosx-thr-icon>
            </span>
            <span class="hub-row__copy">
              <span class="hub-row__title">{{ 'labels.heading.Fund Mapping' | translate }}</span>
              <span class="hub-row__desc">{{ 'labels.text.Bulk entry screen for mapping' | translate }}</span>
            </span>
            <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
          </a>
        </div>

        <div #manageFunds>
          <a class="hub-row" [routerLink]="['manage-funds']" *mifosxHasPermission="'READ_FUND'">
            <span class="hub-row__icon">
              <mifosx-thr-icon name="piggy-bank" size="16"></mifosx-thr-icon>
            </span>
            <span class="hub-row__copy">
              <span class="hub-row__title">{{ 'labels.heading.Manage Funds' | translate }}</span>
              <span class="hub-row__desc">{{ 'labels.text.Funds are associated with loans' | translate }}</span>
            </span>
            <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
          </a>
        </div>

        <div #manageLoanOriginators>
          <a class="hub-row" [routerLink]="['manage-loan-originators']" *mifosxHasPermission="'READ_LOAN_ORIGINATOR'">
            <span class="hub-row__icon">
              <mifosx-thr-icon name="briefcase" size="16"></mifosx-thr-icon>
            </span>
            <span class="hub-row__copy">
              <span class="hub-row__title">{{ 'labels.heading.Manage Loan Originators' | translate }}</span>
              <span class="hub-row__desc">{{
                'labels.text.Loan Originators are associated with loan accounts' | translate
              }}</span>
            </span>
            <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
          </a>
        </div>

        <div #bulkloan>
          <a class="hub-row" [routerLink]="['bulkloan']" *mifosxHasPermission="'BULKREASSIGN_LOAN'">
            <span class="hub-row__icon">
              <mifosx-thr-icon name="refresh" size="16"></mifosx-thr-icon>
            </span>
            <span class="hub-row__copy">
              <span class="hub-row__title">{{ 'labels.heading.Bulk Loan Reassignment' | translate }}</span>
              <span class="hub-row__desc">{{ 'labels.text.Easy way to reassign all the loan' | translate }}</span>
            </span>
            <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
          </a>
        </div>

        <div #provisioning>
          <a class="hub-row" [routerLink]="['provisioning-criteria']" *mifosxHasPermission="'VIEW_PROVISIONS'">
            <span class="hub-row__icon">
              <mifosx-thr-icon name="list-checks" size="16"></mifosx-thr-icon>
            </span>
            <span class="hub-row__copy">
              <span class="hub-row__title">{{ 'labels.heading.Loan Provisioning Criteria' | translate }}</span>
              <span class="hub-row__desc">{{ 'labels.text.Loan Provisioning Criteria Organization' | translate }}</span>
            </span>
            <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
          </a>
        </div>
      </div>
    </section>

    <section class="hub-panel">
      <h2 class="hub-panel__title">{{ 'labels.heading.Data' | translate }}</h2>
      <div class="hub-panel__list">
        <div #standinginstructions>
          <a
            class="hub-row"
            [routerLink]="['standing-instructions-history']"
            *mifosxHasPermission="'READ_STANDINGINSTRUCTION'"
          >
            <span class="hub-row__icon">
              <mifosx-thr-icon name="book" size="16"></mifosx-thr-icon>
            </span>
            <span class="hub-row__copy">
              <span class="hub-row__title">{{ 'labels.heading.Standing Instructions History' | translate }}</span>
              <span class="hub-row__desc">{{ 'labels.text.View logged history' | translate }}</span>
            </span>
            <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
          </a>
        </div>

        <div #investor>
          <a class="hub-row" [routerLink]="['investors']" *mifosxHasPermission="'READ_OFFICE'">
            <span class="hub-row__icon">
              <mifosx-thr-icon name="users" size="16"></mifosx-thr-icon>
            </span>
            <span class="hub-row__copy">
              <span class="hub-row__title">{{ 'labels.text.Investors' | translate }}</span>
              <span class="hub-row__desc">{{
                'labels.text.View the loan account details associated with the investors' | translate
              }}</span>
            </span>
            <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
          </a>
        </div>

        <div #entitydatatable>
          <a
            class="hub-row"
            [routerLink]="['entity-data-table-checks']"
            *mifosxHasPermission="'READ_ENTITY_DATATABLE_CHECK'"
          >
            <span class="hub-row__icon">
              <mifosx-thr-icon name="check" size="16"></mifosx-thr-icon>
            </span>
            <span class="hub-row__copy">
              <span class="hub-row__title">{{ 'labels.heading.Entity Data Table Checks' | translate }}</span>
              <span class="hub-row__desc">{{ 'labels.text.Entity Data Table Checks Organization' | translate }}</span>
            </span>
            <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
          </a>
        </div>

        <div #adhocquery>
          <a class="hub-row" [routerLink]="['adhoc-query']" *mifosxHasPermission="'VIEW_ADHOC'">
            <span class="hub-row__icon">
              <mifosx-thr-icon name="search" size="16"></mifosx-thr-icon>
            </span>
            <span class="hub-row__copy">
              <span class="hub-row__title">{{ 'labels.heading.AdHocQuery' | translate }}</span>
              <span class="hub-row__desc">{{ 'labels.text.Define AdHocQuery for Organization' | translate }}</span>
            </span>
            <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
          </a>
        </div>

        <div #exchangeRates>
          <a
            class="hub-row"
            [routerLink]="['exchange-rates']"
            *mifosxHasPermission="[
              'READ_EXCHANGERATE',
              'CREATE_EXCHANGERATE',
              'UPDATE_EXCHANGERATE',
              'DELETE_EXCHANGERATE',
              'CONVERT_CURRENCY'
            ]"
          >
            <span class="hub-row__icon">
              <mifosx-thr-icon name="refresh" size="16"></mifosx-thr-icon>
            </span>
            <span class="hub-row__copy">
              <span class="hub-row__title">{{ 'labels.heading.Exchange Rates' | translate }}</span>
              <span class="hub-row__desc">{{
                'labels.text.Manage exchange rates and currency conversion' | translate
              }}</span>
            </span>
            <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
          </a>
        </div>
      </div>
    </section>
  </div>
</div>

<ng-template #templateOffice let-popover="popover">
  <h2>{{ 'labels.heading.Manage Offices' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.Manage Offices page allows you to create, edit' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); previousStepOffice()">
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); nextStepOffice()">
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateAddEditCurrency let-popover="popover">
  <h2>{{ 'labels.heading.Currency Configuration' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.Define what currencies interactions within the Mifos X system' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); previousStepAddEditCurrency()">
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); nextStepAddEditCurrency()">
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateHolidays let-popover="popover">
  <h2>{{ 'labels.heading.Manage Holidays' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.Ability to manage holidays for individual offices' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); previousStepHolidays()">
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); nextStepHolidays()">
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateEmployee let-popover="popover">
  <h2>{{ 'labels.heading.Manage Employees' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.View, edit and delete employees of your organization' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); previousStepEmployee()">
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); nextStepEmployee()">
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateWorkingDays let-popover="popover">
  <h2>{{ 'labels.heading.Working Days' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.Working days page allows you to define which days' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); previousStepWorkingDays()">
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); nextStepWorkingDays()">
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateManageFunds let-popover="popover">
  <h2>{{ 'labels.heading.Manage Funds' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.This allows you to manage funds associated with loans.' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); previousStepManageFunds()">
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); nextStepManageFunds()">
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>
