/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.pdf-preview-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pdf-preview-content {
  padding-top: 0.5rem;
  overflow: hidden;
}

.pdf-preview-embed {
  display: block;
  width: 100%;
  height: 70vh;
  min-height: 20rem;
  border: none;
}
