.surveyOption {
    border: 1px solid #cbcbcb;
    padding: 5px;

}

.displayQuestions {
    margin-top: 20px;
}

.question {
  padding: 10px 0px;
}

.wrap-mat-radio-label {
  white-space: normal
}

.questionText {
  font-weight: bold;
}

.surveySelect {
    height: 40px;
    margin-bottom: 20px;
}

.nameLabel {
    width: 25%;
}

.surveyCont {
    padding: 5%
}

.button-cancel {
  margin-left: 35%;
}

.button-submit {
  margin-left: 2%;
}
