.mat-h3{
    border-bottom: 1px solid #ccc !important;
}
.contents{
    display: contents !important;
}
.client {
    display: contents !important;
    line-height: 28px !important;
    width: 100% !important;
  }