.client-card {
  margin: 0 auto;
  max-width: 80rem;
  width: 90%;
  padding: 0;
  .header {
    padding: 1%;
    .header-title-group {
      .client-card-title {
        margin-top: 1.4rem;
        color: white;
        width: 90%;
        p {
          color: white;
        }
      }
    }
    .profile-image-container {
      margin: 1%;
      .profile-image {
        object-fit: cover;
        border-radius: 20px;
      }
      .client-image-button {
        min-width: 26px;
        padding: 0 6px;
        margin: 4px;
        line-height: 25px;
      }
      .signature {
        background-color: #0a6aac;
        color: white;
        text-align: center;
        margin: 0;
        padding: 2%;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .client-actions {
      align-self: flex-end;
      margin: 0 1%;
      i {
        margin-bottom: 2px;
        margin-right: 4px;
      }
    }
  }
  .navigation-tabs {
    overflow: auto;
  }
  i:hover {
    cursor: pointer;
  }
}
