table {
  width: 100%;

  .select-row:hover {
    cursor: pointer;
  }
}

.flex-38 {
  .time-input {
    font-size: 14px;
    width: 100%;
  }
}

.gap-8px {
  gap: 8px;
}

.audit-filters-card {
  margin-bottom: 1.5rem;
  padding: 0.75rem 1rem;
}
