h3 {
    margin: 0;
    font-weight: 500;
}

span {
    margin: 0.5em 0;
}

mat-divider {
  margin: 0 0 0.5em 0;
}

.account-link {
  display: inline-block;
  padding: 0;
  text-decoration: underline;
}
