table {
    width: 100%;
}

// TODO: CONFIGURE THESE CLASSES GLOBALLY
.is-differential {
    color: #32cd32;
}
  
.not-is-differential {
    color: #f44366;
}

.content {
    div {
      margin: 1rem 0;
      word-wrap: break-word;
    }
}
