@if (actions['Assign Staff']) {
  <mifosx-group-assign-staff></mifosx-group-assign-staff>
}
@if (actions['Close']) {
  <mifosx-close-group></mifosx-close-group>
}
@if (actions['Activate']) {
  <mifosx-activate-group></mifosx-activate-group>
}
@if (actions['Attach Meeting']) {
  <mifosx-attach-group-meeting></mifosx-attach-group-meeting>
}
@if (actions['Attendance']) {
  <mifosx-group-attendance></mifosx-group-attendance>
}
@if (actions['Manage Members']) {
  <mifosx-manage-group-members></mifosx-manage-group-members>
}
@if (actions['Edit Meeting']) {
  <mifosx-edit-group-meeting></mifosx-edit-group-meeting>
}
@if (actions['Edit Meeting Schedule']) {
  <mifosx-edit-group-meeting-schedule></mifosx-edit-group-meeting-schedule>
}
@if (actions['Transfer Clients']) {
  <mifosx-group-transfer-clients></mifosx-group-transfer-clients>
}
