table {
  width: 100%;

  .select-row:hover {
    cursor: pointer;
  }
}

// .explain-text {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-bottom: 2rem;
//   scale: 1.2;
// }

// .explain-text button {
//   background-color: rgb(255 255 255 / 0%);
//   border: none;
//   transition: 1s;
// }

// .explain-text button:hover {
//   scale: 1.3;
// }

.gl-account-tree {
  ul,
  li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  li {
    span {
      cursor: pointer;
    }
  }

  .gl-account-tree-invisible {
    display: none;
  }
}

.content {
  div {
    margin: 1rem 0;
    word-wrap: break-word;

    &.header {
      font-weight: 500;
    }
  }
}

// TODO: CONFIGURE THESE CLASSES GLOBALLY
.enabled {
  color: #32cd32;
}

.disabled {
  color: #f44366;
}

.manual-entries-allowed {
  color: #32cd32;
}

.manual-entries-not-allowed {
  color: #f44366;
}
