.example-card {
  //  max-width: 700px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }


.border {
    border: 0.5px solid #DDD;
    border-right-width: 0;
    border-left-width: 0;
    border-radius: 0;
   }
 
 