#mifosx-shell-container {
  max-width: 100%;

  .sidebar-panel {
    min-height: calc(100vh - 100px);
    overflow: auto;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .sidebar-full {
    width: 15rem;
  }

  .sidebar-compact {
    width: 4rem;
  }
}

mat-sidenav-container,
mat-sidenav-content,
.main-content {
  min-height: calc(100vh - 20px);
  overflow-y: auto;
}
