/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Import Default Theme for MifosX
@use 'theme/mifosx-theme';
@use 'theme/pictonblue-yellowgreen' as *;
@use 'theme/indigo-pink' as *;
@use 'theme/pink-bluegrey' as *;
@use 'theme/deeppurple-amber' as *;
@use 'theme/purple-green.scss' as *;

// Global Imports

/* You can add global styles to this file, and also import other style files */
@use 'assets/styles/helper';

.scrollbar-styling {
  scrollbar-width: thin;
  scrollbar-color: #889 #f1f1f1;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #889;

  &:hover {
    background: #555;
  }
}

/* === Global Layout Utilities === */

.layout-row-wrap {
  display: flex;
  flex-flow: row wrap;
}

.layout-column {
  display: flex;
  flex-direction: column;
}

.layout-row {
  display: flex;
  flex-direction: row;
}

.align-flex-end {
  justify-content: flex-end;
}

.flex-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive-column {
  @media (width <= 768px) {
    flex-direction: column;
  }
}

.gap-2px {
  gap: 2%;
}

.gap-5px {
  gap: 5px;
}

.gap-20px {
  gap: 20px;
}

.gap-25px {
  gap: 25px;
}

.gap-32px {
  gap: 32px;
}

.gap-40px {
  gap: 40px;
}

.align-start {
  justify-content: flex-start;
}

.align-end {
  justify-content: flex-end;
}

.align-center-start {
  justify-content: flex-start;
  align-items: center;
}

.align-center {
  justify-content: center;
}

.align-center-center {
  justify-content: center;
  align-items: center;
}

.align-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-start-baseline {
  align-items: baseline;
  justify-content: flex-start;
}

.layout-align-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.align-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.align-start-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.layout-align-center {
  align-items: center;
  justify-content: center;
}

.layout-gt-sm-row {
  @media (width >= 600px) {
    flex-direction: row;
  }
}

.align-gt-sm-start-center {
  @media (width >= 600px) {
    justify-content: flex-start;
    align-items: center;
  }
}

.flex-auto {
  flex: 1 0 auto;
}

.flex-3-auto {
  flex: 3 0 auto;
}

.flex-4 {
  flex: 0 0 4%;
}

.flex-5 {
  flex: 0 0 5%;
}

.flex-8 {
  flex: 0 0 8%;
}

.flex-9 {
  flex: 0 0 9%;
}

.flex-10 {
  flex: 0 0 10%;
}

.flex-13 {
  flex: 0 0 13%;
}

.flex-14 {
  flex: 0 0 12%;
}

.flex-15 {
  flex: 0 0 15%;
}

.flex-16 {
  flex: 0 0 16%;
}

.flex-18 {
  flex: 0 0 18%;
}

.flex-20 {
  flex: 0 0 20%;
}

.flex-23 {
  flex: 0 0 23%;
}

.flex-24 {
  flex: 0 0 24%;
}

.flex-25 {
  flex: 0 0 25%;
}

.flex-28 {
  flex: 0 0 28%;
}

.flex-29 {
  flex: 0 0 29%;
}

.flex-30 {
  flex: 0 0 30%;
}

.flex-31 {
  flex: 0 0 31%;
}

.flex-32 {
  flex: 0 0 32%;
}

.flex-33 {
  flex: 0 0 33%;
}

.flex-34 {
  flex: 0 0 34%;
}

.flex-38 {
  flex: 0 0 38%;
}

.flex-40 {
  flex: 0 0 40%;
}

.flex-43 {
  flex: 0 0 43%;
}

.flex-45 {
  flex: 0 0 45%;
}

.flex-46 {
  flex: 0 0 46%;
}

.flex-47 {
  flex: 0 0 47%;
}

.flex-48 {
  flex: 0 0 48%;
}

@media (width <= 768px) {
  .hide-lt-md {
    display: none !important;
  }
}

.flex-49 {
  flex: 0 0 49%;
}

.flex-50 {
  flex: 0 0 50%;
}

.flex-53 {
  flex: 0 0 53%;
}

.flex-60 {
  flex: 0 0 60%;
}

.flex-63 {
  flex: 0 0 63%;
}

.flex-65 {
  flex: 0 0 65%;
}

.flex-67 {
  flex: 0 0 67%;
}

.flex-68 {
  flex: 0 0 68%;
}

.flex-70 {
  flex: 0 0 70%;
}

.flex-73 {
  flex: 0 0 73%;
}

.flex-75 {
  flex: 0 0 75%;
}

.flex-83 {
  flex: 0 0 83%;
}

.flex-90 {
  flex: 0 0 90%;
}

.flex-94 {
  flex: 0 0 94%;
}

.flex-95 {
  flex: 0 0 95%;
}

.flex-96 {
  flex: 0 0 96%;
}

@media screen and (width <= 599px) {
  .flex-xs-15 {
    flex: 0 0 15%;
    max-width: 15%;
  }
}

@media screen and (width >= 600px) and (width <= 959px) {
  .flex-sm-10 {
    flex: 0 0 10%;
    max-width: 10%;
  }
}

@media screen and (width >= 960px) and (width <= 1279px) {
  .flex-md-5 {
    flex: 0 0 5%;
    max-width: 5%;
  }
}

.hide-lt-sm {
  @media (width <= 599px) {
    display: none !important;
  }
}

.flex-98 {
  flex: 0 0 98%;
}

.flex-100 {
  flex: 0 0 100%;
}

.flex-fill {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}

.gap-8px {
  gap: 8px;
}

.gap-10px {
  gap: 10px;
}

.gap-12px {
  gap: 12px;
}

.gap-1percent {
  gap: 1%;
}

.gap-2percent {
  gap: 2%;
}

.gap-3percent {
  gap: 3%;
}

.gap-4percent {
  gap: 4%;
}

.gap-5percent {
  gap: 5%;
}

.gap-15percent {
  gap: 15%;
}

.gap-20percent {
  gap: 20%;
}

.gap-25percent {
  gap: 25%;
}

.gap-70percent {
  gap: 70%;
}

.flex {
  flex: 1 1 0%;
}

.layout-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex-gt-sm-30 {
  @media (width >= 600px) {
    flex: 1 0 30%;
  }
}

@media (width <= 1199px) {
  .hide-lt-lg {
    display: none !important;
  }
}

@media (width <= 768px) {
  .flex-25 {
    flex: 0 0 50%;
  }
}

@media (width <= 599px) {
  .layout-xs-column {
    flex-direction: column;
  }
}

.flex-50-minus-25px {
  flex: 1 1 calc(50% - 25px);
}

.flex-85-minus-20px {
  flex: 1 1 calc(85% - 20px);
}

.flex-90-minus-20px {
  flex: 1 1 calc(90% - 20px);
}

.layout-lt-md-column {
  @media (width <= 768px) {
    flex-direction: column;
  }
}

.layout-column.lt-md {
  @media (width <= 599px) {
    flex-direction: column !important;
  }
}

.responsive-flex-full {
  @media (width <= 768px) {
    flex: 0 0 100% !important;
  }
}

.align-space-evenly-center {
  justify-content: space-evenly;
  align-items: center;
}

.mat-mdc-form-field {
  .mat-mdc-input-element::placeholder {
    font-size: 14px !important;
    color: #999 !important;
  }

  .mdc-floating-label {
    font-size: 14px !important;
  }
}

@media (width <= 768px) {
  .flex-lt-md-50 {
    flex: 0 0 50%;
  }
}

@media (width <= 768px) {
  .flex-50-lt-md {
    flex: 0 0 50%;
  }
}

@media (width <= 599px) {
  .layout-column-xs {
    flex-direction: column !important;
  }
}
