/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */


// Theme customization
@import "styles/bootstrap-material/_variables.scss";
@import "~bootstrap/scss/bootstrap";
@import "styles/bootstrap-material/_bootswatch.scss";

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";

//other scss imports
@import "styles/_loader.scss"
