/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Import Default Theme for MifosX
@import "theme/custom/denim-yellowgreen";

// Global Imports
/* You can add global styles to this file, and also import other style files */
@import "assets/styles/helper";


// 3rd party libraries
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

// Scrollbar
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 3rem;
}
::-webkit-scrollbar-button{
  display: none;
}
