@import "colours";
@import "loader";
@import "width-height";
@import "z-index";
//Import helper files
@import "margin";
@import "padding";
@import "text";
@import "input";
@import "display";
@import "border";
@import "background";
@import "align";
@import "clear";
@import "float";
@import "overflow";
@import "position";


//Miscellaneous scss
div {
  box-sizing: border-box;
}

.color-inherit {
    color: inherit
  }

.no-shadow {
    box-shadow: none !important
  }

.pointer {
    cursor: pointer
  }

.nolist {
    list-style: none
  }

  