.loader-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  width: 100px; /* Adjust the logo size */
  height: auto; /* Maintain the aspect ratio */
  margin-bottom: 20px; /* Space between logo and circle */
}


.circle {
  width: 80px;
  height: 80px;
  border: 8px solid transparent;
  border-top: 8px solid red; /* Initial color (Red) */
  border-radius: 50%;
  animation: spin 1s linear infinite, colorChange 2s ease-in-out infinite;
}

.loading-text {
  margin-top: 20px; /* Space between circle and text */
  font-size: 18px;
  font-family: Arial, sans-serif;
  color: #333; /* Text color */
  font-weight: bold;
}

  .bottom {
    border-width: 0 90px 90px;
    border-color: transparent transparent #1fb050;
    bottom: calc(50% - 100px);
    left: calc(50% - 90px);
  }

  .top {
    border-width: 90px 90px 0;
    border-color: #b4d575 transparent transparent;
    top: calc(50% - 100px);
    left: calc(50% - 90px);
  }


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@keyframes colorChange {
  0% {
    border-top-color: red; /* Start with red */
  }
  50% {
    border-top-color: yellow; /* Change to yellow */
  }
  100% {
    border-top-color: orange; /* change to orange */

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
