<div class="layout-row align-end gap-2px responsive-column container m-b-20"></div>

<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="title"> {{ 'labels.text.Welcome' | translate }}, {{ username }}! </mat-card-title>
    </mat-card-header>
    <mat-card-content #searchActivity class="search-overlay">
      <div class="layout-column">
        <mat-form-field>
          <mat-label>{{ 'labels.placeholders.Search Activity' | translate }}</mat-label>
          <input matInput [matAutocomplete]="activitySearch" [formControl]="searchText" />
        </mat-form-field>
      </div>

      <mat-autocomplete #activitySearch="matAutocomplete">
        <mat-option *ngFor="let activity of filteredActivities | async" [routerLink]="activity.path">
          <span>{{ activity.activity }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-card-content>

    <div id="home-buttons">
      <button mat-raised-button color="primary" [routerLink]="['/clients']">
        {{ 'Clients' | translate }}
      </button>
      <button mat-raised-button color="primary" [routerLink]="['/groups']">
        {{ 'Groups' | translate }}
      </button>
      <button mat-raised-button color="primary" [routerLink]="['/centers']">
        {{ 'Centers' | translate }}
      </button>
    </div>

    <img mat-card-image src="assets/images/mifos_lg-logo.png" alt="Mifos X" id="mifos_lg-logo" />
  </mat-card>
</div>

<div class="container">
  <mat-card class="card layout-column gap-40px">
    <div class="layout-row top-card">
      <div class="trends-bar">
        <mifosx-client-trends-bar></mifosx-client-trends-bar>
      </div>
    </div>

    <div class="layout-row bottom-card">
      <div class="amount-disbursed">
        <mifosx-amount-disbursed-pie></mifosx-amount-disbursed-pie>
      </div>

      <div class="amount-collected">
        <mifosx-amount-collected-pie></mifosx-amount-collected-pie>
      </div>
    </div>
  </mat-card>
</div>

<ng-template #popoverButtons let-popover="popover" let-prev="prev" let-next="next">
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button
      *ngIf="prev"
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(prev.template, prev.target, 'bottom', true)"
    >
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button
      *ngIf="next"
      mat-raised-button
      color="primary"
      (click)="popover.close(); showPopover(next.template, next.target, 'bottom', true)"
    >
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateSearchActivity let-popover="popover">
  <h2>{{ 'labels.heading.Search Activity' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.This will navigate the user to the searched activity.' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); nextStep()">
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>
