@media (min-width: 992px) {

  .user-report-wrapper {
    position: relative;
  
    .user-report {
      padding: 0 0 17.5px 0;
      position: absolute;
      bottom: 0;
    }
  }
  
}

table {
  width: 100%;
}
