@use 'assets/styles/helper';
@use 'assets/styles/colours' as *;

#footer {
  align-items: center;
  min-width: 400px;

  .content-wrapper {
    max-width: 100%;
    min-width: 90%;
    padding-left: 5%;
    padding-right: 5%;

    .versions {
      width: 100%;
      color: $status-inactive;
    }

    .footer-content {
      margin: 0;
    }
  }

  .divider {
    margin: 2.5rem 1rem 0.5rem;
    width: 4rem;
  }

  .business-date {
    color: $status-approved;
  }

  table {
    border: none;

    tr:nth-child(even) {
      background-color: transparent;
    }
  }
}

.main-page {
  max-width: 70%;
  min-width: 50%;
  padding-left: 30%;
}

.copy-label {
  min-width: 100%;
  text-align: center;
  font-size: large;
}
