<div class="container m-b-20 align-end gap-2percent" *ngIf="!transactionData.reversed">
  <span *mifosxHasPermission="'ADJUSTTRANSACTION_SAVINGSACCOUNT'">
    <button
      mat-raised-button
      color="primary"
      *ngIf="!(transactionData.transactionType.value === 'Transfer' || transactionData.reversed === 'true')"
      [routerLink]="'edit'"
    >
      <fa-icon icon="edit" class="m-r-10"></fa-icon>{{ 'labels.buttons.Edit' | translate }}
    </button>
  </span>
  <button
    mat-raised-button
    color="warn"
    *mifosxHasPermission="'UNDOTRANSACTION_SAVINGSACCOUNT'"
    (click)="undoTransaction()"
  >
    <fa-icon icon="undo" class="m-r-10"></fa-icon>{{ 'labels.buttons.Undo' | translate }}
  </button>
</div>

<div class="container">
  <mat-card>
    <mat-card-content>
      <div class="layout-row-wrap">
        <div class="flex-100" [ngClass]="transactionColor()"></div>

        <div class="flex-50 mat-body-strong">
          {{ 'labels.inputs.Transaction Id' | translate }}
        </div>

        <div class="flex-50">
          {{ transactionData.id }}
        </div>

        <div class="flex-50 mat-body-strong">
          {{ 'labels.inputs.Type' | translate }}
        </div>

        <div class="flex-50">
          {{ transactionData.transactionType.value }}
        </div>

        <div class="flex-50 mat-body-strong">
          {{ 'labels.inputs.Transaction Date' | translate }}
        </div>

        <div class="flex-50">
          {{ transactionData.date | dateFormat }}
        </div>

        <div class="flex-50 mat-body-strong">
          {{ 'labels.inputs.Currency' | translate }}
        </div>

        <div class="flex-50">
          {{ transactionData.currency.displayLabel }}
        </div>

        <div class="flex-50 mat-body-strong">
          {{ 'labels.inputs.Amount' | translate }}
        </div>

        <div class="flex-50">
          {{ transactionData.amount | currency: transactionData.currency.code : 'symbol-narrow' : '1.2-2' }}
        </div>

        <div class="flex-50 mat-body-strong" *ngIf="transactionData.note">
          {{ 'labels.inputs.Note' | translate }}
        </div>

        <div class="flex-50" *ngIf="transactionData.note">
          {{ transactionData.note }}
        </div>

        <mifosx-transaction-payment-detail
          *ngIf="transactionData.paymentDetailData"
          [paymentDetailData]="transactionData.paymentDetailData"
        >
        </mifosx-transaction-payment-detail>
      </div>
    </mat-card-content>

    <mat-card-actions class="layout-row layout-xs-column layout-align-center gap-5px m-b-20">
      <button type="button" color="primary" mat-raised-button (click)="goBack()">
        {{ 'labels.buttons.Back' | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
