<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container hub-workspace">
  <section class="hub-section">
    <h2 class="hub-section__title">{{ 'labels.heading.Quick Access' | translate }}</h2>
    <div class="hub-feature-grid">
      <div #rolesandpermission>
        <a class="hub-feature hub-feature--primary" [routerLink]="['roles-and-permissions']">
          <span class="hub-feature__icon">
            <mifosx-thr-icon name="key" size="18"></mifosx-thr-icon>
          </span>
          <span class="hub-feature__copy">
            <span class="hub-feature__title">{{ 'labels.heading.Manage Roles and Permissions' | translate }}</span>
            <span class="hub-feature__desc">{{
              'labels.text.Define or modify roles and associated permissions' | translate
            }}</span>
          </span>
          <mifosx-thr-icon class="hub-feature__go" name="chevron-right" size="16"></mifosx-thr-icon>
        </a>
      </div>

      <div #configurations>
        <a class="hub-feature" [routerLink]="['configurations']">
          <span class="hub-feature__icon">
            <mifosx-thr-icon name="settings" size="18"></mifosx-thr-icon>
          </span>
          <span class="hub-feature__copy">
            <span class="hub-feature__title">{{ 'labels.heading.Configurations' | translate }}</span>
            <span class="hub-feature__desc">{{
              'labels.text.Global configurations, Cache and Business Date' | translate
            }}</span>
          </span>
          <mifosx-thr-icon class="hub-feature__go" name="chevron-right" size="16"></mifosx-thr-icon>
        </a>
      </div>

      <div #datatables>
        <a class="hub-feature" [routerLink]="['data-tables']">
          <span class="hub-feature__icon">
            <mifosx-thr-icon name="grid" size="18"></mifosx-thr-icon>
          </span>
          <span class="hub-feature__copy">
            <span class="hub-feature__title">{{ 'labels.heading.Manage Data tables' | translate }}</span>
            <span class="hub-feature__desc">{{ 'labels.text.Add new extra fields to any entity' | translate }}</span>
          </span>
          <mifosx-thr-icon class="hub-feature__go" name="chevron-right" size="16"></mifosx-thr-icon>
        </a>
      </div>
    </div>
  </section>

  <div class="hub-panels">
    <section class="hub-panel">
      <h2 class="hub-panel__title">{{ 'labels.heading.Access Roles' | translate }}</h2>
      <div class="hub-panel__list">
        <div #makerCheckerTable>
          <a class="hub-row" [routerLink]="['configure-mc-tasks']">
            <span class="hub-row__icon">
              <mifosx-thr-icon name="gitfork" size="16"></mifosx-thr-icon>
            </span>
            <span class="hub-row__copy">
              <span class="hub-row__title">{{ 'labels.heading.Configure Maker Checker Tasks' | translate }}</span>
              <span class="hub-row__desc">{{ 'labels.text.Define or modify Maker Checker tasks' | translate }}</span>
            </span>
            <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
          </a>
        </div>

        <a class="hub-row" [routerLink]="['account-number-preferences']">
          <span class="hub-row__icon">
            <mifosx-thr-icon name="tag" size="16"></mifosx-thr-icon>
          </span>
          <span class="hub-row__copy">
            <span class="hub-row__title">{{ 'labels.heading.Account Number Preferences' | translate }}</span>
            <span class="hub-row__desc">{{
              'labels.text.Preferences for generating account numbers for client' | translate
            }}</span>
          </span>
          <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
        </a>

        <a class="hub-row" [routerLink]="['theme']" *mifosxHasPermission="'READ_CONFIGURATION'">
          <span class="hub-row__icon">
            <mifosx-thr-icon name="sun" size="16"></mifosx-thr-icon>
          </span>
          <span class="hub-row__copy">
            <span class="hub-row__title">{{ 'labels.heading.Theme' | translate }}</span>
            <span class="hub-row__desc">{{
              'labels.text.Set the primary color used across this tenant' | translate
            }}</span>
          </span>
          <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
        </a>
      </div>
    </section>

    <section class="hub-panel">
      <h2 class="hub-panel__title">{{ 'labels.heading.Platform' | translate }}</h2>
      <div class="hub-panel__list">
        <div #codes>
          <a class="hub-row" [routerLink]="['codes']">
            <span class="hub-row__icon">
              <mifosx-thr-icon name="list-checks" size="16"></mifosx-thr-icon>
            </span>
            <span class="hub-row__copy">
              <span class="hub-row__title">{{ 'labels.heading.Manage Codes' | translate }}</span>
              <span class="hub-row__desc">{{
                'labels.text.Codes are used to define drop down values' | translate
              }}</span>
            </span>
            <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
          </a>
        </div>

        <a class="hub-row" [routerLink]="['hooks']">
          <span class="hub-row__icon">
            <mifosx-thr-icon name="link" size="16"></mifosx-thr-icon>
          </span>
          <span class="hub-row__copy">
            <span class="hub-row__title">{{ 'labels.heading.Manage Hooks' | translate }}</span>
            <span class="hub-row__desc">{{ 'labels.text.Define Hooks' | translate }}</span>
          </span>
          <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
        </a>

        <a class="hub-row" [routerLink]="['entity-to-entity-mapping']">
          <span class="hub-row__icon">
            <mifosx-thr-icon name="gitfork" size="16"></mifosx-thr-icon>
          </span>
          <span class="hub-row__copy">
            <span class="hub-row__title">{{ 'labels.heading.Entity to Entity Mapping' | translate }}</span>
            <span class="hub-row__desc">{{
              'labels.text.Define or modify entity to entity mappings' | translate
            }}</span>
          </span>
          <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
        </a>

        <a
          class="hub-row"
          [routerLink]="['external-events']"
          *mifosxHasPermission="'READ_EXTERNAL_EVENT_CONFIGURATION'"
        >
          <span class="hub-row__icon">
            <mifosx-thr-icon name="globe" size="16"></mifosx-thr-icon>
          </span>
          <span class="hub-row__copy">
            <span class="hub-row__title">{{ 'labels.heading.Manage External Events' | translate }}</span>
            <span class="hub-row__desc">{{
              'labels.text.External Events configuration, to enable or disable' | translate
            }}</span>
          </span>
          <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
        </a>

        <a class="hub-row" [routerLink]="['external-services']">
          <span class="hub-row__icon">
            <mifosx-thr-icon name="settings" size="16"></mifosx-thr-icon>
          </span>
          <span class="hub-row__copy">
            <span class="hub-row__title">{{ 'labels.heading.External Services' | translate }}</span>
            <span class="hub-row__desc">{{ 'labels.text.External Services Configuration' | translate }}</span>
          </span>
          <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
        </a>

        <span class="hub-row" [class.hub-row--disabled]="isDisabled">
          <span class="hub-row__icon">
            <mifosx-thr-icon name="file" size="16"></mifosx-thr-icon>
          </span>
          <span class="hub-row__copy">
            <span class="hub-row__title">{{ 'labels.heading.Manage Surveys' | translate }}</span>
            <span class="hub-row__desc">{{ 'labels.text.Manage Surveys' | translate }}</span>
          </span>
        </span>
      </div>
    </section>

    <section class="hub-panel">
      <h2 class="hub-panel__title">{{ 'labels.menus.Operations' | translate }}</h2>
      <div class="hub-panel__list">
        <a class="hub-row" [routerLink]="['audit-trails']">
          <span class="hub-row__icon">
            <mifosx-thr-icon name="list-checks" size="16"></mifosx-thr-icon>
          </span>
          <span class="hub-row__copy">
            <span class="hub-row__title">{{ 'labels.heading.Audit Trails' | translate }}</span>
            <span class="hub-row__desc">{{ 'labels.text.Audit logs of all the activities' | translate }}</span>
          </span>
          <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
        </a>

        <div #manageReports>
          <a class="hub-row" [routerLink]="['reports']">
            <span class="hub-row__icon">
              <mifosx-thr-icon name="file" size="16"></mifosx-thr-icon>
            </span>
            <span class="hub-row__copy">
              <span class="hub-row__title">{{ 'labels.heading.Manage Reports' | translate }}</span>
              <span class="hub-row__desc">{{ 'labels.text.Add new report and classify reports' | translate }}</span>
            </span>
            <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
          </a>
        </div>

        <div #schedulerJobs>
          <a class="hub-row" [routerLink]="['manage-jobs']">
            <span class="hub-row__icon">
              <mifosx-thr-icon name="clock" size="16"></mifosx-thr-icon>
            </span>
            <span class="hub-row__copy">
              <span class="hub-row__title">{{ 'labels.heading.Manage Jobs' | translate }}</span>
              <span class="hub-row__desc">{{
                'labels.text.Manage Schedule and Workflow jobs, modify jobs' | translate
              }}</span>
            </span>
            <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
          </a>
        </div>

        <a class="hub-row" [routerLink]="['manage-dashboards']">
          <span class="hub-row__icon">
            <mifosx-thr-icon name="layout-dashboard" size="16"></mifosx-thr-icon>
          </span>
          <span class="hub-row__copy">
            <span class="hub-row__title">{{ 'labels.heading.Manage Dashboards' | translate }}</span>
            <span class="hub-row__desc">{{
              'labels.text.Configure dashboard widgets, roles and monitor system performance' | translate
            }}</span>
          </span>
          <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
        </a>
      </div>
    </section>

    <section class="hub-panel">
      <h2 class="hub-panel__title">{{ 'labels.heading.About Us' | translate }}</h2>
      <div class="hub-panel__list">
        <a class="hub-row" [routerLink]="['system-information']">
          <span class="hub-row__icon">
            <mifosx-thr-icon name="info" size="16"></mifosx-thr-icon>
          </span>
          <span class="hub-row__copy">
            <span class="hub-row__title">{{ 'labels.heading.System Information' | translate }}</span>
            <span class="hub-row__desc">{{
              'labels.text.View system version, server and licensing information' | translate
            }}</span>
          </span>
          <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
        </a>

        <a class="hub-row" [routerLink]="['about-us']">
          <span class="hub-row__icon">
            <mifosx-thr-icon name="users" size="16"></mifosx-thr-icon>
          </span>
          <span class="hub-row__copy">
            <span class="hub-row__title">{{ 'labels.heading.About Us' | translate }}</span>
            <span class="hub-row__desc">{{
              'labels.text.Learn about the Mifos Initiative and our mission' | translate
            }}</span>
          </span>
          <mifosx-thr-icon class="hub-row__go" name="chevron-right" size="16"></mifosx-thr-icon>
        </a>
      </div>
    </section>
  </div>
</div>

<ng-template #templateDatatables let-popover="popover">
  <h2>{{ 'labels.heading.Manage Data Tables' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.Mifos X data-tables allow the user to add custom fields' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); previousStepDatatables()">
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); nextStepDatatables()">
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateCodes let-popover="popover">
  <h2>{{ 'labels.heading.Manage Codes' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.Selection you can create new drop-downs and edit' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); previousStepCodes()">
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); nextStepCodes()">
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateRolesandPermission let-popover="popover">
  <h2>{{ 'labels.heading.Manage Roles and Permissions' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.Roles and Permissions allow the administrator to control access' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); previousStepRolesandPermission()">
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); nextStepRolesandPermission()">
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateMakerCheckerTable let-popover="popover">
  <h2>{{ 'labels.heading.Configure Maker-Checker Tasks' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.Maker-Checker principle requires every tasks' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); previousStepMakerCheckerTable()">
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); nextStepMakerCheckerTable()">
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateConfigurations let-popover="popover">
  <h2>{{ 'labels.heading.Configuration' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.Configurations page allows you to further customize' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); previousStepConfigurations()">
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); nextStepConfigurations()">
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateSchedulerJobs let-popover="popover">
  <h2>{{ 'labels.heading.Manage Scheduler Jobs' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.Scheduler Jobs can set batch jobs' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); previousStepSchedulerJobs()">
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); nextStepSchedulerJobs()">
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #templateManageReports let-popover="popover">
  <h2>{{ 'labels.heading.Manage Reports' | translate }}</h2>
  <p class="mw300">{{ 'labels.text.Add customized reports and edit core reports' | translate }}</p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); previousStepManageReports()">
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); nextStepManageReports()">
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>
