<div class="container">

  <mat-card>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="50%">

        <mat-nav-list>

          <div #datatables>
            <mat-list-item [routerLink]="['data-tables']">
              <mat-icon matListIcon>
                <fa-icon icon="table" size="sm"></fa-icon>
              </mat-icon>
              <h4 matLine>{{'labels.heading.Manage Data tables' | translate}}</h4>
              <p matLine>{{'labels.text.Add new extra fields to any entity' | translate}}</p>
            </mat-list-item>
          </div>

          <div #codes>
            <mat-list-item [routerLink]="['codes']">
              <mat-icon matListIcon>
                <fa-icon icon="list-ul" size="sm"></fa-icon>
              </mat-icon>
              <h4 matLine>{{'labels.heading.Manage Codes' | translate}}</h4>
              <p matLine>{{'labels.text.Codes are used to define drop down values' | translate}}</p>
            </mat-list-item>
          </div>

          <div #rolesandpermission>
            <mat-list-item [routerLink]="['roles-and-permissions']">
              <mat-icon matListIcon>
                <fa-icon icon="key" size="sm"></fa-icon>
              </mat-icon>
              <h4 matLine>{{'labels.heading.Manage Roles and Permissions' | translate}}</h4>
              <p matLine>{{'labels.text.Define or modify roles and associated permissions' | translate}}</p>
            </mat-list-item>
          </div>

          <div #makerCheckerTable>
            <mat-list-item [routerLink]="['configure-mc-tasks']">
              <mat-icon matListIcon>
                <fa-icon icon="sitemap" size="sm"></fa-icon>
              </mat-icon>
              <h4 matLine>{{'labels.heading.Configure Maker Checker Tasks' | translate}}</h4>
              <p matLine>{{'labels.text.Define or modify Maker Checker tasks' | translate}}</p>
            </mat-list-item>
          </div>

          <mat-list-item [routerLink]="['hooks']">
            <mat-icon matListIcon>
              <fa-icon icon="anchor" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'labels.heading.Manage Hooks' | translate}}</h4>
            <p matLine>{{'labels.text.Define Hooks' | translate}}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['entity-to-entity-mapping']">
            <mat-icon matListIcon>
              <fa-icon icon="road" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'labels.heading.Entity to Entity Mapping' | translate}}</h4>
            <p matLine>{{'labels.text.Define or modify entity to entity mappings' | translate}}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['surveys']">
            <mat-icon matListIcon>
              <fa-icon icon="file-alt" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'labels.heading.Manage Surveys' | translate}}</h4>
            <p matLine>{{'labels.text.Manage your Services' | translate}}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['external-events']"  *mifosxHasPermission="'READ_EXTERNAL_EVENT_CONFIGURATION'">
            <mat-icon matListIcon>
              <fa-icon icon="anchor" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'labels.heading.Manage External Events' | translate}}</h4>
            <p matLine>{{'labels.text.External Events configuration, to enable or disable' | translate}}</p>
          </mat-list-item>

        </mat-nav-list>

      </div>

      <div fxFlex="50%">

        <mat-nav-list>

          <mat-list-item [routerLink]="['audit-trails']">
            <mat-icon matListIcon>
              <fa-icon icon="money-check" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'labels.heading.Audit Trails' | translate}}</h4>
            <p matLine>{{'labels.text.Audit logs of all the activities' | translate}}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['reports']">
            <mat-icon matListIcon>
              <fa-icon icon="file-word" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'labels.heading.Manage Reports' | translate}}</h4>
            <p matLine>{{'labels.text.Add new report and classify reports' | translate}}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['manage-jobs']">
            <mat-icon matListIcon>
              <fa-icon icon="clock" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'labels.heading.Manage Jobs' | translate}}</h4>
            <p matLine>{{'labels.text.Manage Schedule and Workflow jobs, modify jobs' | translate}}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['configurations']">
            <mat-icon matListIcon>
              <fa-icon icon="cogs" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'labels.heading.Configurations' | translate}}</h4>
            <p matLine>{{'labels.text.Global configurations, Cache and Business Date' | translate}}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['account-number-preferences']">
            <mat-icon matListIcon>
              <fa-icon icon="key" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'labels.heading.Account Number Preferences' | translate}}</h4>
            <p matLine>{{'labels.text.Preferences for generating account numbers for client' | translate}}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['external-services']">
            <mat-icon matListIcon>
              <fa-icon icon="cog" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'labels.heading.External Services' | translate}}</h4>
            <p matLine>{{'labels.text.External Services Configuration' | translate}}</p>
          </mat-list-item>

          <mat-list-item>
            <mat-icon matListIcon>
              <fa-icon icon="key" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'labels.heading.Two-Factor Configuration' | translate}}</h4>
            <p matLine>{{'labels.text.Two-factor authentication configuration' | translate}}</p>
          </mat-list-item>

        </mat-nav-list>

      </div>

    </div>

  </mat-card>

</div>

<ng-template #templateDatatables let-popover="popover">
  <h2>{{'labels.heading.Manage Data Tables' | translate}}</h2>
  <p class="mw300">{{'labels.text.Mifos X data-tables allow the user to add custom fields' | translate}}</p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">{{'labels.buttons.Close' | translate}}</button>
    <button mat-raised-button color="primary" (click)="popover.close();previousStepDatatables()">{{'labels.buttons.Back' | translate}}</button>
    <button mat-raised-button color="primary" (click)="popover.close();nextStepDatatables()">{{'labels.buttons.Next' | translate}}</button>
  </div>
</ng-template>

<ng-template #templateCodes let-popover="popover">
  <h2>{{'labels.heading.Manage Codes' | translate}}</h2>
  <p class="mw300">{{'labels.text.Selection you can create new drop-downs and edit' | translate}}</p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">{{'labels.buttons.Close' | translate}}</button>
    <button mat-raised-button color="primary" (click)="popover.close();previousStepCodes()">{{'labels.buttons.Back' | translate}}</button>
    <button mat-raised-button color="primary" (click)="popover.close();nextStepCodes()">{{'labels.buttons.Next' | translate}}</button>
  </div>
</ng-template>

<ng-template #templateRolesandPermission let-popover="popover">
  <h2>{{'labels.heading.Manage Roles and Permissions' | translate}}</h2>
  <p class="mw300">{{'labels.text.Roles and Permissions allow the administrator to control access' | translate}}</p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">{{'labels.buttons.Close' | translate}}</button>
    <button mat-raised-button color="primary" (click)="popover.close();previousStepRolesandPermission()">{{'labels.buttons.Back' | translate}}</button>
    <button mat-raised-button color="primary" (click)="popover.close();nextStepRolesandPermission()">{{'labels.buttons.Next' | translate}}</button>
  </div>
</ng-template>

<ng-template #templateMakerCheckerTable let-popover="popover">
  <h2>{{'labels.heading.Configure Maker-Checker Tasks' | translate}}</h2>
  <p class="mw300">{{'labels.text.“Maker-Checker” principle requires every tasks' | translate}}</p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">{{'labels.buttons.Close' | translate}}</button>
    <button mat-raised-button color="primary" (click)="popover.close();previousStepMakerCheckerTable()">{{'labels.buttons.Back' | translate}}</button>
    <button mat-raised-button color="primary" (click)="popover.close();nextStepMakerCheckerTable()">{{'labels.buttons.Next' | translate}}</button>
  </div>
</ng-template>

<ng-template #templateConfigurations let-popover="popover">
  <h2>{{'labels.heading.Configuration' | translate}}</h2>
  <p class="mw300">{{'labels.text.Configurations page allows you to further customize' | translate}}</p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">{{'labels.buttons.Close' | translate}}</button>
    <button mat-raised-button color="primary" (click)="popover.close();previousStepConfigurations()">{{'labels.buttons.Back' | translate}}</button>
    <button mat-raised-button color="primary" (click)="popover.close();nextStepConfigurations()">{{'labels.buttons.Next' | translate}}</button>
  </div>
</ng-template>

<ng-template #templateSchedulerJobs let-popover="popover">
  <h2>{{'labels.heading.Manage Scheduler Jobs' | translate}}</h2>
  <p class="mw300">{{'labels.text.Scheduler Jobs can set batch jobs' | translate}}</p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">{{'labels.buttons.Close' | translate}}</button>
    <button mat-raised-button color="primary" (click)="popover.close();previousStepSchedulerJobs()">{{'labels.buttons.Back' | translate}}</button>
    <button mat-raised-button color="primary" (click)="popover.close();nextStepSchedulerJobs()">{{'labels.buttons.Next' | translate}}</button>
  </div>
</ng-template>

<ng-template #templateManageReports let-popover="popover">
  <h2>{{'labels.heading.Manage Reports' | translate}}</h2>
  <p class="mw300">{{'labels.text.Add customized reports and edit core reports' | translate}}</p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">{{'labels.buttons.Close' | translate}}</button>
    <button mat-raised-button color="primary" (click)="popover.close();previousStepManageReports()">{{'labels.buttons.Back' | translate}}</button>
    <button mat-raised-button color="primary" (click)="popover.close();nextStepManageReports()">{{'labels.buttons.Next' | translate}}</button>
  </div>
</ng-template>
