<form [formGroup]="recurringDepositAccountCurrencyForm">

  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

    <mat-form-field fxFlex="48%">
      <mat-label>{{"labels.inputs.Currency" | translate }}</mat-label>
      <input type="text" matInput formControlName="currencyCode" matTooltip="Add Currency" matTooltipPosition="above" required>

    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{"labels.inputs.Decimal Places" | translate }}</mat-label>
      <input type="number" matInput formControlName="decimalPlaces" required matTooltip="Add Decimal Places" matTooltipPosition="above">
    </mat-form-field>

  </div>

  <div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
    <button mat-raised-button matStepperPrevious>
      <fa-icon icon="arrow-left" class="m-r-10"></fa-icon>
      {{"labels.buttons.Previous" | translate }}
    </button>
    <button mat-raised-button matStepperNext>
      {{"labels.buttons.Next" | translate }}
      <fa-icon icon="arrow-right" class="m-l-10"></fa-icon>
    </button>
  </div>

</form>
