.password-never-expires-wrapper {
  padding: 17.5px 0 17.5px 0;
}

.send-password-to-email-wrapper {
  padding: 17.5px 0 17.5px 0;
}

.reset-password-error {
  color: #f44336;
  font-size: 80%;
  margin: 0;
}
